<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
    <!--<add name="MJPConnectionStringTEST" connectionString="Data Source=DIVERSCAN\SQLEXPRESS2012;Initial Catalog=TRACEID;Persist Security Info=True;User ID=sa;Password=SetDiv2016" providerName="System.Data.SqlClient" />
		<add name="MJPConnectionStringPROD" connectionString="Data Source=acces-o.com\SQL2008R2EX;Initial Catalog=TRACEID;Persist Security Info=True;User ID=DIV_Diverscan;Password=D1v3rscanecp625" providerName="System.Data.SqlClient" />
    <add name="MJPConnectionStringARALLANES" connectionString="Data Source=172.16.10.82;Initial Catalog=TRACEID;Persist Security Info=True;User ID=diverscan;Password=America20Scan16" providerName="System.Data.SqlClient" />-->
    <add name="MJPConnectionString" connectionString="Data Source=138.59.16.3;Initial Catalog=TRACEID_PANAL;Persist Security Info=True;User ID=sa;Password=SetDiv2018" providerName="System.Data.SqlClient" />  
  </connectionStrings>
	<appSettings>
    <add key="RutaLogErrores" value="C:\Desarrollo\LogErrores\" />
    <add key="RutaLogSincro" value="C:\Desarrollo\LogSincro\" />
    <add key="RutaArchivos" value="C:\Desarrollo\Archivos\" />
		<add key="idUsuario" value="0" />
		<add key="ServiceName" value="WS_MotorDecisiones" />
		<add key="ServiceDescription" value="Servicio Motor de Decisiones" />
		<add key="CollateBD" value="Modern_Spanish_CI_AS" />
		<add key="idCompania" value="AMCO" />
    <!--Companias: PIZZA: AMCO, ARALLANES: ZFA, ARALLANES: IFE, -->
		<add key="MostrarConexion" value="SetDiv2016" />

		<!--Control Timers-->
	<add key="TimerInsertar" value="30000" />
    <add key="TimerActualizar" value="30000" />
	<add key="TimerTransaccional" value="30000" />
    <add key="DiasFechaVencimiento" value="-5" />
		<!-- //==========// -->
    
    <!--Control Timers-->
    <add key="LogIniciar" value="Iniciar" />
    <add key="LogInsert" value="Insertar" />
    <add key="LogUpdate" value="Actualizar" />
    <add key="LogTransaccion" value="Transaccional" />
    <!-- //==========// -->

	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>