



  	SELECT *
			FROM 
				 [dbo].[Vista_TRAUbicacionLoteArticulo]  VTULA
				 where IdArticulo = 49

SELECT *
			FROM 
				 [dbo].[Trazabilidad]  VTULA
				 where IdArticulo = 49


SELECT *
			FROM 
[dbo].[TrazabilidadAuxEntrada] TRAAE
inner join Trazabilidad TRA
on TRAAE.[IdTrazabilidad] = TRA.[IdTrazabilidad]
where TRA.[IdArticulo]=49

SELECT *
			FROM 
[dbo].[TrazabilidadAuxSalida] TRAAS
inner join Trazabilidad TRA
on TRAAS.[IdTrazabilidad] = TRA.[IdTrazabilidad]
where TRA.[IdArticulo]=49


