/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]    Script Date: 13/2/2018 15:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]
@idCompania VARCHAR(20),
@buscar VARCHAR(500),
@idBodega bigint = 0

AS

BEGIN



----Version 1: Falta ajustar las cantidades
--	SELECT
--		 a.idPreLineaDetalleSolicitud
--		,a.idMaestroSolicitud
--		,a.Nombre
--		--,c.idArticulo
--		,c.idInterno
--		,c.Nombre AS NombreArticulo
--		,a.Cantidad
--		,vula.Cantidad AS CantidadBodega
--		,(vula.Cantidad - a.Cantidad) AS Diferencia
--		--,(vula.Cantidad - a.Cantidad) AS Diferencia
--		,CASE (SELECT TOP 1 Granel FROM ADMMaestroArticulo WHERE idInterno = c.idInterno) WHEN '1' THEN 'Kilos' ELSE (SELECT TOP 1 Unidad_Medida FROM ADMMaestroArticulo WHERE idInterno = c.idInterno) END AS Unidad_Medida
--		,c.idBodega
--	FROM dbo.OPESALPreDetalleSolicitud a
	
--	INNER JOIN OPESALMaestroSolicitud b
--	ON a.idMaestroSolicitud = b.idMaestroSolicitud
	
--	INNER JOIN ADMMaestroArticulo c
--	ON a.idInternoArticulo = c.idInterno
	


--	INNER JOIN ADMMaestroUbicacion mu
--	ON mu.idBodega = c.idBodega

--	INNER JOIN Vista_TRAUbicacionLoteArticulo vula
--	ON mu.idUbicacion = vula.IdUbicacion
--	AND vula.idArticulo = c.idArticulo

--	WHERE b.idCompania = @idCompania
--			AND a.idMaestroSolicitud = @buscar
--			AND c.idBodega = @idBodega
		
--	GROUP BY
--		a.idPreLineaDetalleSolicitud
--		,a.idMaestroSolicitud
--		,a.Nombre
--		,c.idBodega
--		,c.idInterno
--		,c.Nombre
--		,a.Cantidad
--		,vula.Cantidad
--		--,c.Unidad_Medida
--		--,c.Granel
--	ORDER BY c.Nombre ASC








--Version 2: Se muestran las cantidades en unidades de medida indicadas
	SELECT
		 a.idPreLineaDetalleSolicitud
		,a.idMaestroSolicitud
		,a.Nombre
		--,c.idArticulo
		,c.idInterno
		,c.Nombre AS NombreArticulo

		--,a.Cantidad
		,CASE c.Granel
			WHEN 0 THEN
				--CantidadPedido
				CONVERT(INT,ISNULL(a.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0))
			ELSE
				--CantidadPedido
				CONVERT(INT,
					(CONVERT(INT,ISNULL(a.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0)))/1000)
		 
		 END		AS Cantidad --AS CantidadCorregida
			
		--,vula.Cantidad AS CantidadBodega
		--Cantidades en la unidad	
		,CASE c.Granel
			WHEN 0 THEN
				--CantidadBodega
				CONVERT(INT,ISNULL(vula.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0))
			ELSE
				--CantidadBodega
				CONVERT(INT,
					(CONVERT(INT,ISNULL(vula.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0)))/1000)
		 
		 END		AS CantidadBodega--AS CantidadBodegaCorregida



		--,(vula.Cantidad - a.Cantidad) AS Diferencia
		,CASE c.Granel
			WHEN 0 THEN
				--Cantidad Bodega 
				CONVERT(INT,ISNULL(vula.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0))
				-
				--CantidadPedido
				CONVERT(INT,ISNULL(a.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0))
			ELSE
				--Cantidad Bodega 
				CONVERT(INT,
					(CONVERT(INT,ISNULL(vula.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0)))/1000)
				-
				--CantidadPedido
				CONVERT(INT,
					(CONVERT(INT,ISNULL(a.Cantidad, 0)) * CONVERT(INT, ISNULL(c.Contenido, 0)))/1000)

		 
		 END		AS Diferencia--AS DiferenciaCorregida
		--Diferencia Corregida 
		
				
		,CASE (SELECT TOP 1 Granel FROM ADMMaestroArticulo WHERE idInterno = c.idInterno) WHEN '1' THEN 'Kilos' ELSE (SELECT TOP 1 Unidad_Medida FROM ADMMaestroArticulo WHERE idInterno = c.idInterno) END AS Unidad_Medida
		,c.idBodega
	FROM dbo.OPESALPreDetalleSolicitud a
	
	INNER JOIN OPESALMaestroSolicitud b
	ON a.idMaestroSolicitud = b.idMaestroSolicitud
	
	INNER JOIN ADMMaestroArticulo c
	ON a.idInternoArticulo = c.idInterno
	
	--Ubicacion del artículo en bodegas
	INNER JOIN ADMMaestroUbicacion mu
	ON mu.idBodega = c.idBodega

	--Unidades de alisto
	INNER JOIN Vista_TRAUbicacionLoteArticulo vula
	ON mu.idUbicacion = vula.IdUbicacion
	AND vula.idArticulo = c.idArticulo


	--Unidad Alisto Por defecto y GTIN
	INNER JOIN ADMUnidadAlistoDefecto uad
	ON vula.IdArticulo = uad.idArticulo


	WHERE b.idCompania = @idCompania
			AND a.idMaestroSolicitud = @buscar
			AND c.idBodega = @idBodega
		
	GROUP BY
		a.idPreLineaDetalleSolicitud
		,a.idMaestroSolicitud
		,a.Nombre
		,c.idBodega
		,c.idInterno
		,c.Nombre
		,a.Cantidad
		,vula.Cantidad
		,c.Granel
		,c.Contenido		
		--,c.Unidad_Medida
		--,c.Granel
	ORDER BY c.Nombre ASC


END

