/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]    Script Date: 22/2/2018 10:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]
	@PIdCompania VARCHAR(20),
	@PIdMaestroSolicitud BIGINT,
	@PIdBodega INT --= 0

AS

BEGIN
/*
				[Notas Version 4: 14-02-2018]
	-Muestra:
		-La cantidad del artículo solicitada en el pedido
		-La cantidad disponible del artículo en bodega
		-Muestra la diferencia entre lo solicitado y lo que existe en bodega
		-Valida si es granel para mostrar las cantidades
		-Valida que los artículos en ADMMaestroArticulo este activo
		-Muestra el nombre de las unidades de inventario por idInterno del artículo
*/
	SELECT		
		 PDS.idInternoArticulo			AS IdInternoArticulo	
		,MA.Nombre						AS NombreArticulo
		--,MA.Unidad_Medida				AS UnidadMedida
		--,CASE UAD.esGTIN13 
		--	WHEN 0 THEN
		--		(SELECT TOP 1 ISNULL(SUBSTRING(VLGTIN14.Nombre, CHARINDEX('-', VLGTIN14.Nombre, 0) + 1, LEN(VLGTIN14.Nombre)), 'N/A') AS Empaque FROM ADMGTIN14VariableLogistica VLGTIN14 WHERE VLGTIN14.IdInterno = PDS.idInternoArticulo ORDER BY VLGTIN14.ConsecutivoGTIN14 ASC)
		--		--ISNULL(VRG1314.Empaque, 'N/A')
		--	ELSE
		--		ISNULL(SUBSTRING(MA.Empaque, CHARINDEX('-', MA.Empaque, 0) + 1, LEN(MA.Empaque)) , 'N/A')
		--END								AS UnidadMedida
		,ISNULL(SUBSTRING(MA.Empaque, CHARINDEX('-', MA.Empaque, 0) + 1, LEN(MA.Empaque)) , 'N/A')
											AS UnidadMedida	
		/*************CANTIDAD PEDIDO*******************/
		,CASE MA.Granel
				WHEN 0 THEN ISNULL(SUM(PDS.Cantidad), 0)	
				WHEN 1 THEN ISNULL((SUM(PDS.Cantidad))/1000, 0)
		 END							AS CantidadEnPedido	

		/*************CANTIDAD EN BODEGA*******************/
		,ISNULL((
			SELECT TOP 1
				CASE MASub.Granel
					WHEN 0 THEN CONVERT(DECIMAL(18,2), ISNULL(SUM(VAD.Cantidad),0))	
					WHEN 1 THEN CONVERT(DECIMAL(18,2), ISNULL((SUM(VAD.Cantidad)/1000),0))	
				END							AS CantidadEnBodega	
			FROM 
				Vista_ArticulosDisponibles VAD
				INNER JOIN ADMMaestroArticulo MASub
				ON MASub.idArticulo = VAD.IdArticulo
			WHERE
					MASub.idInterno = PDS.idInternoArticulo
				AND	MASub.idCompania = PDS.IdCompania
				AND MASub.Activo = 1
			GROUP BY
				 VAD.IdArticulo
				,MASub.Granel			
				,MASub.Activo
			),0)							AS CantidadEnBodega

		/*************CANTIDAD DISPONIBLE*******************/
		,ISNULL((--Cantidad Bodega	 		
		SELECT TOP 1 
			CASE MASub.Granel
				WHEN 0 THEN CONVERT(DECIMAL(18,2), ISNULL(SUM(VAD.Cantidad),0))	
				WHEN 1 THEN CONVERT(DECIMAL(18,2), ISNULL((SUM(VAD.Cantidad)/1000),0))	
			END							AS CantidadEnBodega	
		FROM 
			Vista_ArticulosDisponibles VAD
			INNER JOIN ADMMaestroArticulo MASub
			ON MASub.idArticulo = VAD.IdArticulo
		WHERE
				MASub.idInterno = PDS.idInternoArticulo
			AND	MASub.idCompania = PDS.IdCompania
			AND MASub.Activo = 1
		GROUP BY
			 VAD.IdArticulo
			,MASub.Granel
			,MASub.Activo
	
		),0) 
		- 
		CASE MA.Granel --Se obtiene la cantidad 
			WHEN 0 THEN CONVERT(DECIMAL(18,2), ISNULL(SUM(PDS.Cantidad), 0))
			WHEN 1 THEN CONVERT(DECIMAL(18,2), ISNULL((SUM(PDS.Cantidad)/1000), 0))
		END								AS DiferenciaBodegaPedido
		,CASE MA.Granel
				WHEN 0 THEN 'No granel'
				WHEN 1 THEN 'Granel'
			END							AS TipoArticulo
	FROM 
		OPESALPreDetalleSolicitud PDS 

		INNER JOIN ADMMaestroArticulo MA
			ON PDS.idInternoArticulo = MA.idInterno

		INNER JOIN ADMUnidadAlistoDefecto UAD
			ON MA.idArticulo = UAD.idArticulo

	WHERE 
			PDS.idMaestroSolicitud =  @PIdMaestroSolicitud--IdMaestroSolicitud
		AND	PDS.IdCompania = @PIdCompania
		AND MA.idBodega = @PIdBodega
		AND MA.Activo = 1
	GROUP BY
		 PDS.idInternoArticulo
        ,MA.idInterno
		,PDS.IdCompania	
		,PDS.idMaestroSolicitud
		,MA.Nombre
		,MA.Unidad_Medida		
		,MA.Empaque	
		,UAD.esGTIN13	
		,MA.Granel
		,MA.Activo
			
			
	ORDER BY 
		MA.Nombre ASC
END
GO
EXEC [SP_Obtener_Disponibilidad_Bodega_X_Pedido] 'AMCO', 3426, 1 --DETALLE DEL PEDIDO O SOLICITUD

