/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]    Script Date: 13/2/2018 15:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Disponibilidad_Bodega_X_Pedido]
	@PIdCompania VARCHAR(20),
	@PIdMaestroSolicitud BIGINT,
	@PIdBodega INT --= 0

AS

BEGIN
/*
				[Notas Version 3: 14-02-2018]
	-Muestra:
		-La cantidad del artículo solicitada en el pedido
		-La cantidad disponible del artículo en bodega
		-Muestra la diferencia entre lo solicitado y lo que existe en bodega
		-Valida si es granel para mostrar las cantidades
		-Valida que los artículos en ADMMaestroArticulo este activo
*/
	SELECT		
		 PDS.idInternoArticulo			AS IdInternoArticulo	
		,MA.Nombre						AS NombreArticulo
		,MA.Unidad_Medida				AS UnidadMedida
		/*************CANTIDAD PEDIDO*******************/
		,CASE MA.Granel
				WHEN 0 THEN ISNULL(SUM(PDS.Cantidad), 0)	
				WHEN 1 THEN ISNULL((SUM(PDS.Cantidad))/1000, 0)
		 END							AS CantidadEnPedido	

		/*************CANTIDAD EN BODEGA*******************/
		,ISNULL((
			SELECT TOP 1
				CASE MASub.Granel
					WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(VAD.Cantidad),0))	
					WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(VAD.Cantidad)/1000),0))	
				END							AS CantidadEnBodega	
			FROM 
				Vista_ArticulosDisponibles VAD
				INNER JOIN ADMMaestroArticulo MASub
				ON MASub.idArticulo = VAD.IdArticulo
			WHERE
					MASub.idInterno = PDS.idInternoArticulo
				AND	MASub.idCompania = PDS.IdCompania
				AND MASub.Activo = 1
			GROUP BY
				 VAD.IdArticulo
				,MASub.Granel			
				,MASub.Activo
			),0)							AS CantidadEnBodega

		/*************CANTIDAD DISPONIBLE*******************/
		,ISNULL((--Cantidad Bodega	 		
		SELECT TOP 1 
			CASE MASub.Granel
				WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(VAD.Cantidad),0))	
				WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(VAD.Cantidad)/1000),0))	
			END							AS CantidadEnBodega	
		FROM 
			Vista_ArticulosDisponibles VAD
			INNER JOIN ADMMaestroArticulo MASub
			ON MASub.idArticulo = VAD.IdArticulo
		WHERE
				MASub.idInterno = PDS.idInternoArticulo
			AND	MASub.idCompania = PDS.IdCompania
			AND MASub.Activo = 1
		GROUP BY
			 VAD.IdArticulo
			,MASub.Granel
			,MASub.Activo
	
		),0) 
		- 
		CASE MA.Granel --Se obtiene la cantidad 
			WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(PDS.Cantidad), 0))
			WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(PDS.Cantidad)/1000), 0))
		END								AS DiferenciaBodegaPedido
		,CASE MA.Granel
				WHEN 0 THEN 'No granel'
				WHEN 1 THEN 'Granel'
			END							AS TipoArticulo
	FROM 
		OPESALPreDetalleSolicitud PDS 
		INNER JOIN ADMMaestroArticulo MA
		ON PDS.idInternoArticulo = MA.idInterno
	WHERE 
			PDS.idMaestroSolicitud =  @PIdMaestroSolicitud--IdMaestroSolicitud
		AND	PDS.IdCompania = @PIdCompania
		AND MA.idBodega = @PIdBodega
		AND MA.Activo = 1
	GROUP BY
		 PDS.idInternoArticulo
		,PDS.IdCompania	
		,PDS.idMaestroSolicitud
		,MA.Nombre
		,MA.Unidad_Medida		
		,MA.Granel
		,MA.Activo
	ORDER BY 
		MA.Nombre ASC
END
GO
EXEC [SP_Obtener_Disponibilidad_Bodega_X_Pedido] 'AMCO', 3072, 1
GO


---MUESTRA EL DETALLE DE UN PEDIDO EN UNA BODEGA ESPECÍFICA
--SELECT * FROM Vista_ArticulosDisponibles
--SELECT * FROM OPESALPreDetalleSolicitud PDS WHERE PDS.idMaestroSolicitud = 3072
--SELECT * FROM OPESALMaestroSolicitud MS WHERE MS.idMaestroSolicitud = 3072


--OBTENER DISPONIBLE EN BODEGA POR ARTÍCULO
--SELECT
--	 VAD.IdArticulo
--	,MA.Nombre
--	,SUM(VAD.Cantidad) CantidadEnBodega
--	--*
--FROM 
--	Vista_ArticulosDisponibles VAD
--	INNER JOIN ADMMaestroArticulo MA
--	ON MA.idArticulo = VAD.IdArticulo
--GROUP BY
--	 VAD.IdArticulo
--	,MA.Nombre
--GO

--REPORTE MEJORADO -- Consulta para probar reporte
--DECLARE 
--	 @IdBodega INT
--	,@IdCompania VARCHAR(10)
--	,@IdMaestroSolicitud BIGINT
--	SET @IdBodega = 1
--	SET @IdCompania = 'AMCO'
--	SET @IdMaestroSolicitud = 3072

--SELECT

--	 PDS.idInternoArticulo			AS IdInternoArticulo	
--	,MA.Nombre						AS NombreArticulo
--	,MA.Unidad_Medida				AS UnidadMedida
--	/*************CANTIDAD PEDIDO*******************/
--	,CASE MA.Granel
--		 WHEN 0 THEN ISNULL(SUM(PDS.Cantidad), 0)	
--		 WHEN 1 THEN ISNULL((SUM(PDS.Cantidad))/1000, 0)
--	 END							AS CantidadEnPedido	

--	/*************CANTIDAD EN BODEGA*******************/
--	,ISNULL((
--		SELECT TOP 1
--			CASE MASub.Granel
--				WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(VAD.Cantidad),0))	
--				WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(VAD.Cantidad)/1000),0))	
--			END							AS CantidadEnBodega	
--		FROM 
--			Vista_ArticulosDisponibles VAD
--			INNER JOIN ADMMaestroArticulo MASub
--			ON MASub.idArticulo = VAD.IdArticulo
--		WHERE
--				MASub.idInterno = PDS.idInternoArticulo
--			AND	MASub.idCompania = PDS.IdCompania
--		GROUP BY
--			 VAD.IdArticulo
--			,MASub.Granel			
--		),0)							AS CantidadEnBodega

--	/*************CANTIDAD DISPONIBLE*******************/
--	,ISNULL((--Cantidad Bodega	 		
--	SELECT TOP 1 
--		CASE MASub.Granel
--			WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(VAD.Cantidad),0))	
--			WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(VAD.Cantidad)/1000),0))	
--		END							AS CantidadEnBodega	
--	FROM 
--		Vista_ArticulosDisponibles VAD
--		INNER JOIN ADMMaestroArticulo MASub
--		ON MASub.idArticulo = VAD.IdArticulo
--	WHERE
--			MASub.idInterno = PDS.idInternoArticulo
--		AND	MASub.idCompania = PDS.IdCompania
--	GROUP BY
--		 VAD.IdArticulo
--		,MASub.Granel
	
--	),0) 
--	- 
--	CASE MA.Granel --Se obtiene la cantidad 
--		WHEN 0 THEN CONVERT(DECIMAL, ISNULL(SUM(PDS.Cantidad), 0))
--		WHEN 1 THEN CONVERT(DECIMAL, ISNULL((SUM(PDS.Cantidad)/1000), 0))
--	END								AS DiferenciaBodegaPedido
--	,CASE MA.Granel
--		 WHEN 0 THEN 'No granel'
--		 WHEN 1 THEN 'Granel'
--	 END							AS TipoArticulo
--FROM 
--	OPESALPreDetalleSolicitud PDS 
--	INNER JOIN ADMMaestroArticulo MA
--	ON PDS.idInternoArticulo = MA.idInterno
--WHERE 
--		PDS.idMaestroSolicitud =  @IdMaestroSolicitud--IdMaestroSolicitud
--	AND	PDS.IdCompania = @IdCompania
--	AND MA.idBodega = @IdBodega
--GROUP BY
--	 PDS.idInternoArticulo
--	,PDS.IdCompania	
--	,PDS.idMaestroSolicitud
--	,MA.Nombre
--	,MA.Unidad_Medida		
--	,MA.Granel
--ORDER BY 
--    MA.Nombre ASC
--GO











