/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDetalleSoliditudAjusteInventario]    Script Date: 21/2/2018 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerDetalleSoliditudAjusteInventario]	
		@IdSolicitudAjusteInventario bigint
AS
		select AXS.IdArticuloXSolicitud,
		AXS.IdSolicitudAjusteInventario,
		AXS.IdArticulo,
		AMDMA.Nombre as NombreArticulo,
		AMDMA.idInterno,
		AMDMA.Unidad_Medida,
		AMDMA.Granel,

		--================================>
		-- Porque Cantidades INT no?
		-- Si las cantidades son int no
		-- se toman en cuenta los ajustes 
		-- de artículos con contenido 0. algo
		-- dado el al convertirlo toma el valor entero
		--================================>
		--CASE AMDMA.Granel
		--	WHEN 0 THEN --Si es granel
		--		CONVERT(INT,
		--			ISNULL(AXS.Cantidad, 0) * ISNULL(AMDMA.Contenido, 0))
		--	ELSE --No es granel
		--		CONVERT(INT,
		--			(ISNULL(AXS.Cantidad, 0) * ISNULL(AMDMA.Contenido, 0))/1000)
		--END
		--AS CantidadUI,		
		CASE AMDMA.Granel
			WHEN 0 THEN --Si es granel
				CONVERT(decimal(18,2),
					ISNULL(AXS.Cantidad, 0) * ISNULL(AMDMA.Contenido, 0))
			ELSE --No es granel
				CONVERT(decimal(18,2),
					(ISNULL(AXS.Cantidad, 0) * ISNULL(AMDMA.Contenido, 0))/1000)
		END
		--AMDMA.Contenido,
		AS CantidadUI,

					
		AXS.Cantidad,
		AXS.Lote,
		AXS.FechaVencimiento,
		AXS.IdUbicacionActual,
		VCMU.ETIQUETA,
		ADMC.Precio
		from RELArticuloXSolicitudAjuste AXS
		inner join dbo.ADMMaestroArticulo as AMDMA
		on AXS.IdArticulo = AMDMA.idArticulo
		inner join dbo.Vista_CodigosMaestroUbicacion as VCMU
		on VCMU.idUbicacion = AXS.IdUbicacionActual		
		left join ADMCostoArticulos ADMC
		on ADMC.idArticulo =AXS.IdArticulo
		where IdSolicitudAjusteInventario = @IdSolicitudAjusteInventario

