/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Articulos_IdInternoERP]    Script Date: 5/4/2018 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Articulos_IdInternoERP_Por_Proveedor]
	@IdProveedor BIGINT	
AS
BEGIN
--	SELECT
--		 MA.idInterno			AS IdArticuloERP
--		,MA.Nombre				AS NombreArticulo
--		,(MA.Nombre + ' -- ' + MA.idInterno)
--								AS NombreArticuloIDInterno 
--		,COUNT(MA.idInterno)	AS CantidadArticulosPorIdInterno 

--	FROM 
--		 ADMMaestroArticulo MA
--		 --INNER JOIN Vista_SINCRELArticulosProveedor
----		 INNER JOIN Vista_ERP_PIZZA_RELArticulosProveedor VRAP		 		 
--	WHERE
--		 MA.Activo = 1	
--	GROUP BY
--		 MA.idInterno
--		,MA.Nombre
--	ORDER BY 
--		MA.Nombre ASC



	SELECT
		 ADMMA.idInterno	AS IdArticuloERP
		,ADMMA.Nombre		AS NombreArticulo
		,(ADMMA.Nombre + ' -- ' + ADMMA.idInterno)
								AS NombreArticuloIDInterno 
		,COUNT(ADMMA.idInterno)	AS CantidadArticulosPorIdInterno 
		--,* 
	FROM 
		Vista_ERP_PIZZA_RELArticulosProveedor VRAP
	
		INNER JOIN ADMMaestroArticulo ADMMA 
		ON VRAP.idArticulo = ADMMA.idArticulo
	WHERE 
		VRAP.ProveedorDefecto = 1
		AND 
		ADMMA.Activo = 1
		AND 
		VRAP.IdProveedor = @IdProveedor
	GROUP BY
		 ADMMA.idInterno
		,ADMMA.Nombre
END
GO

--SELECT 
--	* 
--FROM 
--	Vista_ERP_PIZZA_RELArticulosProveedor VRAP
	
--	INNER JOIN ADMMaestroArticulo ADMMA 
--	ON VRAP.idArticulo = ADMMA.idArticulo
--WHERE 
--	VRAP.ProveedorDefecto = 1
--	AND 
--	ADMMA.Activo = 1
	