/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerHistoricoDemandaProveedorFechasV2]    Script Date: 5/4/2018 13:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerHistoricoDemandaProveedorFechasV2]
	 @FechaInicio	AS DATETIME
	,@FechaFin		AS DATETIME
	,@IdProveedor	BIGINT

AS
BEGIN
	--SELECT 
	--	CASE ADMMA.Granel
	--	WHEN 0 
	--		THEN
	--			CONVERT(DECIMAL(18,6), (SUM(OPDS.Cantidad)))
	--		ELSE
	--			CONVERT(DECIMAL(18,6), (SUM(OPDS.Cantidad)))
	--	END
	--											AS Cantidad
	--	,ADMMA.Nombre							AS NombreArticulo
	--	,OPDS.idInternoArticulo
	--	,SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida) + 1, LEN(ADMMA.Unidad_Medida))
	--											AS Unidad_Medida
	--FROM 
	--	OPESALPreDetalleSolicitud OPDS
	--	INNER JOIN ADMMaestroArticulo ADMMA
	--	ON ADMMA.idInterno = OPDS.idInternoArticulo 
		
	--	INNER JOIN RELArticulosProveedor RAP
	--	ON RAP.idArticulo = ADMMA.idArticulo
		
	--	INNER JOIN ADMProveedor ADMP
	--	ON ADMP.IdProveedor = RAP.IdProveedor
	--WHERE 
	--	RAP.IdProveedor = @IdProveedor 
	--	AND
	--	CONVERT(DATE, OPDS.FechaRegistro) BETWEEN CONVERT(DATE, @FechaInicio) AND CONVERT(DATE, @FechaFin)
	--GROUP BY 
	--	 ADMMA.Nombre
	--	,OPDS.idInternoArticulo
	--	,ADMMA.Unidad_Medida		
	--	,ADMMA.Contenido
	--	,ADMMA.Granel
	--ORDER BY ADMMA.Nombre ASC




	SELECT 
		CASE VAGNG.EsGranel
		WHEN 0 
			THEN
				CONVERT(DECIMAL(18,6), (SUM(OPDS.Cantidad)))
			ELSE
				CONVERT(DECIMAL(18,6), (SUM(OPDS.Cantidad)))
		END
												AS Cantidad
		,VAGNG.NombreArticulo					AS NombreArticulo
		,OPDS.idInternoArticulo
		,VAGNG.UnidadMedida
												AS Unidad_Medida
	FROM 
		OPESALPreDetalleSolicitud OPDS


		--INNER JOIN ADMMaestroArticulo ADMMA
		--ON ADMMA.idInterno = OPDS.idInternoArticulo 
		
		INNER JOIN Vista_ArticulosIdInterno_Granel_NoGranel VAGNG
		ON OPDS.idInternoArticulo = VAGNG.IdInternoArticulo
		
		INNER JOIN ADMProveedor ADMP
		ON ADMP.IdProveedor = RAP.IdProveedor
	WHERE 
		RAP.IdProveedor = @IdProveedor 
		AND
		CONVERT(DATE, OPDS.FechaRegistro) BETWEEN CONVERT(DATE, @FechaInicio) AND CONVERT(DATE, @FechaFin)
	GROUP BY 
		 VAGNG.NombreArticulo
		,OPDS.idInternoArticulo
		,VAGNG.UnidadMedida				
		,VAGNG.EsGranel
	ORDER BY ADMMA.Nombre ASC


END
GO
EXEC [SP_ObtenerHistoricoDemandaProveedorFechasV2] '06-04-2018', '06-04-2018', 340 
SELECT * FROM ADMMaestroArticulo ADMMA WHERE ADMMA.idInterno = 10002 AND ADMMA.Activo = 1
SELECT * FROM Vista_ERP_PIZZA_RELArticulosProveedor VRAP WHERE VRAP.idArticulo IN(16, 773) 
SELECT * FROM ADMProveedor P WHERE P.IdProveedor IN(2066, 2102) OR P.Nombre LIKE '%MOLINOS%'