USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_AlistaArticulo]    Script Date: 10/11/2017 11:30:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--use TRACEID
--exec SP_AlistaArticulo 5,'AMCO','174452390000000001',28,'070817','2017-11-07',7,5,25

create procedure [dbo].[SP_AlistaArticuloV2]
 /*=============================================================================
    Autor......: Nelson Calderón S.
    Fecha......: 11-oct-2017
    Descripción: Se cambia el proceso a que tome en cuenta las unidades de alisto(caja, bolsa, bulto, etc.)
    ----------------------------------------------------------------------------
	Autor......: Nelson Calderón S.
    Fecha......: 01-sep-2017
    Descripción: se le añade la ubicación, en caso de que la tarea ocupe mas de 1
                 ubicación para ser completada.
    ----------------------------------------------------------------------------
    Autor......: Nelson Calderón S.
    Fecha......: 23-ago-2017
    Descripción: toma en cuenta si el artículo es de granel.
    ----------------------------------------------------------------------------
    Autor......: Nelson Calderón S.
    Fecha......: 17-ago-2017
    Descripción: devuelve mensaje si registros a insertar en RELSSCCTRA se repiten.
    ----------------------------------------------------------------------------
    Autor......: Nelson Calderón S.
    Fecha......: 14-ago-2017
    Descripción: devuelve mensaje si no encuentra artículos que alistar.
    ----------------------------------------------------------------------------
    Autor......: Nelson Calderón S.
    Fecha......: 20-jul-2017
    Descripción: Asocia los artículos que se alistan, en el SSCC.
    =============================================================================*/ 
  (
    @idArticulo BIGINT,
    @idCompania NVARCHAR(10),
    @SSCCGenerado NVARCHAR(25),
    @idMetodoAccion INT,
    @Lote NVARCHAR(10),
    @FV   NVARCHAR(10),
    @idMaestroSolicitud BIGINT,
    @Cantidad BIGINT,
    @Idubicacion BIGINT,
	@IdTarea BIGINT
  )
AS
BEGIN

  DECLARE @idEstado INT,
          @idRegistro BIGINT,
          @idConsecutivoSSCC BIGINT = -1,
          @CuentaPendiente DECIMAL(10,4),
          @Numdocaccion NVARCHAR(10),
          @UsarTransaccionLocal BIT,
          @Granel BIT,
          @Contador INT = 1,
          @idRegistroAnterior BIGINT,
          @CantidadAlistar BIGINT,
          @CantidadAlistarTolerancia BIGINT,
          @Tolerancia decimal(5,2),
          @Acumulado BIGINT = 0,
          @CantidadAlistarD DECIMAL(10,4),
          @AcumuladoD DECIMAL(10,4),
		  @CP DECIMAL(10,4),
		  @Empaque AS NVARCHAR(25),
		  @CantidadProceso BIGINT,
		  @idLineaDetalleSolicitud BIGINT
          
     
            
-- obtengo el consecutivo del SSCC generado
  SELECT @idConsecutivoSSCC = idConsecutivoSSCC  
    FROM ADMConsecutivosSSCC  
    WHERE idCompania = @idCompania
          AND SSCCGenerado = @SSCCGenerado
          AND SSCCGenerado IS NOT NULL


  IF @idConsecutivoSSCC = -1
  BEGIN
    SELECT 'SSCC NO ESTA GENERADO O LA LECTURA NO CORRESPONDE AL STANDARD...' AS Resultado,0,0
	RETURN
  END

  Declare @FechaVencimientoProxima date , @LoteProxima varchar(200) ,@IdUbicacionProxima bigint

 EXEC SP_ObtenerArticuloFechaVencimientoProxima @idArticulo, @OIdUbicacion = @IdUbicacionProxima output, @OLote = @LoteProxima output, @OFV = @FechaVencimientoProxima


  if(@FechaVencimientoProxima != REPLACE(@FV, '-', '') or @LoteProxima != @Lote OR @IdUbicacionProxima != @Idubicacion)
  BEGIN
    SELECT 'La Fecha de Vencimiento no es la mas pronta a Vencer...' AS Resultado,0,0
	RETURN
  END
	 


			
			SELECT @idLineaDetalleSolicitud = IdLineaDetalleSolicitud
				 FROM TareasUsuario 
				 WHERE IdTareasUsuario = @IdTarea

		

			INSERT INTO dbo.RELSSCCTRA (idRegistro,
	 									 idConsecutivoSSCC,
										 idMaestroSolicitud,
										 PesoGranel,
										 idArticulo,
										 Lote,
										 FechaVencimiento,
										 Cantidad,
										 idUbicacion,
										 idLineaDetalleSolicitud)
								   VALUES (0, 
										 @idConsecutivoSSCC, 
										 @idMaestroSolicitud,
										 0,
										 @idArticulo,
										 @Lote,
										 REPLACE(@FV, '-', ''),
										 @Cantidad,
										 @Idubicacion,
										 @idLineaDetalleSolicitud)


										 

    
-- cuenta los articulos pendientes de ubicar.

	Declare @CantidadUnidadAlistoDetalle int, @CantidadAlistoDetalle int

			select @CantidadUnidadAlistoDetalle=DS.CantidadUnidadAlisto,
			@CantidadAlistoDetalle=DS.CantidadUnidad
			from OPESALDetalleSolicitud DS
			WHERE idLineaDetalleSolicitud = @idLineaDetalleSolicitud

SELECT @CP = @CantidadDetalleSolicitud - @Cantidad-- lo que ya pistorio

if(@CP=0)
begin
	 -- cada vez que se asocia un artículo se le pone marca de alistado en la tabla de tareas de usuarios.
		UPDATE TareasUsuario
		    SET Alistado = 1,
			    suspendido = 0		        
		    WHERE IdTareasUsuario = @IdTarea
end


   
             

     SET @CP = @CuentaPendiente
          
-- 6 - obtengo la cantidad y empaque(presentación) del GTIN a utilizar.          
    SELECT TOP 1 @Empaque = Empaque,
                 @CuentaPendiente = (@CP/Cantidad)
      FROM TRACEID.dbo.Vista_RelacionGTIN13_GTIN14 
      WHERE idArticulo in (@idarticulo)
           AND (@CP/Cantidad) = CAST((@CP/Cantidad) as int)
      ORDER BY idArticulo,cantidad desc
      
    IF ISNULL(@Empaque,'0') = '0'
    BEGIN
      SELECT TOP 1 @CuentaPendiente = (Equivalencia * @CP)
        FROM TRACEID.dbo.Vista_RelacionGTIN13_GTIN14 
        WHERE idArticulo in (@idarticulo)
    END  

    IF @UsarTransaccionLocal = 1
	    COMMIT TRANSACTION;
	    
    SELECT 'TRANSACCIÓN EXITOSA...' AS RESULTADO,
           @CuentaPendiente         AS PendienteArticulo,--unidades de alisto
		   @CP                      AS PendienteArticuloGTIN --unidades
  
  END TRY
  BEGIN CATCH
    SELECT ERROR_MESSAGE()+ '-' + 
	       CAST(ERROR_LINE() as nvarchar(10)) + '-' + 
	       ERROR_PROCEDURE()  AS 'RESULTADO',0,0;
	           
	IF @UsarTransaccionLocal = 1
	  ROLLBACK TRANSACTION;
  END CATCH

END
    







