

/*=====================================================
			[VER ARTÍCULOS POR PROVEEDOR]
=====================================================*/
SELECT 
	 ADMP.IdProveedor
	,ADMP.Nombre
	,MA.idArticulo
	,MA.Nombre
FROM	
	ADMProveedor ADMP

	INNER JOIN RELArticulosProveedor RAP
	ON ADMP.IdProveedor = RAP.IdProveedor

	INNER JOIN  ADMMaestroArticulo MA
	ON RAP.idArticulo = MA.idArticulo
GROUP BY
	 ADMP.IdProveedor
	,ADMP.Nombre
	,MA.idArticulo
	,MA.Nombre
GO

/*=====================================================
	 [VER CANTIDAD DE ARTÍCULOS POR PROVEEDOR]
=====================================================*/
SELECT 
	 ADMP.IdProveedor
	,ADMP.Nombre
	,COUNT(ADMP.IdProveedor) AS CantidadArticulos
FROM	
	ADMProveedor ADMP

	INNER JOIN RELArticulosProveedor RAP
	ON ADMP.IdProveedor = RAP.IdProveedor

	INNER JOIN  ADMMaestroArticulo MA
	ON RAP.idArticulo = MA.idArticulo
GROUP BY
	 ADMP.IdProveedor
	,ADMP.Nombre
HAVING 
	COUNT(ADMP.IdProveedor) > 0
	
GO