/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_ArticulosGTIN_Por_Proveedor]    Script Date: 9/2/2018 16:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_Obtener_ArticulosGTIN_Por_Proveedor]
	@IdProveedor BIGINT
AS

BEGIN
	SELECT
		 MA.IdArticulo
		,MA.Nombre
		,MA.GTIN	
	FROM 
		RELArticulosProveedor RAP
		INNER JOIN ADMMaestroArticulo MA
		ON RAP.IdArticulo = MA.IdArticulo

	WHERE 
		RAP.IdProveedor = @IdProveedor	
	ORDER BY MA.Nombre ASC
		

END

