USE [TEST_TRACEID_V2]
GO
/****** Object:  UserDefinedFunction [dbo].[VerificarDisponibilidadTRA]    Script Date: 04/11/2017 15:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[VerificarDisponibilidadTRA]
(

	@IdArticulo AS INT,
    @Lote AS VARCHAR(200),
    @FechaVencimiento AS DATE,
    @IdUbicacionOrigen AS INT,	
    @Cantidad AS INT
)

RETURNS bit
AS
BEGIN
	DECLARE @CantidadExistente AS INT	

	set @CantidadExistente = (select sum(VTRA.Cantidad) from Vista_TRAUbicacionLoteArticulo as VTRA where
	VTRA.Lote=@Lote and
	VTRA.IdArticulo=@IdArticulo and
	VTRA.FechaVencimiento=@FechaVencimiento and
	VTRA.IdUbicacion=@IdUbicacionOrigen)

	IF (@CantidadExistente >= @Cantidad)
	begin
		return 1
	end
	return 0
end