USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_MovimientoTrazabilidad]    Script Date: 04/11/2017 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_MovimientoTrazabilidad]
    @IdArticulo AS INT,
    @Lote AS VARCHAR(200),
    @FechaVencimiento AS Date,
    @IdUbicacionOrigen AS INT,
	@IdUbicacionDestino AS INT,	
    @Cantidad AS INT,
	@IdUsuario AS INT,
	@IdMetodoAccionSalida int ,
	@IdMetodoAccionEntrada int
AS 
	 exec SP_SalidaTrazabilidad @IdArticulo,@Lote, @FechaVencimiento, @IdUbicacionOrigen ,@Cantidad,@IdUsuario,@IdMetodoAccionSalida
	 		
	 exec SP_EntradaTrazabilidad @IdArticulo,@Lote, @FechaVencimiento, @IdUbicacionOrigen,@IdUbicacionDestino ,@Cantidad,@IdUsuario,@IdMetodoAccionEntrada
		