USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_PrincipalMovimientoTrazabilidad]    Script Date: 05/11/2017 15:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SP_PrincipalMovimientoTrazabilidad]
    @IdArticulo AS INT,
    @Lote AS VARCHAR(200),
    @FechaVencimiento AS DATE,
    @IdUbicacionOrigen AS INT,
	@IdUbicacionDestino AS INT,
    @Cantidad AS INT,
	@IdUsuario AS INT,
	@IdMetodoAccionSalida int,
	@IdMetodoAccionEntrada int,
	@Resultado AS NVARCHAR(50) output
AS 
	DECLARE @ExisteDisponibilidad AS bit

	set @ExisteDisponibilidad=dbo.VerificarDisponibilidadTRA(@IdArticulo,@Lote,@FechaVencimiento,@IdUbicacionOrigen,@Cantidad)
	IF (@ExisteDisponibilidad = 1)
	begin
		exec SP_MovimientoTrazabilidad @IdArticulo,@Lote, @FechaVencimiento, @IdUbicacionOrigen,@IdUbicacionDestino ,@Cantidad,@IdUsuario, @IdMetodoAccionSalida,@IdMetodoAccionEntrada
		set @Resultado = 'Exitoso'
	end
	else
		set @Resultado = 'No existe Disponibilidad de la cantidad articulo'
	
	


