USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_SalidaTrazabilidad]    Script Date: 04/11/2017 17:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_SalidaTrazabilidad]
    @IdArticulo AS INT,
    @Lote AS VARCHAR(200),
    @FechaVencimiento AS Date,
    @IdUbicacion AS INT,
    @Cantidad AS INT,
	@IdUsuario AS INT,
	@IdMetodoAccion int
AS 
	DECLARE @CantidadRestante AS INT
	DECLARE @IdTrazabilidad AS INT
	DECLARE @CantidadTRA AS INT

	SET @CantidadRestante = @Cantidad
BEGIN
	DECLARE cursor_Cantidades CURSOR FOR
		SELECT TRA.IdTrazabilidad , TRAA.Cantidad
		FROM TrazabilidadAuxEntrada AS TRAA
		INNER JOIN Trazabilidad TRA
		ON TRAA.IdTrazabilidad = TRA.IdTrazabilidad
		WHERE TRA.IdArticulo = @IdArticulo AND
		TRA.Lote = @Lote AND
		TRA.FechaVencimiento = @FechaVencimiento AND 
		TRA.IdUbicacion = @IdUbicacion
		ORDER BY TRAA.Cantidad ASC
 
	OPEN cursor_Cantidades 
	FETCH NEXT FROM cursor_Cantidades INTO
		@IdTrazabilidad, @CantidadTRA
		WHILE @@FETCH_STATUS = 0  
		BEGIN 

			--================================================================>
			--						Notas de funcionamiento
			--================================================================>
			--[1].Si al restarle a la CantidadTRA la CantidadRestante (Equivale a cantidad Solicitada) 
			--el resultado es <= 0 se debe restar el valor en Tra y Eliminar el registro en el tabla aux 		
			IF ((@CantidadTRA - @CantidadRestante) < 0)
			BEGIN
				SET @CantidadRestante = @CantidadRestante - @CantidadTRA
			
				-->Registro de Trazabilidad
				INSERT INTO Trazabilidad
					(IdArticulo, Lote, FechaVencimiento, IdUbicacion, Cantidad, IdSecuencia, IdEstado,IdUsuario,IdMetodoAccion)
				VALUES
					(@IdArticulo, @Lote, @FechaVencimiento, @IdUbicacion, @CantidadTRA, @IdTrazabilidad, 14,@IdUsuario,@IdMetodoAccion)
			
				-->Borrado de la tabla TrazabilidadAuxEntrada
				DELETE FROM TrazabilidadAuxEntrada WHERE IdTrazabilidad = @IdTrazabilidad
			END



			--[2].Si al restar a la cantidad de CantidadTRA la CantidadRestante y el resultado es > 0 
			--de actualiza el registro en TrazabilidadAuxEntrada con las cantidades actualmente disponibles
			ELSE IF ((@CantidadTRA - @CantidadRestante) > 0)
			BEGIN	
								
				-->Registro de Trazabilidad
				INSERT INTO Trazabilidad
					(IdArticulo, Lote, FechaVencimiento, IdUbicacion, Cantidad, IdSecuencia, IdEstado,IdUsuario,IdMetodoAccion)
				VALUES
					(@IdArticulo, @Lote, @FechaVencimiento, @IdUbicacion, @CantidadRestante, @IdTrazabilidad, 14,@IdUsuario,@IdMetodoAccion)
							
				-->Actualización TrazabilidadAuxEntrada
				UPDATE TrazabilidadAuxEntrada 
				SET Cantidad = (@CantidadTRA - @CantidadRestante)
				WHERE IdTrazabilidad = @IdTrazabilidad		 			
				BREAK
			END
			ELSE IF ((@CantidadTRA - @CantidadRestante) = 0) --[3].Caso donde (CantidadRestante - CantidadTRA) = 0 
			BEGIN
			
				-->Registro de Trazabilidad 
				INSERT INTO Trazabilidad
					(IdArticulo, Lote, FechaVencimiento, IdUbicacion, Cantidad, IdSecuencia, IdEstado,IdUsuario,IdMetodoAccion)
				VALUES
					(@IdArticulo, @Lote, @FechaVencimiento, @IdUbicacion, @CantidadRestante, @IdTrazabilidad, 14,@IdUsuario,@IdMetodoAccion)

				-->Borrado de la tabla TrazabilidadAuxEntrada
				DELETE FROM TrazabilidadAuxEntrada WHERE IdTrazabilidad = @IdTrazabilidad
				BREAK
			END

					
			FETCH NEXT FROM cursor_Cantidades INTO 
			@IdTrazabilidad, @CantidadTRA
		END
	CLOSE cursor_Cantidades;  
	DEALLOCATE cursor_Cantidades;
END
