USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_IdArticulo_Proveedor_Pronto_A_Vencer_Detalle_Solicitud]    Script Date: 19/4/2018 11:06:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_IdArticulo_Proveedor_Pronto_A_Vencer_Detalle_Solicitud]
	 @PIdInternoArticulo	VARCHAR(1000)
	,@PCantidadKilosSolicitada	DECIMAL(18,2)
	,@PIdArticuloOUT 		BIGINT OUTPUT
	,@PGranelOUT            BIT	OUTPUT
	,@PIsFoundOUT			BIT OUTPUT

AS
BEGIN

------------------[CURSOR]-----------------------------
DECLARE 
	--Variables para recorrido de cursor		
	 @CIdArticulo	BIGINT
	,@CIdInterno	VARCHAR(1000)
	,@CGranel		BIT
	,@CFV			DATETIME
	,@CCantidadDisponible	DECIMAL(18,2)

	--Variables para compararción de elementos en el cursor
	,@AUXIdArticulo	BIGINT
	,@AUXIdInterno	VARCHAR(1000)
	,@AUXGranel		BIT
	,@AUXFV			DATETIME
	,@AUXCantidadUI	DECIMAL(18,2)


	--BANDERAS DE CURSOR
	,@AUXCantidadEstaDisponible	BIT,
	 @AUXArticuloDisponible BIT

	--Tabla temporal para cargar los registros de la consulta
	DECLARE @TempArticulosDisponibles TABLE
	(
		 idArticulo BIGINT
		,idInterno	VARCHAR(1000)	
		,Granel		BIT
		,FV			DATE
		,CantidadUI DECIMAL(18,2)
	)

	INSERT INTO @TempArticulosDisponibles
		--[Consulta para extraer los datos]
		SELECT 
			VDAP.idarticulo,
			VDAP.idInterno,
			VDAP.Granel,
			--Fecha de vencimiento más pronta a vencer IdArticulo 
			(SELECT TOP 1 FV FROM Vista_DisponibilidadArticulos VD WHERE VDAP.idarticulo = VD.idarticulo ORDER BY FV ASC) FV, 
			--Cantidad total de artículo ignorando su fecha vencimiento y agrupado por IdInterno
			(SELECT TOP 1
				T.CantidadUI	
			FROM 	
			(SELECT--SE OBTIENE LA CANTIDAD por artículo que pertenece al mismo idinterno
				VDAS.idInterno,
				VDAS.idarticulo,
				(SELECT TOP 1 FV FROM Vista_DisponibilidadArticulos VDI WHERE VDI.idarticulo = VDAS.idarticulo ORDER BY FV ASC)  FV,
				SUM(VDAS.SUMACantidadEstado) AS CantidadUI
			FROM 
				Vista_DisponibilidadArticulos VDAS
			WHERE 
				VDAS.idarticulo = VDAP.idarticulo
			GROUP BY 
				VDAS.idInterno,
				VDAS.idarticulo
						) AS T) AS CantidadUI
		FROM 
			Vista_DisponibilidadArticulos VDAP
		WHERE 
			VDAP.idInterno = @PIdInternoArticulo				
		GROUP BY  
			idarticulo,
			idInterno,
			Granel	

		ORDER BY (SELECT TOP 1 FV FROM Vista_DisponibilidadArticulos VD WHERE VDAP.idarticulo = VD.idarticulo ORDER BY FV ASC)

    --Inicialización de variables
	SET @CIdArticulo = -1
	SET @AUXCantidadEstaDisponible = 0
	SET @AUXArticuloDisponible = 0


	IF EXISTS(SELECT VDA.idInterno FROM Vista_DisponibilidadArticulos VDA WHERE VDA.idInterno = @PIdInternoArticulo)
	BEGIN
		SET @AUXArticuloDisponible = 1
	END
	ELSE
	BEGIN
		SET @PIdArticuloOUT = -1
		SET @PGranelOUT = 0
		SET @PIsFoundOUT = 0
		
	END



	--Si hay artículos disponibles de ese IdInterno se ejecuta el cursor para buscar el más apto
	IF (@AUXArticuloDisponible = 1)
	BEGIN
	DECLARE Cursor_ObtenerArticulo CURSOR FOR   
		SELECT
			 TAD.idArticulo
			,TAD.idInterno
			,TAD.Granel
			,TAD.FV
			,TAD.CantidadUI 
			--* 
		FROM @TempArticulosDisponibles TAD		
		
							 			

		OPEN Cursor_ObtenerArticulo
		FETCH NEXT FROM  Cursor_ObtenerArticulo
		INTO 
			 @CIdArticulo	
			,@CIdInterno	
			,@CGranel		
			,@CFV			
			,@CCantidadDisponible	
					
		--ERROR CURSOR
		IF @@FETCH_STATUS <> 0 
		BEGIN  
			
			SET @PIdArticuloOUT = -1
			SET @PGranelOUT = 0
			SET @PIsFoundOUT = 0
			PRINT '<<ERROR AL EJECUTAR EL CURSOR>>' 
		END


		--[RECORRIDO DEL CURSOR]
		WHILE @@FETCH_STATUS = 0
		BEGIN

			------SHOW CURSOR
			--SELECT 	
			--	 @CIdArticulo	IdArticulo	
			--	,@CIdInterno	IdInterno	 
			--	,@CGranel		Granel	
			--	,@CFV			FV			
			--	,@CCantidadDisponible	CantidadUI
																				
			/*
				CASO 1:Condiciones
				-> La FV es menor o igual a la del primero registro 
				-> La cantidad disponible es menor o igual a la solicitada
			*/						
			IF(@PCantidadKilosSolicitada <= @CCantidadDisponible AND @AUXCantidadEstaDisponible = 0)
			BEGIN
				SET @PIdArticuloOUT = @CIdArticulo
				SET @PGranelOUT = @CGranel
				SET @PIsFoundOUT = 1	
				SET @AUXCantidadEstaDisponible = 1
				SET @AUXCantidadUI = @CCantidadDisponible
			END	
			--[Si la cantidad solicitada es mayora a la disponible trae la máxima posible]
			ELSE IF (@PCantidadKilosSolicitada > @CCantidadDisponible AND @PIsFoundOUT = 0)
			BEGIN			
				SELECT TOP 1  											
					 @PIdArticuloOUT = TAD.idArticulo
					,@PGranelOUT = TAD.Granel
					,@PIsFoundOUT = 1					
					,@AUXCantidadUI = @CCantidadDisponible										
				FROM @TempArticulosDisponibles TAD				 
				ORDER BY TAD.CantidadUI DESC	
			END
																				
			--RECARGA DE VARIABLES AUXILIARES
			SET @AUXIdArticulo = @CIdArticulo
			SET @AUXFV = @CFV
			--SET @AUXCantidadUI = @CCantidadDisponible			




			--[SIGUIENTE REGISTRO]
			FETCH NEXT FROM  Cursor_ObtenerArticulo INTO 		 
				 @CIdArticulo	
				,@CIdInterno	
				,@CGranel		
				,@CFV			
				,@CCantidadDisponible				
			END	
			CLOSE Cursor_ObtenerArticulo;  
		DEALLOCATE Cursor_ObtenerArticulo; 
	END

	PRINT '===========[DATOS OBTENIDOS]============'
	PRINT '===========[IMPRESION DE DATOS]============'
	PRINT 'ID ARTICULO: ' + CONVERT(VARCHAR, @PIdArticuloOUT)
	PRINT 'GRANEL: ' + CONVERT(VARCHAR, @PGranelOUT)
	PRINT 'ISFOND: ' + CONVERT(VARCHAR, @PIsFoundOUT)
	PRINT 'CANTIDADDISPONIBLE: '  + CONVERT(VARCHAR, @AUXCantidadUI)

	SELECT 
		@PIdArticuloOUT IdArticulo,
		@PGranelOUT	Granel,
		@PIsFoundOUT IsFound,
		@AUXCantidadUI CantidadUI
    --RETURN;
END
GO 



DECLARE 
	 @IdArticulo	BIGINT 
	,@Granel        BIT	
	,@IsFound		BIT 
	 

EXEC  [SP_Obtener_IdArticulo_Proveedor_Pronto_A_Vencer_Detalle_Solicitud] 	 
	 '10013',
	 5000,0,0,0
	 --@PIdArticuloOUT=@IdArticulo OUTPUT,
	 --@PGranelOUT=@Granel OUTPUT,
	 --@PIsFoundOUT= @IsFound OUTPUT


PRINT CONVERT(VARCHAR, @IdArticulo)
PRINT CONVERT(VARCHAR, @Granel)
PRINT CONVERT(VARCHAR, @IsFound)
SELECT @IdArticulo, @Granel, @IsFound
	
