/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_DiferenciaInventarioExport]    Script Date: 14/2/2018 17:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Obtener_DiferenciaInventarioExport] 
		@IdArticulo	AS VARCHAR (100)
	   ,@OpcionReporte AS VARCHAR (100)
	   ,@IdCompania AS VARCHAR (100)
AS
 SET LANGUAGE spanish
BEGIN

	--MEJORADO
	IF @IdArticulo = 'Todos'
	BEGIN
		IF @OpcionReporte = 'Todos'
		BEGIN --Todos los artículos artículos 
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,	
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS VARCHAR) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)
										 AS DiferenciaInventario,
				CAST(ODAERP.Cantidad AS VARCHAR)		     
										 AS DiferenciaERP,
				VDA.Unidad_Medida		 AS UnidadMedida
				--,'====================='
				--,*
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			--WHERE
			--	--ADMMA.idArticulo = 49
			--	--ADMMA.Nombre like '%AGUACATE%'
			--	ADMMA.Nombre like '%cebolla%'
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END 
		ELSE --Todos los artículos con diferencias entre SAP y TRAID disponibles
		BEGIN
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,	
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS VARCHAR) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)
										 AS DiferenciaInventario,
				CAST(ODAERP.Cantidad AS VARCHAR)		     
										 AS DiferenciaERP,
				VDA.Unidad_Medida		 AS UnidadMedida
				--,'====================='
				--,*
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			--WHERE
			--	--ADMMA.idArticulo = 49
			--	--ADMMA.Nombre like '%AGUACATE%'
			--	ADMMA.Nombre like '%cebolla%'
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			HAVING 
				--Cantidad Sistema Disponible
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS DECIMAL(18,2)) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)				
				<>  
				--Cantidad SAP
				CAST(ODAERP.Cantidad AS DECIMAL(18,2))
			ORDER BY
				ADMMA.Nombre DESC
		END
	END--Por artículo
	BEGIN
		IF @OpcionReporte = 'Todos'
		BEGIN --El artículo seleccionado
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,	
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS VARCHAR) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)
										 AS DiferenciaInventario,
				CAST(ODAERP.Cantidad AS VARCHAR)		     
										 AS DiferenciaERP,
				VDA.Unidad_Medida		 AS UnidadMedida
				--,'====================='
				--,*
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE
				VDA.idarticulo = @IdArticulo
			--	--ADMMA.idArticulo = 49
			--	--ADMMA.Nombre like '%AGUACATE%'
			--	ADMMA.Nombre like '%cebolla%'
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END 
		ELSE --El artículo con diferencias entre SAP y TRAID disponibles
		BEGIN
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,	
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS VARCHAR) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)
										 AS DiferenciaInventario,
				CAST(ODAERP.Cantidad AS VARCHAR)		     
										 AS DiferenciaERP,
				VDA.Unidad_Medida		 AS UnidadMedida
				--,'====================='
				--,*
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE
				VDA.idarticulo = @IdArticulo
			--	--ADMMA.idArticulo = 49
			--	--ADMMA.Nombre like '%AGUACATE%'
			--	ADMMA.Nombre like '%cebolla%'
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			HAVING 
				--Cantidad Sistema Disponible
				(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS DECIMAL(18,2)) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)				
				<>  
				--Cantidad SAP
				CAST(ODAERP.Cantidad AS DECIMAL(18,2))
			ORDER BY
				ADMMA.Nombre DESC
		END
	END




	---ANTIGUO
	--IF @IdArticulo = 'Todos'
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.DISPONIBLES <> DAE.Cantidad
	--	END
	--END
	--ELSE
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.DISPONIBLES <> DAE.Cantidad
	--		AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--	END
	--END

END
GO
EXEC [Obtener_DiferenciaInventarioExport] '49', '', 'AMCO'
GO
--Reporte mejorado
