/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_DiferenciaInventario]    Script Date: 15/2/2018 10:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC Obtener_DiferenciaInventario 'Todos', 'Todos', 'AMCO'
ALTER PROCEDURE [dbo].[Obtener_DiferenciaInventario] 
		@IdArticulo	AS VARCHAR (100)
	   ,@OpcionReporte AS VARCHAR (100)
	   ,@IdCompania AS VARCHAR (100)
AS
 SET LANGUAGE spanish
BEGIN

	--IF @IdArticulo = 'Todos'
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT vDAI.idInterno
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      --,CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT) as 'DiferenciaInventario'
	--			  ,SUM(vDAI.CantidadKilos) AS 'DiferenciaInventario'
	--		      ,CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT) as 'DiferenciaERP'
	--		FROM Vista_CantidadArticulosDisponibles vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		GROUP BY
	--		vDAI.idInterno
	--		,DAE.Cantidad
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT vDAI.idInterno
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      --,CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT) as 'DiferenciaInventario'
	--			  ,SUM(vDAI.CantidadKilos) AS 'DiferenciaInventario'
	--		      ,CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT) as 'DiferenciaERP'
	--		FROM Vista_CantidadArticulosDisponibles vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.CantidadKilos <> DAE.Cantidad
	--		GROUP BY
	--		vDAI.idInterno
	--		,DAE.Cantidad
	--	END
	--END
	--ELSE
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT vDAI.idInterno
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      --,CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT) as 'DiferenciaInventario'
	--			  ,SUM(vDAI.CantidadKilos) AS 'DiferenciaInventario'
	--		      ,CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT) as 'DiferenciaERP'
	--		FROM Vista_CantidadArticulosDisponibles vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.idInterno = @IdArticulo--in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--		GROUP BY
	--		vDAI.idInterno
	--		,DAE.Cantidad
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT vDAI.idInterno
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      --,CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT) as 'DiferenciaInventario'
	--			  ,SUM(vDAI.CantidadKilos) AS 'DiferenciaInventario'
	--		      ,CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT) as 'DiferenciaERP'
	--		FROM Vista_CantidadArticulosDisponibles vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.CantidadKilos <> DAE.Cantidad
	--		AND vDAI.idInterno = @IdArticulo--in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--		GROUP BY
	--		vDAI.idInterno
	--		,DAE.Cantidad
	--	END
	--END





	/***** NUEVO***********/
		SELECT
		ODAERP.idInternoArticulo AS IdInterno,
		ADMMA.Nombre		     AS NombreArticulo,	
		(SELECT CAST(SUM(VDA.SUMACantidadEstado) AS decimal(18,2)) FROM Vista_DisponibilidadArticulos VDA WHERE VDA.IdInterno = ODAERP.idInternoArticulo  GROUP BY VDA.idInterno)
								 AS DiferenciaInventario,
		ODAERP.Cantidad		     AS DiferenciaERP,
		VDA.Unidad_Medida		 AS UnidadMedida
		--,'====================='
		--,*
	FROM 
		OPEDiferenciaArticulosERP ODAERP
		INNER JOIN dbo.ADMMaestroArticulo ADMMA
		ON ADMMA.idInterno= ODAERP.idInternoArticulo

		INNER JOIN Vista_DisponibilidadArticulos VDA
		ON VDA.IdArticulo = ADMMA.idArticulo
	--WHERE
	--	--ADMMA.idArticulo = 49
	--	--ADMMA.Nombre like '%AGUACATE%'
	--	ADMMA.Nombre like '%cebolla%'
	GROUP BY 
		ODAERP.idInternoArticulo,
		ADMMA.Nombre,
		ADMMA.Granel,
		ODAERP.Cantidad,
		VDA.Unidad_Medida
	ORDER BY
		ADMMA.Nombre DESC

END
