/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_DiferenciaInventario]    Script Date: 8/3/2018 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC Obtener_DiferenciaInventario 'Todos', 'Todos', 'AMCO'
ALTER PROCEDURE [dbo].[Obtener_DiferenciaInventarioV2] 
		@IdArticulo	AS VARCHAR (100)
	   ,@OpcionReporte AS VARCHAR (100)
	   ,@IdCompania AS VARCHAR (100)
AS
 SET LANGUAGE spanish
BEGIN
	/***** NUEVO***********/

	IF @IdArticulo = 'Todos'
	BEGIN --[TODOS LOS ARTÍCULOS]
		IF @OpcionReporte = 'Todos'
		BEGIN --[TODOS LOS ARTÍCULOS Y CON SIN DIFERENCIAS	
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
										 AS DiferenciaInventario,
				ODAERP.Cantidad		     AS DiferenciaERP,
				ODAERP.Cantidad
				-
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
		
										 AS DiferenciaERPInventario,
				VDA.Unidad_Medida		 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE							
				ODAERP.Activo = 1

			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END
		ELSE
		BEGIN--[TODOS LOS ARTÍCULOS QUE TENGAN CANTIDADES DIFERENTES]
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
										 AS DiferenciaInventario,
				ODAERP.Cantidad		     AS DiferenciaERP,
				ODAERP.Cantidad
				-
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
		
										 AS DiferenciaERPInventario,
				VDA.Unidad_Medida		 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE							
				ODAERP.Activo = 1
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida

			HAVING 
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2)) <> ODAERP.Cantidad --Cantidades diferentes ERP INVENTARIO

			ORDER BY
				ADMMA.Nombre DESC
		END
    END
	BEGIN --[POR ARTÍCULO]		
		IF @OpcionReporte = 'Todos'
		BEGIN --[POR ARTÍCULO Y CON SIN DIFERENCIAS	
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
										 AS DiferenciaInventario,
				ODAERP.Cantidad		     AS DiferenciaERP,
				ODAERP.Cantidad
				-
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
		
										 AS DiferenciaERPInventario,
				VDA.Unidad_Medida		 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE 
				VDA.idInterno = @IdArticulo
				AND				
				ODAERP.Activo = 1

			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END
		ELSE
		BEGIN--[POR ARTÍCULO CON CANTIDADES DIFERENTES]
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
										 AS DiferenciaInventario,
				ODAERP.Cantidad		     AS DiferenciaERP,
				ODAERP.Cantidad
				-
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2))
		
										 AS DiferenciaERPInventario,
				VDA.Unidad_Medida		 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE 					
				 VDA.idInterno = @IdArticulo
				 AND				
				 ODAERP.Activo = 1

			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida

			HAVING
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2)) <> ODAERP.Cantidad --Cantidades diferentes ERP INVENTARIO			 
			ORDER BY
				ADMMA.Nombre DESC
		END		
	END
END
GO
EXEC [Obtener_DiferenciaInventarioV2] 'Todos', 'Todos', 'AMCO'
/*
SELECT * FROM Vistas.[dbo].V_INVENTARIO_CEDI_SAP VICS WHERE VICS.ItemCode = '10761' ORDER BY VICS.OnHand ASC--WHERE VICS.ItemCode IN('1002', '1003')
SELECT * FROM OPEDiferenciaArticulosERP DERP ORDER BY DERP.Cantidad ASC-- WHERE DERP.idInternoArticulo IN('1002', '1003')
*/