/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_DiferenciaInventarioExport]    Script Date: 8/3/2018 15:11:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Obtener_DiferenciaInventarioExport] 
		@IdArticulo	AS VARCHAR (100)
	   ,@OpcionReporte AS VARCHAR (100)
	   ,@IdCompania AS VARCHAR (100)
AS
 SET LANGUAGE spanish
BEGIN
/*********************[NUEVO]*********************************/
	IF @IdArticulo = 'Todos'
	BEGIN --[TODOS LOS ARTÍCULOS]
		IF @OpcionReporte = 'Todos'
		BEGIN --[TODOS LOS ARTÍCULOS Y CON SIN DIFERENCIAS	
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
										 AS DiferenciaInventario,
				CONVERT(VARCHAR, ISNULL(ODAERP.Cantidad, 0.0))		 		     
										 AS DiferenciaERP,
				CAST(ODAERP.Cantidad
				-
				SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
		
										 AS DiferenciaERPInventario,
				SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida))
										 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo

			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida,
				ADMMA.Empaque,
				ADMMA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END
		ELSE
		BEGIN--[TODOS LOS ARTÍCULOS QUE TENGAN CANTIDADES DIFERENTES]
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
										 AS DiferenciaInventario,
				CONVERT(VARCHAR, ISNULL(ODAERP.Cantidad, 0.0))		 		     
										 AS DiferenciaERP,
				CAST(ODAERP.Cantidad
				-
				SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
		
										 AS DiferenciaERPInventario,
				--VDA.Unidad_Medida		 AS UnidadMedida
				SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida))
										 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo

			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida,
				ADMMA.Empaque,
				ADMMA.Unidad_Medida
				

			HAVING 
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2)) <> ODAERP.Cantidad --Cantidades diferentes ERP INVENTARIO

			ORDER BY
				ADMMA.Nombre DESC
		END
    END
	BEGIN --[POR ARTÍCULO]		
		IF @OpcionReporte = 'Todos'
		BEGIN --[POR ARTÍCULO Y CON SIN DIFERENCIAS	
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
										 AS DiferenciaInventario,
				CONVERT(VARCHAR, ISNULL(ODAERP.Cantidad, 0.0))		 		     
										 AS DiferenciaERP,
				CAST(ODAERP.Cantidad
				-
				SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
		
										 AS DiferenciaERPInventario,
				--VDA.Unidad_Medida		 AS UnidadMedida
				SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida))
										 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE 
				VDA.idInterno = @IdArticulo
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida,
				ADMMA.Empaque,
				ADMMA.Unidad_Medida
			ORDER BY
				ADMMA.Nombre DESC
		END
		ELSE
		BEGIN--[POR ARTÍCULO CON CANTIDADES DIFERENTES]
			SELECT
				ODAERP.idInternoArticulo AS IdInterno,
				ADMMA.Nombre		     AS NombreArticulo,			
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
										 AS DiferenciaInventario,
				CONVERT(VARCHAR, ISNULL(ODAERP.Cantidad, 0.0))		 		     
										 AS DiferenciaERP,
				CAST(ODAERP.Cantidad
				-
				SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS varchar)
		
										 AS DiferenciaERPInventario,
				SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida))
										 AS UnidadMedida
			FROM 
				OPEDiferenciaArticulosERP ODAERP
				INNER JOIN dbo.ADMMaestroArticulo ADMMA
				ON ADMMA.idInterno= ODAERP.idInternoArticulo

				INNER JOIN Vista_DisponibilidadArticulos VDA
				ON VDA.IdArticulo = ADMMA.idArticulo
			WHERE 					
				 VDA.idInterno = @IdArticulo
			GROUP BY 
				ODAERP.idInternoArticulo,
				ADMMA.Nombre,
				ADMMA.Granel,
				ODAERP.Cantidad,
				VDA.Unidad_Medida,
				ADMMA.Empaque,
				ADMMA.Unidad_Medida

			HAVING
				CAST(SUM(ISNULL(VDA.SUMACantidadEstado, 0.0)) AS decimal(18,2)) <> ODAERP.Cantidad --Cantidades diferentes ERP INVENTARIO			 
			ORDER BY
				ADMMA.Nombre DESC
		END		
	END
/*********************[NUEVO]*********************************/


	---ANTIGUO
	--IF @IdArticulo = 'Todos'
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.DISPONIBLES <> DAE.Cantidad
	--	END
	--END
	--ELSE
	--BEGIN
	--	IF @OpcionReporte = 'Todos'
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--	END
	--	ELSE
	--	BEGIN
	--		SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
	--		      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
	--		      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
	--		      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
	--		FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
	--		WHERE vDAI.idInterno = DAE.idInternoArticulo
	--		AND vDAI.idCompania = DAE.idCompania
	--		AND vDAI.idCompania = @IdCompania
	--		AND vDAI.DISPONIBLES <> DAE.Cantidad
	--		AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
	--	END
	--END

END
