/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Solicitudes_Por_Tienda_Despachos]    Script Date: 10/4/2018 13:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Solicitudes_Por_Tienda_Despachos]
	 @PFechaInicio DATETIME
	,@PFechaFin DATETIME
	,@PFiltroSoloDespachados BIT
		
AS	
BEGIN
	IF(@PFiltroSoloDespachados = 1) --Solo muestra las solicitudes que ya tuvieron despachos
	BEGIN
		SELECT 
			 MS.idMaestroSolicitud	AS NumeroSolicituTID
			,CASE MS.idInternoSAP		
				WHEN NULL	THEN 'TRACEID'
				WHEN ''		THEN 'TRACEID'
				ELSE		MS.idInternoSAP
			 END                    AS NumeroSolicitudERP
			,CASE MS.idInterno		
				WHEN NULL	THEN 'TRACEID'
				WHEN ''		THEN 'TRACEID'
				ELSE		MS.idInterno
			 END					AS IdInternoSolicitud
			,MS.idDestino			AS IdDestinoPedido	
			,D.Nombre				AS NombreDestino
			--,MS.FechaCreacion		AS FechaPedido			
			,MS.FechaCreacion		AS FechaPedido
			,'Despachado'			AS EstadoSolicitud			
		FROM 
			OPEArticulosDespachados AD

			INNER JOIN OPESALMaestroSolicitud MS
				ON AD.idMaestroSolicitud = MS.idMaestroSolicitud

			INNER JOIN ADMDestino D
				ON MS.idDestino = D.idDestino
		WHERE
			CONVERT(DATE, AD.FechaRegistro) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)
		GROUP BY
			 MS.idMaestroSolicitud	
			,MS.idInternoSAP		
			,MS.idInterno			
			,MS.idDestino			
			,D.Nombre				
			,MS.FechaCreacion		
			
		ORDER BY
			MS.FechaCreacion ASC

	END
	ELSE
	BEGIN --Despachado y no despachado

		--=====================================<>
		--		Artículos no despachados
		--=====================================<>
		(SELECT 
			 MS.idMaestroSolicitud	AS NumeroSolicituTID
			,CASE MS.idInternoSAP		
				WHEN NULL	THEN 'TRACEID'
				WHEN ''		THEN 'TRACEID'
				ELSE		MS.idInternoSAP
			 END                    AS NumeroSolicitudERP
			,CASE MS.idInterno		
				WHEN NULL	THEN 'TRACEID'
				WHEN ''		THEN 'TRACEID'
				ELSE		MS.idInterno
			 END					AS IdInternoSolicitud
			,MS.idDestino			AS IdDestinoPedido	
			,D.Nombre				AS NombreDestino
			--,MS.FechaCreacion		AS FechaPedido			
			,MS.FechaCreacion		AS FechaPedido
			,'Despachado'			AS EstadoSolicitud			
		FROM 
			OPEArticulosDespachados AD

			INNER JOIN OPESALMaestroSolicitud MS
				ON AD.idMaestroSolicitud = MS.idMaestroSolicitud

			INNER JOIN ADMDestino D
				ON MS.idDestino = D.idDestino
		WHERE
			CONVERT(DATE, AD.FechaRegistro) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)
		GROUP BY
			 MS.idMaestroSolicitud	
			,MS.idInternoSAP		
			,MS.idInterno			
			,MS.idDestino			
			,D.Nombre				
			,MS.FechaCreacion)
		UNION	



		--=====================================<>
		--		Artículos no despachados
		--=====================================<>
		(SELECT 
			 MS.idMaestroSolicitud	AS NumeroSolicituTID
			,MS.idInternoSAP		AS NumeroSolicitudERP
			,MS.idInterno			AS IdInternoSolicitud
			,MS.idDestino			AS IdDestinoPedido	
			,D.Nombre				AS NombreDestino
			,MS.FechaCreacion		AS FechaPedido
			,'No despachado'		AS EstadoSolicitud
		FROM 
		
			OPESALMaestroSolicitud MS			

			INNER JOIN ADMDestino D
				ON MS.idDestino = D.idDestino	
			LEFT JOIN OPEArticulosDespachados AD
				ON MS.idMaestroSolicitud = AD.idMaestroSolicitud
				 						
		WHERE
			CONVERT(DATE, MS.FechaCreacion) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)
			AND
			AD.idMaestroSolicitud IS NULL
		GROUP BY
			 MS.idMaestroSolicitud	
			,MS.idInternoSAP		
			,MS.idInterno			
			,MS.idDestino			
			,D.Nombre				
			,MS.FechaCreacion)		

		ORDER BY
			MS.FechaCreacion ASC
	END
END	
GO
EXEC [SP_Obtener_Solicitudes_Por_Tienda_Despachos] '10-04-2018', '10-04-2018', 0
