/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4206)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Detalle_Despacho_Por_Numero_Solicitud]    Script Date: 15/3/2018 09:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_Obtener_Detalle_Despacho_Por_Numero_Solicitud]
	 @PNumeroSolicitud			BIGINT	
	,@POUTFechaSolicitud		DATETIME OUTPUT
	,@POUTDestinoDescripcion	VARCHAR(200) OUTPUT
	,@POUTIdInternoSolicitud 	VARCHAR(1000) OUTPUT
	,@POUTIdSolicitudTID		VARCHAR(1000) OUTPUT 
AS
BEGIN

--[1]-->Obtener la fecha de la olicitud	
	SELECT @POUTFechaSolicitud = ISNULL(MSX.FechaCreacion, GETDATE()) FROM OPESALMaestroSolicitud MSX

--[2]-->Obtener el destino de la solicitud	
	--SELECT * FROM OPESALMaestroSolicitud WHERE IdMaestroSolicitud = 29
	SELECT 
		 @POUTDestinoDescripcion = ISNULL(D.Nombre, '')
		,@POUTIdSolicitudTID = ISNULL(CONVERT(VARCHAR, MS.IdMaestroSolicitud), '')
		,@POUTIdInternoSolicitud = ISNULL(MS.IdInternoSAP, 'TRACEID')
	FROM 
		OPESALMaestroSolicitud MS
		INNER JOIN ADMDestino D
		ON  MS.IdDestino = D.IdDestino
	WHERE 
		MS.IdMaestroSolicitud  =  @PNumeroSolicitud



  IF(@POUTIdInternoSolicitud IS NULL OR @POUTIdInternoSolicitud = '')
  BEGIN
	SET @POUTIdInternoSolicitud = 'TRACEID'
  END
------===================================================>
------				Modificado v2
------	Trae El vehículo en el cual se hizo el despacho
------===================================================>

--[3]-->Obtiene para mostrar el reporte 
	SELECT

		 MA.idInterno					AS Codigo
		,RSSCC.idConsecutivoSSCC		AS SSCC
		,'(00)' + SSCC.SSCCGenerado		AS SSCCEtiqueta
		,RSSCC.Lote						AS Lote
		,MA.Nombre						AS Descripcion
		,CONVERT(INT, 
		 ISNULL(DS.CantidadUnidadAlisto,0))		
										AS Bultos
		,MU.Descripcion					AS Ubicacion
		
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), ISNULL(DS.Cantidad, 0))
			ELSE
				CONVERT(decimal(18,6), ISNULL((DS.Cantidad/1000), 0))
		 END							AS PedidoUI
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))) * MA.Contenido)
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		 END	
										AS AlistadoUI
		,SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida) + 1, LEN(MA.Unidad_Medida))
										AS UnidadMedidaUI
										
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))))
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		 END	
										AS AlistadoUF	
		
		,ISNULL(SUBSTRING(MA.Empaque, CHARINDEX('-', MA.Empaque, 0) + 1, LEN(MA.Empaque)) , 'N/A')
										AS EmpaqueUF
		,CASE UAD.esGTIN13 
			WHEN 0 THEN
				ISNULL(VRG1314.Empaque, 'N/A')
			ELSE
				ISNULL(MA.Empaque, 'N/A')
		 END							AS Und

		,ISNULL(CA.Precio, 0.0)			AS Costo

		--Se calcula el precio total si es granel o no 
		,CASE MA.Granel
		 WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad * MA.Contenido, 0)))) * (ISNULL(CA.Precio, 0.0))						
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad/1000, 0)))) * (ISNULL(CA.Precio, 0.0))													
		 END							AS Total																					
		,CONVERT(date, GETDATE())		AS FechaPedido		
		,V.Placa						AS Placa
		,MV.Nombre						AS MarcaVehiculo		
		,V.Modelo						AS Modelo	
														
	FROM [RELSSCCTRA]	RSSCC
	
		INNER JOIN ADMMaestroArticulo	MA
			ON MA.idArticulo = RSSCC.idArticulo

		INNER JOIN ADMMaestroUbicacion	MU
			ON RSSCC.IdUbicacion = MU.IdUbicacion

		INNER JOIN OPESALMaestroSolicitud MS
			ON RSSCC.IdMaestroSolicitud = MS.IdMaestroSolicitud

		LEFT JOIN OPESALDetalleSolicitud DS	
			ON RSSCC.idLineaDetalleSolicitud = DS.idLineaDetalleSolicitud		
		
		--Obtener camión de despacho
		INNER JOIN TraVehiculoTrasladoSSSCC TVTSSCC
			ON  RSSCC.idConsecutivoSSCC = TVTSSCC.ConsecutivoSSCC
			AND	RSSCC.idUbicacion = TVTSSCC.IdUbicacionParqueo

		INNER JOIN ADMVehiculo V
			ON	TVTSSCC.idVehiculo = V.IdVehiculo

		INNER JOIN ADMMarcaVehiculo MV
			ON	V.idMarcaVehiculo = MV.idMarcaVehiculo						

		--Obtener la Unidad Medida de los Bultos
		INNER JOIN ADMUnidadAlistoDefecto UAD
			ON RSSCC.idArticulo = UAD.idArticulo

		LEFT JOIN vista_relaciongtin13_gtin14 VRG1314
			ON	RSSCC.idArticulo = VRG1314.idArticulo
			AND	UAD.idArticulo = VRG1314.idArticulo
			AND UAD.idGTIN14VariableLogistica = VRG1314.idGTIN14VariableLogistica

		--COSTOS 
		INNER JOIN ADMCostoArticulos CA
			ON	RSSCC.IdArticulo = CA.idArticulo

		--Obtener etiqueta de SSCC del alisto
		INNER JOIN ADMConsecutivosSSCC SSCC
			ON	SSCC.idConsecutivoSSCC = RSSCC.idConsecutivoSSCC


	WHERE RSSCC.idMaestroSolicitud=@PNumeroSolicitud
		  AND RSSCC.artDevuelto = 0
	GROUP BY 

		 MA.idInterno					
		,RSSCC.idMaestroSolicitud
		,RSSCC.idConsecutivoSSCC
		,RSSCC.Lote	
		--Etiqueta SSCC
		,SSCC.SSCCGenerado
		,MA.Nombre
		,MU.Descripcion
		,MA.Unidad_Medida	
		--Descripción unidades de alisto			
		--,MA.Empaque					
		,VRG1314.Empaque --GTIN14
		,MA.Empaque	--GTIN13
		--Costos del articulo
		,CA.Precio
		,VRG1314.Cantidad
		,UAD.esGTIN13
		,DS.CantidadUnidadAlisto
		,DS.Cantidad
		,MA.Contenido
		,MA.Granel
		--Datos del vehículo 
		,V.Placa
		,MV.Nombre	
		,V.Modelo

	ORDER BY 
		SSCC.SSCCGenerado ASC



		--Destino del despacho
		--,D.Nombre
	--,@POUTDestinoDescripcion	VARCHAR(200) OUTPUT
	--,@POUTIdInternoSolicitud 	VARCHAR(1000) OUTPUT
	--,@POUTIdSolicitudTID		VARCHAR(1000) OUTPUT 
	PRINT '==================================================================='
	PRINT '							PARAMETROS SALIDA'
	PRINT 'IdInternoSolicitud: '	+ @POUTIdInternoSolicitud
	PRINT 'IdTraceID: '				+ @POUTIdSolicitudTID
	PRINT '==================================================================='
END
