/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Detalle_Despacho_Por_Numero_Solicitud_Reporte]    Script Date: 3/4/2018 13:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_Obtener_Detalle_Despacho_Por_Numero_Solicitud_Reporte]
	 @PNumeroSolicitud			BIGINT	

AS

DECLARE 
	 @POUTFechaSolicitud		DATETIME 
	,@POUTDestinoDescripcion	VARCHAR(200) 
	,@POUTIdInternoSolicitud 	VARCHAR(1000) 
	,@POUTIdSolicitudTID		VARCHAR(1000)  

BEGIN

--[1]-->Obtener la fecha de la Solicitud	
	SELECT @POUTFechaSolicitud = ISNULL(MSX.FechaCreacion, GETDATE()) FROM OPESALMaestroSolicitud MSX

--[2]-->Obtener el destino de la solicitud	
	--SELECT * FROM OPESALMaestroSolicitud WHERE IdMaestroSolicitud = 29
	SELECT 
		 @POUTDestinoDescripcion = ISNULL(D.Nombre, '')
		,@POUTIdSolicitudTID = ISNULL(CONVERT(VARCHAR, MS.IdMaestroSolicitud), '')
		,@POUTIdInternoSolicitud = ISNULL(MS.IdInternoSAP, 'TRACEID')
	FROM 
		OPESALMaestroSolicitud MS
		INNER JOIN ADMDestino D
		ON  MS.IdDestino = D.IdDestino
	WHERE 
		MS.IdMaestroSolicitud  =  @PNumeroSolicitud



  IF(@POUTIdInternoSolicitud IS NULL OR @POUTIdInternoSolicitud = '')
  BEGIN
	SET @POUTIdInternoSolicitud = 'TRACEID'
  END
------===================================================>
------				Modificado v2
------	Trae El vehículo en el cual se hizo el despacho
------===================================================>

--[3]-->Obtiene para mostrar el reporte 
	SELECT

		 MA.idInterno					AS Codigo
		,MA.idArticulo
		,RSSCC.idConsecutivoSSCC		AS SSCC
		,'(00)' + SSCC.SSCCGenerado		AS SSCCEtiqueta
		,RSSCC.Lote						AS Lote
		,MA.Nombre						AS Descripcion

		-->Muestra la cantidad de unidades de alisto solicitudas
		--,CONVERT(INT, 
		--ISNULL(DS.CantidadUnidadAlisto,0))		

		--->Muestra la cantidad unidades alisto preparadas para el despacho	 	
		----Alistado / Contenido de la unidad de alisto del artículo [!Sin redondeo a la unidad más próxima]
		--,CONVERT(INT, (CASE MA.Granel --Alistado
		--	WHEN 0 THEN
		--		CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))) * MA.Contenido)
		--	ELSE
		--		CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		--END) / dbo.Function_Obtener_Contenido_Unidad_Alisto_Defecto_ArticuloTID (MA.idArticulo)) --Contenido Unidad Alisto

		--Alistado / Contenido de la unidad de alisto del artículo [!Con redondeo a la unidad más próxima!]
		,CEILING((CASE MA.Granel --Alistado
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))) * MA.Contenido)
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		END) / dbo.Function_Obtener_Contenido_Unidad_Alisto_Defecto_ArticuloTID (MA.idArticulo)) --Contenido Unidad Alisto
										AS Bultos
		,dbo.Function_Obtener_Nombre_Unidad_Alisto_Defecto_ArticuloTID(MA.idArticulo)
										AS UnidadMedidaBulto
	    
		,MU.Descripcion					AS Ubicacion
		
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), ISNULL(DS.Cantidad, 0))
			ELSE
				CONVERT(decimal(18,6), ISNULL((DS.Cantidad/1000), 0))
		 END							AS PedidoUI
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))) * MA.Contenido)
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		 END	
										AS AlistadoUI
		,SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida) + 1, LEN(MA.Unidad_Medida))
										AS UnidadMedidaUI
										
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad, 0))))
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL((RSSCC.Cantidad/1000), 0))))
		 END	
										AS AlistadoUF	
		
		,ISNULL(SUBSTRING(MA.Empaque, CHARINDEX('-', MA.Empaque, 0) + 1, LEN(MA.Empaque)) , 'N/A')
										AS EmpaqueUF
		,CASE UAD.esGTIN13 
			WHEN 0 THEN
				ISNULL(VRG1314.Empaque, 'N/A')
			ELSE
				ISNULL(MA.Empaque, 'N/A')
		 END							AS Und

		,ISNULL(CA.Precio, 0.0)			AS Costo

		--Se calcula el precio total si es granel o no 
		,CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad * MA.Contenido, 0)))) * (ISNULL(CA.Precio, 0.0))						
			ELSE
				CONVERT(decimal(18,6), (SUM(ISNULL(RSSCC.Cantidad/1000, 0)))) * (ISNULL(CA.Precio, 0.0))													
		 END							AS Total																				
		--,CONVERT(date, GETDATE())		AS FechaPedido	
		,(SELECT TOP 1 RSS_SUB.FechaRegistro FROM RELSSCCTRA AS RSS_SUB WHERE RSS_SUB.IdMaestroSolicitud = @PNumeroSolicitud ORDER BY RSS_SUB.FechaRegistro DESC)
										AS FechaPedido		--Fecha de alisto del sscc							
		--Datos del vehículo
		,V.Placa						AS Placa
		,MV.Nombre						AS MarcaVehiculo		
		,V.Modelo						AS Modelo	
		--Datos de la solicitud
		,CONVERT(VARCHAR, @POUTFechaSolicitud, 120)
										AS FechaSolicitud
		,@POUTDestinoDescripcion		AS NombreDestino
		,@POUTIdSolicitudTID			AS IdSolicitudTID
		,@POUTIdInternoSolicitud		AS IdInternoSolicitud
		,0.0							AS TotalCosto
		,0.0							AS CantidadBultos
		,0								AS CantidadLineas
														
	FROM [RELSSCCTRA]	RSSCC
	
		INNER JOIN ADMMaestroArticulo	MA
			ON MA.idArticulo = RSSCC.idArticulo

		INNER JOIN ADMMaestroUbicacion	MU
			ON RSSCC.IdUbicacion = MU.IdUbicacion

		INNER JOIN OPESALMaestroSolicitud MS
			ON RSSCC.IdMaestroSolicitud = MS.IdMaestroSolicitud

		LEFT JOIN OPESALDetalleSolicitud DS	
			ON RSSCC.idLineaDetalleSolicitud = DS.idLineaDetalleSolicitud		
		
		--Obtener camión de despacho
		INNER JOIN TraVehiculoTrasladoSSSCC TVTSSCC
			ON  RSSCC.idConsecutivoSSCC = TVTSSCC.ConsecutivoSSCC
			AND	RSSCC.idUbicacion = TVTSSCC.IdUbicacionParqueo

		INNER JOIN ADMVehiculo V
			ON	TVTSSCC.idVehiculo = V.IdVehiculo

		INNER JOIN ADMMarcaVehiculo MV
			ON	V.idMarcaVehiculo = MV.idMarcaVehiculo						

		--Obtener la Unidad Medida de los Bultos
		INNER JOIN ADMUnidadAlistoDefecto UAD
			ON RSSCC.idArticulo = UAD.idArticulo

		LEFT JOIN vista_relaciongtin13_gtin14 VRG1314
			ON	RSSCC.idArticulo = VRG1314.idArticulo
			AND	UAD.idArticulo = VRG1314.idArticulo
			AND UAD.idGTIN14VariableLogistica = VRG1314.idGTIN14VariableLogistica

		--COSTOS 
		INNER JOIN ADMCostoArticulos CA
			ON	RSSCC.IdArticulo = CA.idArticulo

		--Obtener etiqueta de SSCC del alisto
		INNER JOIN ADMConsecutivosSSCC SSCC
			ON	SSCC.idConsecutivoSSCC = RSSCC.idConsecutivoSSCC


	WHERE RSSCC.idMaestroSolicitud=@PNumeroSolicitud
		  AND RSSCC.artDevuelto = 0
	GROUP BY 

		 MA.idInterno
		,MA.idArticulo					
		,RSSCC.idMaestroSolicitud
		,RSSCC.idConsecutivoSSCC
		,RSSCC.Lote	
		--Etiqueta SSCC
		,SSCC.SSCCGenerado
		,MA.Nombre
		,MU.Descripcion
		,MA.Unidad_Medida	
		--Descripción unidades de alisto			
		--,MA.Empaque					
		,VRG1314.Empaque --GTIN14
		,MA.Empaque	--GTIN13
		--Costos del articulo
		,CA.Precio
		,VRG1314.Cantidad
		,UAD.esGTIN13
		,DS.CantidadUnidadAlisto
		,DS.Cantidad
		,MA.Contenido
		,MA.Granel
		--Datos del vehículo 
		,V.Placa
		,MV.Nombre	
		,V.Modelo

	ORDER BY 
		SSCC.SSCCGenerado ASC



		--Destino del despacho
		--,D.Nombre
	--,@POUTDestinoDescripcion	VARCHAR(200) OUTPUT
	--,@POUTIdInternoSolicitud 	VARCHAR(1000) OUTPUT
	--,@POUTIdSolicitudTID		VARCHAR(1000) OUTPUT 
	PRINT '==================================================================='
	PRINT '							PARAMETROS SALIDA'
	PRINT 'IdInternoSolicitud: '	+ @POUTIdInternoSolicitud
	PRINT 'IdTraceID: '				+ @POUTIdSolicitudTID
	PRINT 'Fecha pedido:'			+ CONVERT(VARCHAR, @POUTFechaSolicitud, 120) --
	PRINT '==================================================================='
END
GO
EXEC [SP_Obtener_Detalle_Despacho_Por_Numero_Solicitud_Reporte] 34087