

:root
{
  --Cazul: rgba(173, 121, 24, 0.527);
  --Fprincipal: 'Roboto', sans-serif;
}

.reloj
 {
  font-size: 1em;
  font-family: monospace;
  color: #fff;
  text-align: right;
  -webkit-animation: reloj 1s ease-in-out infinite alternate;
  -moz-animation: reloj 1s ease-in-out infinite alternate;
  animation: reloj 1s ease-in-out infinite alternate;
 }

@-webkit-keyframes reloj {
  from   {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to  {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.tbl01
{
  align-items: right;
}

body  /* atributos que tendra el body o cuerpo de la página */
{
  background-color:rgb(19, 19, 19) !important;
  /*background-image: url('imgs/Logo\ borg.jpg'); 
  background-size: cover;  
  font-family: var(--Fprincipal);  */
 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   /* letter-spacing: -1.8px;
    word-spacing: -0.2px;   */
    color: #d6e79abe;
    font-weight: 700;
    /* text-decoration: underline solid rgb(68, 68, 68);  */
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    /* unidades relativas */
 /*   font-size: 1.2em;  
    color: #ffc107;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(245,183,0),
                 1px 0px 0 rgb(234,172,0),
                 2px 0px 0 rgb(224,162,0),
                 3px 0px 0 rgb(214,152,0),
                 4px 0px 0 rgb(203,141,0),
                 5px 0px 0 rgb(193,131,0),
                 6px 0px 0 rgb(183,121,0),
                 7px 0px 0 rgb(173,111,0),
                 8px 0px 0 rgb(162,100,0),
                 9px 0px 0 rgb(152,90,0),
                 10px 0px 0 rgb(142,80,0),
                 11px 0px 0 rgb(131,69,0),
                 12px 0px 0 rgb(121,59,0),
                 13px 0px  0 rgb(111,49,0),
                 14px 0px 13px rgba(0,0,0,0.6),
                 14px 0px 1px rgba(0,0,0,0.5),
                 0px 0px 13px rgba(0,0,0,.2);  */
}

.blanco  /* parrafo clase blanco */
  {
    color:brown;
  }

.grande /* parrafo clase grande */
  {
    font-size: 30px;  /* unidades absolutas */
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
  }
p b  /* parrafo en general con parte del texto en negrita */
  {
    color: var(--Cazul);
  }

#P01  /* parrafo con id=P01 */
   {
       font-size: 50px;
   }

.Encabezado
  {
    /*background:chocolate;  linear-gradient(90deg, rgba(32,36,0,1) 22%, rgba(0,146,255,1) 100%); */
    background: linear-gradient(351deg, rgba(36,201,144,0.7035189075630253) 41%, rgba(38,0,255,1) 100%);
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 25px;
    /* padding: 10px, 25px, 20px, 15px;  esto se puede usar en lugar de las cuatro líneas anteriores */
    border-width: 2px;
    border-color:var(--Cazul);
    border-radius: 10%;
    border-style: solid;

 /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Roboto', sans-serif; */
 }

h1
 {
   text-align: center;
 }

 .boton
 {
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#151616;
	font-family:Arial;
	font-size:20px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
 }

 .boton:hover    /*  acciones cuando el mouse esta encima de la clase boton  */
 {
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
 }

 .boton:active 
 {
	position:relative;
	top:1px;
}

.menu
{
  background-color: #5f5fee;
  text-decoration: none;
}
.menu li
{
  display: inline-block;
  padding: 10px;
  background-color: rgb(95 95 238);
}

.menu li:hover
{
  background-color: red;
}

.menu li a
{
  text-decoration: none;
  color: #bfbfbf;
}

.menu li a:hover
{
  color: #000000;

}

.Cuerpo p::first-letter
{
  color: var(--Cazul);
  font-size: 30px;
}

.Cuerpo p::after
{
  content: "/Texto despues";
}

.Cuerpo p::before
{
  content: "Texto antes/";
}



@media (max-width: 600px)
{
  body
   {
     display: none;
   }
}

@keyframes Trans
{
  0% {background-color: red;}
  0% {font-family: fantasy;}

  25% {background-color: yellow;}
  25% {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
  
  50% {background-color: blue;}
  50% {font-family: cursive;}

  100% {background-color: green;}
  100% {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
}

.Formato
{
  width: 100px;
  height: 100px;
}

.Formato:hover
{
  background-color: goldenrod;
  animation: Trans 8s infinite;
}

.tbl
{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.API
{
  font-size: 5px;
}