/* DEFAULTS
----------------------------------------------------------*/
#CuerpoHtml {
    padding:0;
    margin:0;
    height:100%;
    background: url("../Images/TraceID.jpg")100%;      
    background-size: 100%;    
    background-repeat: no-repeat;
    overflow-x:hidden;
    overflow-y:hidden; 
}

body   
{
    
    background: #abaab5; 
    background: -webkit-linear-gradient(top, #e7e7e7 0, #050505 800px, #ffffff 1050px) no-repeat;
    background: -moz-linear-gradient(top, #e7e7e7 0, #050505 800px, #ffffff 1050px) no-repeat;
    background: -o-linear-gradient(top, #e7e7e7 0, #050505 800px, #ffffff 1050px) no-repeat;
    background: -ms-linear-gradient(top, #e7e7e7 0, #050505 800px, #ffffff 1050px) no-repeat; 
    -svg-background: linear-gradient(top, #e7e7e7 0, #050505 800px, #ffffff 1050px) no-repeat;
    background-attachment: fixed !important;/*F8F8F7*/
    margin: 0 auto;
    font-size: 14px;
    font-family: Cabin, Arial, 'Arial Unicode MS' , Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: auto;
}


.bodyInfo
{
    background: #abaab5; 
    background: -webkit-linear-gradient(top, #e7e7e7 0, #006633 800px, #ffffff 1050px) no-repeat;
    background: -moz-linear-gradient(top, #e7e7e7 0, #006633 800px, #ffffff 1050px) no-repeat;
    background: -o-linear-gradient(top, #e7e7e7 0, #006633 800px, #ffffff 1050px) no-repeat;
    background: -ms-linear-gradient(top, #e7e7e7 0, #006633 800px, #ffffff 1050px) no-repeat; 
    -svg-background: linear-gradient(top, #e7e7e7 0, #006633 800px, #ffffff 1050px) no-repeat;
    background-attachment: fixed !important;/*F8F8F7*/
    /*margin: 0 auto;*/
    font-size: 14px;
    font-family: Cabin, Arial, 'Arial Unicode MS' , Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: auto;
}


.bodMJP
{
    background: #abaab5; /*background: linear-gradient(top, #696D5F 0, #848877 184px, #F8F8F7 1050px) no-repeat;*/
    background: -webkit-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat; /*background: linear-gradient(top, #696D5F 0, #848877 184px, #F8F8F7 1050px) no-repeat;*/
    -svg-background: linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background-attachment: fixed !important;/*F8F8F7*/
    /*margin: 0 auto;*/
    font-size: 14px;
    font-family: Cabin, Arial, 'Arial Unicode MS' , Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: auto;
}

.bodDiver
{
    background: #abaab5; /*background: linear-gradient(top, #696D5F 0, #848877 184px, #F8F8F7 1050px) no-repeat;*/
    background: -webkit-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat; /*background: linear-gradient(top, #696D5F 0, #848877 184px, #F8F8F7 1050px) no-repeat;*/
    -svg-background: linear-gradient(top, #FFFFFF 0, #7384a7 800px, #425680 1050px) no-repeat;
    background-attachment: fixed !important;/*F8F8F7*/
    margin: 0 auto;
    font-size: 14px;
    font-family: Cabin, Arial, 'Arial Unicode MS' , Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: auto;
}


p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: normal;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    height:100%;
  
}


.page2 {
    width: 80%;
    background-color: #fff;
    position: relative;
}

.header
{
    width: 100%;
}

.headerInfo
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #197136;
    width: 100%;
}

.headerDiver
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #e21d38;
    width: 100%;
}

.headerMJP
{
  
    width: 100%;
}
.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    width: 462px;
}

.main
{
    min-height: 200px;
    min-width: 200px;
    position: relative;
    height: 100%;
}

.Table1 {
      background-image: url("../Images/fondo1.png") ;
      background-repeat:no-repeat;
      background-size:165%;
     -webkit-border-radius: 40;
     -moz-border-radius: 40;
      border-radius: 40px;
      margin-top:5%;   
      margin-bottom:15%;  
      width:25%;   
      text-align:center;
    }

.Table2 {
     width:100%;   
        }

#LogoD {
    float:left;
    width:15%;
}

#RadtxtUsuario, #RadtxtContrasenna{
      width:100%; 
      font-size:150%;
      text-align:center;
      }
#RadbtnLogin {
       margin-top:5%;
       margin-bottom:5%;
       background: rgb(3,57,117);
       background-image: -webkit-linear-gradient(top, #033875, #033875);
       background-image: -moz-linear-gradient(top, #033875, #033875);
       background-image: -ms-linear-gradient(top, #033875, #033875);
       background-image: -o-linear-gradient(top, #033875, #033875);
       background-image: linear-gradient(to bottom, #033875, #033875);
       -webkit-border-radius: 24;
       -moz-border-radius: 24;
       border-radius: 24px;
       font-family: Arial;
       color: #ffffff;
       font-size: 20px;
       padding: 10px 20px 10px 20px;
       text-decoration: none;
       border-color: rgb(3,57,117);
}

#RadbtnLogin:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
    border-color: #3cb0fd;
}

 #lblTitPass {
   color:white;
    font-size:150%;
}

#lblTitUusuario {
      color:white;
    font-size:150%;
    margin-left:-20%;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color:RGB(3,57,117);
    text-align: center;
   }


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    color: #FFFFFF;
    background-color:#3a4f63;
    width:100%;
    text-decoration: none;
}

div.hideSkiplinkinfo
{
    color: #FFFFFF;
    background-color:#006666;
    width:100%;
    text-decoration: none;
}

div.hideSkiplink a:hover, a:active, a:after, a:visited
{
    color: #FFFFFF;
    text-decoration: none;

}

div.hideSkiplinkinfo a:hover, a:active, a:after, a:visited
{
    color: #FFFFFF;
    text-decoration: none;

}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
   width: 100%;
}

.tblLogo {
    width:100%;
  
}

.loginDisplay
{
  color: White;
  float:right;
}

.loginDisplay td
{
 font-size:75%;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* LOGIN   
----------------------------------------------------------*/

.LoginContenedor
{
    height: 420px; 
    width: 100%; 
    text-align: center; 
    display: table;
   
}

#LoginContenido
{
   border: solid 2px #aaa;
   height: 150px;
   display: table-cell;
   vertical-align: middle;
   margin: 0 auto;
   width: 100%;
}

/* ----------------------------------------------------------*/

#LogoDiv 
{
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 100px;
    background-image: url("../Images/Logos/DiverscanLogo.png"); /*---- tamaño de la imagen: 289px x 100px-------*/
    background-size: 200px 60px;
    background-position: right;
    right: 0px;
    position: inherit ;
    background-repeat: no-repeat;
}

a img
{
    border: none;
}

.EsconderCelda {
    display: none;
}

.centrarMoverabajo {
    text-align: center;
    margin-top: 6%;
}

.LogoCrede {
    width:100%;}

#imgLodoMJP {
    width:25%;
   float:left;
  margin-left:5%;
  margin-top:1%;
}


/*CSS HAND HELD RESPONSIVE*/

@media screen and ( max-width:300px){ 

    #CuerpoHtml { 
        background: url("../Images/TraceIDHH.jpg"); 
        background-size:100%;
        background-repeat:no-repeat;          
                }

    #imgLodoMJP {
    width:65%; 
                }

    .Table1 {
      width:85%;
      background-size:235%;
      margin-bottom:3%;
            }

    #LogoD {
     width:25%;
            }

    #RadtxtUsuario, #RadtxtContrasenna{
      width:100%; 
      font-size:100%;      
      }

   #RadbtnLogin {
       font-size: 15px;
       padding: 6px 16px 6px 16px;       
                }

    .footer {
        font-size:75%;
    }

  



    }