/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [TEST_TRACEID_V2]
GO
/****** Object:  Table [dbo].[TipoMetodoAccion]    Script Date: 10/2/2018 17:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMetodoAccion](
	[IdMetodoAccion] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TipoMetodoAccion] PRIMARY KEY CLUSTERED 
(
	[IdMetodoAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TipoMetodoAccion] ([IdMetodoAccion], [Nombre], [Descripcion]) VALUES (8, N'Ajuste de inventario', N'Puede ser de entrada o salida')
INSERT [dbo].[TipoMetodoAccion] ([IdMetodoAccion], [Nombre], [Descripcion]) VALUES (28, N'Solicitud', N'')
INSERT [dbo].[TipoMetodoAccion] ([IdMetodoAccion], [Nombre], [Descripcion]) VALUES (55, N'Recepción-Entrada', N'Al ingresar artículos a recepción ')
