/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Historico_Demanda_Por_IdArticulo_ERP]    Script Date: 21/4/2018 09:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Historico_Demanda_Por_IdArticulo_ERP]
	@PIdInternoArticulo		VARCHAR(1000),
	@PFechaInicio			DATETIME,
	@PFechaFin				DATETIME
	
AS
BEGIN
	SELECT
		 CASE VAGNG.EsGranel
			 WHEN 0 THEN 
				CONVERT(DECIMAL(18,6), SUM(OPDS.Cantidad))
			 ELSE 
				CONVERT(DECIMAL(18,6), SUM((OPDS.Cantidad)))

		 END		 							AS Cantidad 	
		,CONVERT(DATE, OPDS.FechaRegistro)		AS Fecha
		,VAGNG.NombreArticulo					AS NombreArticulo
		,OPDS.IdInternoArticulo					AS IdInternoArticulo
		,VAGNG.UnidadMedida						AS Unidad_Medida
		--,* 
	FROM 
		OPESALPreDetalleSolicitud OPDS

		INNER JOIN Vista_ArticulosIdInterno_Granel_NoGranel VAGNG
		ON OPDS.idInternoArticulo = VAGNG.IdInternoArticulo
	WHERE
		OPDS.idInternoArticulo = @PIdInternoArticulo
		AND CONVERT(DATE, OPDS.FechaRegistro) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)
	GROUP BY 
		 VAGNG.EsGranel
		,CONVERT(DATE, OPDS.FechaRegistro)
		,OPDS.IdInternoArticulo
		,VAGNG.NombreArticulo
		,VAGNG.UnidadMedida	
	ORDER BY 
		CONVERT(DATE, OPDS.FechaRegistro) ASC
END
GO
EXEC [SP_Historico_Demanda_Por_IdArticulo_ERP] '1002', '23-03-2018', '23-04-2018'
--SELECT * FROM OPESALMaestroSolicitud MS ORDER BY MS.idMaestroSolicitud DESC
--SELECT TOP 100 * FROM OPESALPreDetalleSolicitud PDS WHERE PDS.idMaestroSolicitud IN(35246,35247)  ORDER BY idMaestroSolicitud DESC
--EXEC 

SELECT TOP 100 * FROM OPESALMaestroSolicitud ORDER BY idMaestroSolicitud,idDestino,FechaCreacion
SELECT  * FROM OPESALPreDetalleSolicitud PDS 
WHERE 
	CONVERT(DATE, PDS.FechaRegistro) = '2018-03-23'
	AND
	idInternoArticulo = '1002'

SELECT SUM(PDS.Cantidad) FROM OPESALPreDetalleSolicitud PDS 
WHERE 
	CONVERT(DATE, PDS.FechaRegistro) = '2018-03-21'
	AND
	idInternoArticulo = '1002'

