/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerSolicitudRestaurantesV2]    Script Date: 21/4/2018 09:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerSolicitudRestaurantesV2]
		@FechaSeleccionada	AS DATETIME,		
		@IdInterno			VARCHAR(1000)			
			
AS
BEGIN
		
	SELECT 
		--Validación Granel
		CASE VAGNG.EsGranel
			WHEN 0 THEN 
				CONVERT(DECIMAL(18,6), SUM(OPDS.Cantidad))
			ELSE 
				CONVERT(DECIMAL(18,6), SUM(OPDS.Cantidad))

		END							AS Cantidad
		,VAGNG.UnidadMedida			AS Unidad_Medida 	

		--Se obtiene el nombre del destino para la solicitud
	   ,(SELECT TOP 1 
			ADMD.Nombre
		FROM
			OPESALMaestroSolicitud OMS 
			INNER JOIN OPESALPreDetalleSolicitud OPDSub 
				ON OMS.idMaestroSolicitud = OPDSub.idMaestroSolicitud
			INNER JOIN ADMDestino ADMD 
				ON OMS.idDestino = ADMD.idDestino
		WHERE OMS.idMaestroSolicitud = OPDS.idMaestroSolicitud)
									AS NombreDespacho		
																	
	FROM 
		OPESALPreDetalleSolicitud OPDS				

		INNER JOIN Vista_ArticulosIdInterno_Granel_NoGranel VAGNG
		ON OPDS.idInternoArticulo = VAGNG.IdInternoArticulo

					
	WHERE 		
		--ADMMA.idInterno  = @IdInterno  
	    OPDS.idInternoArticulo = @IdInterno
		AND		
		--OPDS.FechaRegistro BETWEEN @FechaIncio AND @FechaFin
		CONVERT(DATE, OPDS.FechaRegistro) = @FechaSeleccionada---'2018-04-13'
			
	GROUP BY 
		 --ADMD.Nombre 
		 OPDS.idMaestroSolicitud
		,VAGNG.UnidadMedida
		,VAGNG.EsGranel
		,CONVERT(DATE, OPDS.FechaRegistro)
	ORDER BY --CONVERT(DATE, OPDS.FechaRegistro) ASC 
			NombreDespacho ASC
	




END
go
exec [SP_ObtenerSolicitudRestaurantesV2] '21/3/2018 00:00:00', '1002'