/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerHistoricoDemandaArticuloFechas]    Script Date: 15/2/2018 11:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerHistoricoDemandaArticuloFechas]
	@FechaInicio	AS DATETIME,
	@FechaFin		AS DATETIME,
	@IdArticulo		BIGINT,
	@IdProveedor	BIGINT,
	@FiltroPorLote	BIT 

AS
BEGIN

	--Se agrega el día completo a la fecha fin para que lo tome en cuenta
	SET @FechaFin = DATEADD(HOUR, 23, @FechaFin) 
	SET @FechaFin = DATEADD(MINUTE, 59, @FechaFin) 
	SET @FechaFin = DATEADD(SECOND, 59, @FechaFin) 
	PRINT 'Fecha Inicio completa: ' + CONVERT(VARCHAR, @FechaInicio)
	PRINT 'Fecha fin completa: ' + CONVERT(VARCHAR, @FechaFin) 

	--Si se quiere ver el histotico de un artículo específico
	IF @FiltroPorLote = 1	
		BEGIN
			SELECT
				--Cambios de visualización 
				CASE ADMMA.Granel
				WHEN 0 
					THEN 
						CONVERT(INT,(sum(OPDS.Cantidad)))
					ELSE
						CONVERT(INT,(SUM(OPDS.Cantidad))/1000)
				END	AS Cantidad,
				CAST(OPDS.FechaRegistro AS DATE) Fecha,
				ADMMA.Nombre  AS NombreArticulo, 
				OPDS.idInternoArticulo , 
				ADMMA.Unidad_Medida

			FROM 
				OPESALPreDetalleSolicitud OPDS
				INNER JOIN 
				ADMMaestroArticulo ADMMA
					ON ADMMA.idInterno = OPDS.idInternoArticulo 		
	
			WHERE 
				ADMMA.idArticulo  = @IdArticulo 
				AND
				OPDS.FechaRegistro BETWEEN @FechaInicio AND @FechaFin

			GROUP BY 
				 CAST(OPDS.FechaRegistro AS DATE)
				,ADMMA.Nombre
				,OPDS.idInternoArticulo
				,ADMMA.Unidad_Medida
				,ADMMA.Contenido
				,ADMMA.Granel
			ORDER BY CAST(OPDS.FechaRegistro AS DATE) ASC
		END
	ELSE
	BEGIN
		SELECT DISTINCT
				--Cambios de visualización 
				CASE ADMMA.Granel
				WHEN 0 
					THEN 
						CONVERT(INT,(sum(OPDS.Cantidad)))
					ELSE
						CONVERT(INT,(SUM(OPDS.Cantidad))/1000)
				END	AS Cantidad,
				CAST(OPDS.FechaRegistro AS DATE) Fecha,
				ADMMA.Nombre  AS NombreArticulo, 
				OPDS.idInternoArticulo , 
				ADMMA.Unidad_Medida

			FROM 
				OPESALPreDetalleSolicitud OPDS
				INNER JOIN 
				ADMMaestroArticulo ADMMA
					ON ADMMA.idInterno = OPDS.idInternoArticulo 	
				
				--LEFT OUTER JOIN RELArticulosProveedor RAP
				--	ON RAP.IdArticulo = ADMMA.IdArticulo	
				INNER JOIN RELArticulosProveedor RAP
					ON RAP.IdArticulo = ADMMA.IdArticulo		
	
			WHERE 
				OPDS.FechaRegistro BETWEEN @FechaInicio AND @FechaFin
				AND
				RAP.IdProveedor = @IdProveedor	
			GROUP BY 
				 CAST(OPDS.FechaRegistro AS DATE)
				,ADMMA.Nombre
				,OPDS.idInternoArticulo
				,ADMMA.Unidad_Medida
				,ADMMA.Contenido
				,ADMMA.Granel

			ORDER BY CAST(OPDS.FechaRegistro AS DATE) ASC
	END
END
-- EXEC [SP_ObtenerHistoricoDemandaArticuloFechas] '25-11-2017', '25-11-2019', 49, 340, 1
-- EXEC [SP_ObtenerHistoricoDemandaArticuloFechas] '25-11-2000', '25-11-2019', 49, 886, 0 
-- EXEC [SP_ObtenerHistoricoDemandaArticuloFechas] '25-11-2000', '25-11-2019', 49, 340, 0 
--340 MOLINOS CR
--886 MAYCA
--select * from OPESALPreDetalleSolicitud where idInternoArticulo = 1002

