/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerHistoricoDemandaProveedorFechas]    Script Date: 15/2/2018 11:34:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerHistoricoDemandaProveedorFechas]
		@FechaInicio	AS DateTime,
		@FechaFin	AS DateTime ,
		@IdProveedor bigint

as
	select 
		CASE ADMMA.Granel
		WHEN 0 
			THEN
				CONVERT(INT, (sum(OPDS.Cantidad) * ADMMA.Contenido))
			ELSE
				CONVERT(INT, (sum(OPDS.Cantidad) * ADMMA.Contenido)/1000)
		END
												as Cantidad
		,ADMMA.Nombre							as NombreArticulo
		,OPDS.idInternoArticulo
		,ADMMA.Unidad_Medida
	from 
		OPESALPreDetalleSolicitud OPDS
		INNER JOIN ADMMaestroArticulo ADMMA
		ON ADMMA.idInterno = OPDS.idInternoArticulo 
		
		INNER JOIN RELArticulosProveedor RAP
		ON RAP.idArticulo = ADMMA.idArticulo
		
		INNER JOIN ADMProveedor ADMP
		ON ADMP.IdProveedor = RAP.IdProveedor
	Where 
		RAP.IdProveedor = @IdProveedor and
		OPDS.FechaRegistro Between @FechaInicio and DATEADD(day, DATEDIFF(day, 0, @FechaFin), '23:59:59')
	group by 
		 ADMMA.Nombre
		,OPDS.idInternoArticulo
		,ADMMA.Unidad_Medida
		--,ADMMA.PesoKilos
		,ADMMA.Contenido
		,ADMMA.Granel