/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerSolicitudRestaurantes]    Script Date: 15/2/2018 11:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerSolicitudRestaurantes]
		@FechaIncio	AS DateTime,
		@FechaFin	AS DateTime,
		--@IdArticulo bigint -- Equivale a IdInterno
		@IdInterno VARCHAR(1000)
			--Se agrega el día completo a la fecha fin para que lo tome en cuenta
	
AS
BEGIN	
	SET @FechaFin = DATEADD(HOUR, 23, @FechaFin)
	SET @FechaFin = DATEADD(MINUTE, 59, @FechaFin) 
	SET @FechaFin = DATEADD(SECOND, 59, @FechaFin) 
	PRINT 'Fecha Inicio completa: ' + CONVERT(VARCHAR, @FechaIncio)
	PRINT 'Fecha fin completa: ' + CONVERT(VARCHAR, @FechaFin)



	SELECT 
	--sum( OPDS.Cantidad) Cantidad
	--Validación Granel
	CASE ADMMA.Granel
		WHEN 0 
			THEN 
				CONVERT(INT,(sum(OPDS.Cantidad)))
			ELSE
				CONVERT(INT,(sum(OPDS.Cantidad))/1000)
	END							AS Cantidad
	,ADMMA.Unidad_Medida 
	,ADMD.Nombre				as NombreDespacho
	FROM 
		OPESALPreDetalleSolicitud OPDS
		inner join ADMDestino ADMD
		ON ADMD.idDestino =OPDS.idDestino
	
		INNER JOIN ADMMaestroArticulo ADMMA
		ON ADMMA.idInterno = OPDS.idInternoArticulo
	WHERE 
		--ADMMA.idArticulo  = @IdArticulo  and
		ADMMA.idInterno  = @IdInterno  and
		--OPDS.FechaRegistro Between @FechaIncio and DATEADD(day, DATEDIFF(day, 0, @FechaFin), '23:59:59')
		OPDS.FechaRegistro BETWEEN @FechaIncio AND @FechaFin

	
	GROUP BY 
		 ADMMA.Unidad_Medida
		,ADMD.Nombre 
		,ADMMA.Granel
END