/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  UserDefinedFunction [dbo].[Function_Obtener_Contenido_Unidad_Alisto_Defecto_ArticuloTID]    Script Date: 3/4/2018 13:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[Function_Obtener_Nombre_Unidad_Alisto_Defecto_ArticuloTID](@IdArticuloTID BIGINT= null)
RETURNS VARCHAR(200)
WITH RETURNS NULL ON NULL INPUT AS
BEGIN
    DECLARE @NombreUnidadAlisto VARCHAR(200)
    SELECT TOP 1 	 
	--CASE UAD_SUB.esGTIN13
	--	WHEN 0 THEN 'GTIN14'
	--	WHEN 1 THEN 'GTIN13'
	--END	
	@NombreUnidadAlisto = CASE UAD_SUB.esGTIN13
		WHEN 0 THEN (SELECT TOP 1 SUBSTRING(GVL.Nombre, CHARINDEX('-', GVL.Nombre) + 1, LEN(GVL.Nombre))						FROM [dbo].[ADMGTIN14VariableLogistica] GVL WHERE GVL.IdGTIN14VariableLogistica = UAD_SUB.IdGTIN14VariableLogistica)
		WHEN 1 THEN (SELECT TOP 1 SUBSTRING(ADMMA_SUB.Empaque, CHARINDEX('-', ADMMA_SUB.Empaque) + 1, LEN(ADMMA_SUB.Empaque))	FROM ADMMaestroArticulo ADMMA_SUB WHERE ADMMA_SUB.IdArticulo = UAD_SUB.idArticulo)
	END						--AS UnidadAlistoBase 
	--,* 
FROM
	[dbo].[ADMUnidadAlistoDefecto] UAD_SUB
WHERE
	UAD_SUB.idArticulo IN(@IdArticuloTID)	
    RETURN @NombreUnidadAlisto;
END;
GO
SELECT [dbo].[Function_Obtener_Nombre_Unidad_Alisto_Defecto_ArticuloTID](20)


--select * from [dbo].[ADMGTIN14VariableLogistica] GVL where GVL.idInterno IN (1002, 3003)
--SELECT * FROM  [dbo].[ADMUnidadAlistoDefecto] UAD WHERE UAD.esGTIN13 = 1 AND IdArticulo = 20
--SELECT * FROM ADMMaestroArticulo WHERE idArticulo = 20
--UAD.idArticulo = 49