USE [TEST_TRACEID_V2]
GO
/****** Object:  Trigger [dbo].[TRI_CopiaEstadoSistemaArticulo]    Script Date: 04/11/2017 11:09:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TRI_CopiaEstadoSistemaArticulo]
ON [dbo].[ArticulosInventarioBasico]
AFTER INSERT
AS

DECLARE @IdInventarioBasico bigint, @IdArticulo bigint
SET @IdInventarioBasico = (SELECT IdInventarioBasico FROM inserted)
SET @IdArticulo = (SELECT IdArticulo FROM inserted)
--SET @Lote = (SELECT Lote FROM inserted) --Requerido para insertar en la tabla [CopiaSistemaArticuloDetalle]




DECLARE 
	@Cantidad BIGINT, 
	@IdCopiaSistemaArticulo BIGINT,
	
	@varIdUbicacion INT,
	@varLote VARCHAR(200),	
	@varFechaVencimiento DATETIME,
	@varCantidad INT
	
	

select @Cantidad = count(*)
from CopiaSistemaArticulo
where IdInventarioBasico = @IdInventarioBasico and IdArticulo = @IdArticulo

	if(@Cantidad=0)
	begin
		declare @FechayHoraCopia datetime
		select @FechayHoraCopia=getdate()
		exec SP_IngresarCopiaSistemaArticulo @IdInventarioBasico,@IdArticulo, @FechayHoraCopia, @IdCopiaSistemaArticulo OUTPUT
				
		if(@IdCopiaSistemaArticulo>0)
		begin


			--[ANTERIOR]
			--insert into dbo.CopiaSistemaArticuloDetalle(TRAIdRegistro,FechaVencimiento,Lote,IdUbicacion,Cantidad,IdCopiaSistemaArticulo)			
			--Select TRA.idRegistro as TRAIdRegistro,			
			--TRA.FechaVencimiento as FechaVencimiento,
			--TRA.Lote as Lote,	
			--TRA.idUbicacion as IdUbicacion,		
			--TRA.Cantidad as Cantidad,
			--@IdCopiaSistemaArticulo
			--from dbo.TRAIngresoSalidaArticulos TRA
			--inner join  TRAResumen TRAS
			--on TRA.idRegistro = TRAS.idRegistro
			--where TRA.idArticulo = @IdArticulo

			--[IMPLEMENTADO]
			----------------------------------

			INSERT INTO dbo.CopiaSistemaArticuloDetalle 
				(IdCopiaSistemaArticulo, IdUbicacion, Lote, FechaVencimiento, Cantidad)
				SELECT 
				@IdCopiaSistemaArticulo
				, IdUbicacion
				 , Lote				
				, FechaVencimiento				
				,Cantidad
			FROM 
				 [dbo].[Vista_TRAUbicacionLoteArticulo]  VTULA
			WHERE 
				 VTULA.IdArticulo = @IdArticulo
			--------------------------

			--SELECT 
			--	 @varLote = Lote
			--	,@varIdUbicacion = IdArticulo
			--	,@varFechaVencimiento = FechaVencimiento
			--	,@varIdUbicacion = IdUbicacion
			--	,@varCantidad = Cantidad
			--FROM 
			--	 [dbo].[Vista_TRAUbicacionLoteArticulo]  VTULA
			--WHERE 
			--	 VTULA.IdArticulo = @IdArticulo
				
			--INSERT INTO dbo.CopiaSistemaArticuloDetalle 
			--	(IdCopiaSistemaArticulo, IdUbicacion, Lote, FechaVencimiento, Cantidad)
			--VALUES
			--	(@IdCopiaSistemaArticulo, @varIdUbicacion, @varLote, @varFechaVencimiento, @varCantidad)

		end
	end





		