/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Trazabilidad_Articulo_BodegaV2]    Script Date: 4/4/2018 13:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
NOTAS DE FUNCIONAMIENTO

Por los parámetros 

Rango de fechas en TRA
y ID Articulo Buscar la trazabilidad del artículo


*/
ALTER PROC [dbo].[SP_Obtener_Trazabilidad_Articulo_BodegaV2]	
	@PIdArticulo BIGINT,	
	@PFechaInicio DATETIME,
	@PFechaFin DATETIME,
	@PLote VARCHAR(200),
	@PFiltroPorLote BIT,
	--@PNumeroOCOUT VARCHAR(200) OUTPUT,	
	@PIdInternoOUT VARCHAR(1000) OUTPUT,
	@PGlobalArticuloOUT DECIMAL OUTPUT,
	@PUnidadMedidaGlobalOUT VARCHAR(100) OUTPUT

AS
BEGIN
	DECLARE
	 @TotalEntradas DECIMAL
	,@TotalSalidas	DECIMAL

	SET @TotalEntradas = 0
	SET @TotalSalidas = 0



	--Se obtiene el IdInternoArtículo 
	SELECT TOP 1 @PIdInternoOUT = ISNULL(MA.idInterno, 'N/A') FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @PIdArticulo

	SET @PFechaFin = DATEADD(HOUR,   23, @PFechaFin)
	SET @PFechaFin = DATEADD(MINUTE, 59, @PFechaFin)
	SET @PFechaFin = DATEADD(SECOND, 59, @PFechaFin)
	PRINT 'Fecha inicio completa: ' + CONVERT(VARCHAR, @PFechaInicio) 
	PRINT 'Fecha fin completa: ' + CONVERT(VARCHAR, @PFechaFin) 
	
	--Obtener el global de artículo en bodega
	--SELECT TOP 1 @PGlobalArticuloOUT =
	
	--============================================>
	--1->Obtener total entradas 
	--============================================>

	SELECT 
		@TotalEntradas = 
		CONVERT(DECIMAL(18,6), 
		CASE MA.Granel
			WHEN 0 THEN
				CONVERT(decimal(18,6), SUM(T.Cantidad * MA.Contenido))
			ELSE 				
				CONVERT(decimal(18,6), (SUM(T.Cantidad/1000)))
		END)		
	FROM 
		Trazabilidad T 
		INNER JOIN ADMMaestroArticulo MA
		ON T.IdArticulo = MA.idArticulo

	WHERE	T.IdEstado = 12
		AND	T.IdArticulo = @PIdArticulo
	GROUP BY 
		 MA.Granel
		,MA.Contenido

	--============================================>
	--2->Obtener total salidas
	--============================================>
	SELECT 
		@TotalEntradas = 
		CASE MA.Granel
			WHEN 0 THEN				
				CONVERT(decimal(18,6), SUM(T.Cantidad * MA.Contenido))
			ELSE 				
				CONVERT(decimal(18,6), (SUM(T.Cantidad/1000)))
		END		
	FROM 
		Trazabilidad T 
		INNER JOIN ADMMaestroArticulo MA
		ON T.IdArticulo = MA.idArticulo

	WHERE	T.IdEstado = 14
		AND	T.IdArticulo = @PIdArticulo
	GROUP BY 
		 MA.Granel
		,MA.Contenido

	--============================================>
	--3->Se obtiene el global del artículo
	--============================================>
	SET @PGlobalArticuloOUT = (@TotalEntradas - @TotalSalidas)
	
	--============================================>
	--4->Se obtiene la unidad de medida para Global
	--============================================>
	SELECT 
		@PUnidadMedidaGlobalOUT = ISNULL(SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida), LEN(MA.Unidad_Medida)), 'N/A')
	FROM 
		ADMMaestroArticulo	MA
	WHERE
		MA.idArticulo = @PIdArticulo


	PRINT 'TOTAL GLOBAL: ' + CONVERT(VARCHAR, @PGlobalArticuloOUT)
	PRINT 'UNIDAD MEDIDA: ' + CONVERT(VARCHAR, @PUnidadMedidaGlobalOUT)


	--Si se filtrará un lote específico
	IF @PFiltroPorLote = 1
	BEGIN
		SELECT
		     MA.idInterno
			,T.IdArticulo
			,T.Lote
			,T.FechaVencimiento
			,T.IdUbicacion
			--,T.IdSecuencia -- SI es -2 viene de una orden de compra
			--,CASE T.IdSecuencia
			--	WHEN '-2' THEN 'OC' 
			--	WHEN '-1' THEN 'Ajuste inventario'
			--	ELSE CONVERT(varchar, T.IdSecuencia)
			-- END AS SecuenciaDescripcion 
			,T.IdEstado --AGRUPA POR ESTADO QUE ES 12 = ENTRADA 14 = SALIDA
			,CASE T.IdEstado
				WHEN 12 THEN 'Entrada'
				WHEN 13 THEN 'Reservado'
				WHEN 14 THEN 'Salida'
			 END AS EstadoDescripcion
			,CONVERT(DATE, T.FechaRegistro) AS FechaRegistroDate
			--,SUM(T.Cantidad) AS Cantidad 
												
			--Cantidad Validando Grandel
			,CASE MA.Granel
				WHEN 0 THEN					
					CONVERT(decimal(18,6), SUM(T.Cantidad * MA.Contenido))
				ELSE 					
					CONVERT(decimal(18,6), SUM(T.Cantidad/1000))
			END		
											AS Cantidad 


			,MU.Descripcion					AS EtiquetaUbicacion		
			,ISNULL(SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida
		

			--============================================>
			--			[DETALLE DEL MOVIMIENTO]
			--============================================>

			--,CASE (ISNULL(T.IdMetodoAccion, -3 ))
			--	WHEN 8  THEN '8-Ajuste Inventario-Entrada-Salida-Toma-Física'
			--	WHEN 55 THEN '55-Recepción'
			--	WHEN 58 THEN '58-Recepción-Salida'
			--	WHEN 59 THEN '59-Ubicación-Entrada'
			--	WHEN 28 THEN '28-Solicitud'
			--	WHEN 62 THEN '62-Alistar-Salida-Ubicación Actual'
			--	WHEN 63 THEN '63-Alistar-Entrada-Zona Tránsito'
			--	WHEN 66 THEN '66-Despacho-Salida-Zona Tránsito'
			--	WHEN 67 THEN '67-Despacho'
			--	WHEN 75 THEN '75-Traslado-Salida-Ubicación Actual'
			--	WHEN 76 THEN '76-Traslado-Entrada-Nueva Ubicación'
			--	WHEN -3 THEN '---'
			--	--WHEN NULL THEN ''
			-- END							AS MetodoAccionDetalle


			,U.Nombre						AS NombreUsuario
			,ISNULL(T.IdMetodoAccion, -3)	AS IdMetodoAccion
			,CASE 

				-->[Ajuste de inventario]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 8 AND T.IdEstado = 12
		        THEN 'Ajuste Inventario Entrada'					
				
				WHEN ISNULL(T.IdMetodoAccion, -3) = 8 AND T.IdEstado = 14
		        THEN 'Ajuste Inventario Salida'					


				-->[Recepción]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 55 AND T.IdEstado = 12
				--THEN 'Recepción Entrada'
				THEN 'Entrada a Recepción'
								
				WHEN ISNULL(T.IdMetodoAccion, -3) = 58 AND T.IdEstado = 14
				--THEN 'Recepción Salida'
				THEN 'Salida de Recepción'


				-->[Ubicación]		
				WHEN ISNULL(T.IdMetodoAccion, -3) = 59 AND T.IdEstado = 12
				--THEN 'Ubicación Entrada'				
				THEN 'Ubicación de Artículo'				

				-->[Solicitud/Reservado]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 28 AND T.IdEstado = 13
				THEN '-Solicitud Reservado'

				
				-->[Alistar]				
				WHEN ISNULL(T.IdMetodoAccion, -3) = 63 AND T.IdEstado = 12
				THEN 'Alisto Entrada'

				WHEN ISNULL(T.IdMetodoAccion, -3) = 62 AND T.IdEstado = 14
				THEN 'Alisto Salida'


				-->[Despacho]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 66 AND T.IdEstado = 14
				THEN 'Despacho Salida'
		
				WHEN ISNULL(T.IdMetodoAccion, -3) = 67 AND T.IdEstado = 12
				THEN 'Despacho Entrada'
		
				
				--[Traslado]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 75 AND T.IdEstado = 14
				THEN 'Traslado Salida'

				WHEN ISNULL(T.IdMetodoAccion, -3) = 76 AND T.IdEstado = 12
				THEN 'Traslado Entrada'

				--[NULL]
				WHEN ISNULL(T.IdMetodoAccion, -3) = -3 THEN '---'


			 END							AS MetodoAccionDetalle
			 ,0								AS IdMaestroOC
			 ,''							AS NumeroOC

			--,'=======================>>'
			--,* 
		FROM 
			Trazabilidad T

			INNER JOIN  ADMMaestroUbicacion MU
				ON T.IdUbicacion = MU.IdUbicacion

			INNER JOIN ADMMaestroArticulo MA
				ON MA.idArticulo = T.IdArticulo


			--Obtener el número de OC de un artículo y lote 
			--INNER JOIN Vista_NumeroOC_Articulo_Lote_TRA VNOC
			--	ON	T.IdArticulo = VNOC.IdArticulo
			--	AND	T.Lote = VNOC.Lote

			INNER JOIN ADMUnidadAlistoDefecto UAD
				ON MA.idArticulo = UAD.idArticulo
			
			INNER JOIN Usuarios U
				ON T.IdUsuario = U.IDUSUARIO

		WHERE
			T.IdArticulo = @PIdArticulo AND			
			T.FechaRegistro BETWEEN @PFechaInicio  AND @PFechaFin AND						
			T.Lote = @PLote

			--Filtro para solo movimientos en bodega sin afectar el inventario
			AND 
			(
				   T.IdMetodoAccion = 58 --Recepción Salida
				OR T.IdMetodoAccion = 59 --Ubicación Entrada
				OR T.IdMetodoAccion = 75 --Traslados Salida
				OR T.IdMetodoAccion = 76 --Traslados Entrada
			)
		GROUP BY
			 MA.idInterno
			,T.IdArticulo
			,T.Lote
			,T.FechaVencimiento
			,T.IdUbicacion
			--,T.IdSecuencia
			,T.IdEstado
			,CONVERT(DATE,T.FechaRegistro)
			,MU.Descripcion	
			,MA.Unidad_Medida
			,MA.Empaque
			,UAD.esGTIN13			
			,MA.Granel	
			,U.Nombre
			,T.IdMetodoAccion
			,MA.Contenido
			--NumeroOC
			--,VNOC.IdMaestroOC
			--,VNOC.NumeroOC

		
		--Agregado para ordenar los datos 
		ORDER BY T.IdMetodoAccion ASC, FechaRegistroDate ASC, T.IdEstado ASC
		
	END
	ELSE --Todos los lotes del artículo
	BEGIN
		SELECT
			 MA.idInterno
			,T.IdArticulo
			,T.Lote
			,T.FechaVencimiento
			,T.IdUbicacion
			--,T.IdSecuencia -- SI es -2 viene de una orden de compra
			--,CASE T.IdSecuencia
			--	WHEN '-2' THEN 'OC' 
			--	WHEN '-1' THEN 'Ajuste inventario'
			--	ELSE CONVERT(varchar, T.IdSecuencia)
			-- END AS SecuenciaDescripcion 
			,T.IdEstado --AGRUPA POR ESTADO QUE ES 12 = ENTRADA 14 = SALIDA
			,CASE T.IdEstado
				WHEN 12 THEN 'Entrada'
				WHEN 13 THEN 'Resevado'
				WHEN 14 THEN 'Salida'
			 END AS EstadoDescripcion
			,CONVERT(DATE, T.FechaRegistro)		AS FechaRegistroDate
			

			,CASE MA.Granel
				WHEN 0 THEN					
					CONVERT(decimal(18,6), SUM(T.Cantidad * MA.Contenido))
				ELSE 				
					CONVERT(decimal(18,6), (SUM(T.Cantidad/1000)))
			END		
												AS Cantidad 
			
			
			,MU.Descripcion AS EtiquetaUbicacion			
		
			,SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida))
														AS UnidadMedida

			--============================================>
			--			[DETALLE DEL MOVIMIENTO]
			--============================================>
			--,CASE ISNULL(T.IdMetodoAccion, -3)
			--	WHEN 8  THEN '8-Ajuste Inventario-Entrada-Salida-Toma-Física'					
			--	WHEN 55 THEN '55-Recepción'
			--	WHEN 58 THEN '58-Recepción-Salida'
			--	WHEN 59 THEN '59-Ubicación-Entrada'
			--	WHEN 28 THEN '28-Solicitud'
			--	WHEN 62 THEN '62-Alistar-Salida-Ubicación Actual'
			--	WHEN 63 THEN '63-Alistar-Entrada-Zona Tránsito'
			--	WHEN 66 THEN '66-Despacho-Salida-Zona Tránsito'
			--	WHEN 67 THEN '67-Despacho'
			--	WHEN 75 THEN '75-Traslado-Salida-Ubicación Actual'
			--	WHEN 76 THEN '76-Traslado-Entrada-Nueva Ubicación'
			--	WHEN -3 THEN '---'
				--WHEN NULL THEN ''
			,U.Nombre						AS NombreUsuario
			,ISNULL(T.IdMetodoAccion, -3)	AS IdMetodoAccion
			,CASE 

				-->[Ajuste de inventario]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 8 AND T.IdEstado = 12
		        THEN 'Ajuste Inventario Entrada'					
				
				WHEN ISNULL(T.IdMetodoAccion, -3) = 8 AND T.IdEstado = 14
		        THEN 'Ajuste Inventario Salida'					


				-->[Recepción]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 55 AND T.IdEstado = 12
				--THEN 'Recepción Entrada'
				THEN 'Entrada a Recepción'
								
				WHEN ISNULL(T.IdMetodoAccion, -3) = 58 AND T.IdEstado = 14
				--THEN 'Recepción Salida'
				THEN 'Salida de Recepción'


				-->[Ubicación]		
				WHEN ISNULL(T.IdMetodoAccion, -3) = 59 AND T.IdEstado = 12
				--THEN 'Ubicación Entrada'				
				THEN 'Ubicación de Artículo'				

				-->[Solicitud/Reservado]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 28 AND T.IdEstado = 13
				THEN '-Solicitud Reservado'

				
				-->[Alistar]				
				WHEN ISNULL(T.IdMetodoAccion, -3) = 63 AND T.IdEstado = 12
				THEN 'Alisto Entrada'

				WHEN ISNULL(T.IdMetodoAccion, -3) = 62 AND T.IdEstado = 14
				THEN 'Alisto Salida'


				-->[Despacho]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 66 AND T.IdEstado = 14
				THEN 'Despacho Salida'
		
				WHEN ISNULL(T.IdMetodoAccion, -3) = 67 AND T.IdEstado = 12
				THEN 'Despacho Entrada'
		
				
				--[Traslado]
				WHEN ISNULL(T.IdMetodoAccion, -3) = 75 AND T.IdEstado = 14
				THEN 'Traslado Salida'

				WHEN ISNULL(T.IdMetodoAccion, -3) = 76 AND T.IdEstado = 12
				THEN 'Traslado Entrada'

				--[NULL]
				WHEN ISNULL(T.IdMetodoAccion, -3) = -3 THEN '---'


			 END							AS MetodoAccionDetalle
			 ,0								AS IdMaestroOC
			 ,''							AS NumeroOC

			--,'=======================>>'
			--,* 
		FROM 
			Trazabilidad T
			
			INNER JOIN  ADMMaestroUbicacion MU
				ON T.IdUbicacion = MU.IdUbicacion

			INNER JOIN ADMMaestroArticulo MA
				ON MA.idArticulo = T.IdArticulo

			INNER JOIN Usuarios U
				ON T.IdUsuario = U.IDUSUARIO

			--Obtener el número de OC de un artículo y lote 
			--INNER JOIN Vista_NumeroOC_Articulo_Lote_TRA VNOC
			--	ON	T.IdArticulo = VNOC.IdArticulo
			--	AND	T.Lote = VNOC.Lote

			INNER JOIN ADMUnidadAlistoDefecto UAD
				ON MA.idArticulo = UAD.idArticulo
		WHERE
			T.IdArticulo = @PIdArticulo AND
			--T.FechaRegistro BETWEEN @varFechaInicio AND @varFechaFin
			CONVERT(DATE, T.FechaRegistro) BETWEEN CONVERT(DATE,ISNULL(@PFechaInicio, GETDATE()))  AND CONVERT(DATE,ISNULL(@PFechaFin, GETDATE()))
			
			--Filtro para solo movimientos en bodega sin afectar el inventario
			AND 
			(
				   T.IdMetodoAccion = 58 --Recepción Salida
				OR T.IdMetodoAccion = 59 --Ubicación Entrada
				OR T.IdMetodoAccion = 75 --Traslados Salida
				OR T.IdMetodoAccion = 76 --Traslados Entrada
			)
						
		GROUP BY
			 MA.idInterno
			,T.IdArticulo
			,T.Lote
			,T.FechaVencimiento
			,T.IdUbicacion
			--,T.IdSecuencia
			,T.IdEstado
			,CONVERT(DATE,T.FechaRegistro)
			,MU.Descripcion
			,MA.Unidad_Medida
			,MA.Empaque
			,UAD.esGTIN13
			,MA.Granel	
			,U.Nombre
			,T.IdMetodoAccion
			,MA.Contenido
			--NumeroOC
			--,VNOC.IdMaestroOC
			--,VNOC.NumeroOC
					
		--Agregado para ordenar los datos 
		ORDER BY T.IdMetodoAccion ASC, FechaRegistroDate ASC, T.IdEstado ASC
	END
	--PRINT 'PARAMETRO DE SALIDA====> ' + @PNumeroOC
END
GO
EXEC [SP_Obtener_Trazabilidad_Articulo_BodegaV2] 49, '01-01-2018', '01-01-2019', '', 0, '', 0, ''