/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Articulos_Disponibles_Bodega_Totales]    Script Date: 4/4/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_Obtener_Articulos_Disponibles_Bodega_Totales]
AS
BEGIN
	SELECT
		--VAD.IdArticulo					AS IdTID,
		MA.idInterno					AS IdERP,
		MA.Nombre						AS Articulo,
		CASE MA.Granel
			WHEN 0 THEN SUM(VAD.SUMACantidadEstado)		
			WHEN 1 THEN SUM(VAD.SUMACantidadEstado/1000)
		END		 						AS UnidadesInventario,

		SUBSTRING(MA.Unidad_Medida, (CHARINDEX('-', MA.Unidad_Medida) + 1), LEN(MA.Unidad_Medida))	
										AS UnidadMedida																											 	
	FROM 
		Vista_DisponibilidadArticulos VAD
	
		INNER JOIN ADMMaestroUbicacion MU
			ON VAD.IdUbicacion = MU.idUbicacion

		INNER JOIN ADMMaestroArticulo MA
			ON VAD.IdArticulo = MA.idArticulo

    WHERE vad.idZona in (3,1,4)
	GROUP BY
		 --VAD.IdArticulo					
		 MA.idInterno
		,MA.Granel					
		,MA.Nombre			
		,MA.Unidad_Medida
		
	ORDER BY
		MA.Nombre ASC
END

