/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Articulos_Disponibles_Bodega]    Script Date: 4/4/2018 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Articulos_Disponibles_Bodega]
AS
BEGIN
	SELECT
	VAD.IdArticulo					AS IdTID,
	MA.idInterno					AS IdERP,
	MA.Nombre						AS Articulo,
	VAD.Lote						AS Lote,
	MU.Descripcion					AS Ubicacion,
	CASE MA.Granel
		WHEN 0 THEN VAD.SUMACantidadEstado			
		WHEN 1 THEN VAD.SUMACantidadEstado/1000			
	END								AS UnidadesInventario,
	SUBSTRING(MA.Unidad_Medida, (CHARINDEX('-', MA.Unidad_Medida) + 1), LEN(MA.Unidad_Medida))	
									AS UnidadMedida								 	
	FROM 
		Vista_DisponibilidadArticulos VAD
	
		INNER JOIN ADMMaestroUbicacion MU
			ON VAD.IdUbicacion = MU.idUbicacion

		INNER JOIN ADMMaestroArticulo MA
			ON VAD.IdArticulo = MA.idArticulo
	WHERE
		VAD.idZona in (3,1,4)
	ORDER BY
		MA.Nombre ASC
END
