<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="MJPConnectionString" />
  <connectionStrings>
    <!--<add name="MJPConnectionString" connectionString="Data Source=acces-o.com\SQL2008R2EX;Initial Catalog=TRACEID;Persist Security Info=True;User ID=Div_Nelson;Password=Nelson2016" providerName="System.Data.SqlClient" />-->
    <add name="MJPConnectionString" connectionString="Data Source=172.30.1.5;Initial Catalog=TEST_TRACEID_v2;Persist Security Info=True;User ID=wms;Password=Pizza2016" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <securityCryptographyConfiguration>
    <hashProviders>
      <add name="passwordHash" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA256Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
    </hashProviders>
  </securityCryptographyConfiguration>
  <appSettings>
	  
	  <!--TRACEID-->
	<add key="server" value="acces-o.com\SQL2008R2EX"/>
	<add key="bd" value="TRACEID"/>
	<add key="usuario" value="DIV_Diverscan"/>
	<add key="contrasenia" value="D1v3rscanecp625"/>
	  
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Compania" value="AMCO" />
    
    <!--ZONAS-->
    <add key="Zona_Recepcion" value="REC" />
    <add key="Zona_Transito" value="TRA" />
    <add key="Zona_Almacenamiento" value="ALM" />
    <add key="Zona_Picking" value="PIC" />
    <add key="Zona_Preparacion" value="PRE" />
    <add key="Zona_Despacho" value="DES" />
    <add key="Zona_Cuarentena" value="CUA" />
    <add key="Zona_Quimicos" value="QUI" />
    <add key="Zona_No_convencionales" value="NCV" />
    <add key="Zona_No_conformes" value="NCO" />
    <add key="Zona_Devoluciones" value="DEV" />
    <add key="Zona_Parqueo_Vehiculos" value="PAR" />

    <!--REPORTES-->
    <add key="RutaTemp" value="C://Temp//" />
    <add key="Kardex" value="~/Reportes/Kardex.rpt" />
    <add key="RecProv" value="~/Reportes/RecibidoProveedor.rpt" />
	  <add key="HistoricoDemanda" value="~/Reportes/ReporteHistoricoDemanda.rpt" />

    <!--EQUIVALENCIA-->
    <add key="EquivalenciaKg-gr" value="1000" />
    
     <!--DIGITOS GTIN-->
    <!--<add key="Digitos_GTIN" value="8" />-->

    <!--SERVICIO DE HACIENDA-->
    <add key="NumeroInstitucion" value="19" />
    <add key="UsuarioServicio" value="2100042011" />
    <add key="PassServicio" value="1234567" />
    <!--SERVICIO DE HACIENDA-->
    <add key="RutaConfigApp" value="C:\Temp Compliaciones\Global_Config.xml" />
    <add key="RutaImagenes" value="~/ImagesSite/" />
    <add key="RutaTemporalDocumentos" value="~/TempArchivos/" />
    <add key="RutaTemporalExcel" value="C:\TempArchivos\" />
    <add key="RutaTemporalExcelEmbarque" value="C:\TempArchivosEmbarque\" />
    <add key="RutaLogErrores" value="F:\TRACEID\PROD\TRACEID\LogErrores\" />
    <add key="TipoArchivosExcel" value="xls,xlsx" />
    <add key="RutaGestor" value="C:\\Diverscan\\Diverscan.MJP.GestorImpresiones.exe" />
    <add key="CorreDe" value="testwms@grupodiverscan.com" />
    <add key="Pass" value="testwms$" />
    <add key="ServerSmtp" value="smtpout.secureserver.net" />
    <add key="PortSmtp" value="25" />
    <add key="SSL" value="False" />
    <add key="logoMJP" value="http://192.168.1.100/WebMJP/Images/Logos/MJP_CR.png" />
    <add key="logoDiverscan" value="http://192.168.1.100/WebMJP/Images/Logos/DiverscanLogo.png" />
    <add key="esExpress" value="No" />
    <add key="DiasFechaVencimiento" value="-5"/>
   
    <add key="Telerik.Skin" value="Vista" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

    <!--Eventos Acces-o-->
    <add key="idEmpresaEvento" value="30"/>
    
  </appSettings>
  <system.web>
   
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Telerik.Windows.Documents.Flow, Version=2016.1.106.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="Telerik.Windows.Documents.Core, Version=2016.1.106.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="Telerik.Windows.Documents.Spreadsheet, Version=2016.1.106.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml, Version=2016.1.106.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <siteMap>
      <providers>
        <add name="AsciiTextProvider" description="N/A" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebNav.sitemap" />
      </providers>
    </siteMap>
  <pages>
    <controls>
      <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" /></controls>
  </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioHandheld" />
        <binding name="BasicHttpBinding_IServicioReader" />
        <binding name="wsIndicadoresEconomicosSoap" />
        <binding name="BasicHttpBinding_IWCFOCCR" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWCFOCCR" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx" binding="basicHttpBinding" bindingConfiguration="wsIndicadoresEconomicosSoap" contract="Servicebccr.wsIndicadoresEconomicosSoap" name="wsIndicadoresEconomicosSoap" />
      <endpoint address="http://bienes.hacienda.go.cr/WCFOCCR/WCFOCRService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFOCCR" contract="ServiceMH.IWCFOCCR" name="BasicHttpBinding_IWCFOCCR" />
    </client>
  </system.serviceModel>
</configuration>