/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarRELArticuloXSolicitudAjuste]    Script Date: 15/2/2018 08:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_InsertarRELArticuloXSolicitudAjuste]
		@IdSolicitudAjusteInventario bigint,		
		@IdArticulo bigint,		
		@Lote varchar(200),
		@FechaVencimiento date,
		@IdUbicacionActual bigint,
		@IdUbicacionMover bigint,
		@Cantidad  int
AS
	insert into dbo.RELArticuloXSolicitudAjuste(IdSolicitudAjusteInventario,IdArticulo,Lote,
	FechaVencimiento,IdUbicacionActual,IdUbicacionMover,Cantidad)
	Values(@IdSolicitudAjusteInventario,@IdArticulo,@Lote,@FechaVencimiento,@IdUbicacionActual,
		@IdUbicacionMover,@Cantidad)