/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Filtrar_Pedidos_Numero_PedidoV2]    Script Date: 20/3/2018 08:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Filtrar_Pedidos_Numero_PedidoV2]
	@PText VARCHAR(200),
	@PFechaInicio VARCHAR(50),
	@PFechaFin VARCHAR(50)
AS
DECLARE 
	@VARFechaInicioDateTime DATETIME,
	@VARFechaFinDateTime DATETIME,
	@VARFechaInicioDate DATE,
	@VARFechaFinDate DATE

BEGIN
	--========================================
	--			CONVERSIÓN DE FECHAS 
	--========================================
	BEGIN TRY
		SET @VARFechaInicioDateTime = CONVERT(Datetime, @PFechaInicio, 120) --'2011-09-28 18:01:00' USA
		SET @VARFechaInicioDate		= CONVERT(DATE, @VARFechaInicioDateTime)
		SET @VARFechaFinDateTime	= CONVERT(Datetime, @PFechaFin, 120) --'2011-09-28 18:01:00'
		SET @VARFechaFinDate		= CONVERT(DATE, @VARFechaFinDateTime)
	END TRY
	BEGIN CATCH
		SET @VARFechaInicioDateTime = CONVERT(DATETIME, @PFechaInicio ,105) --[28-09-2011 18:01:00] ITALIAN
		SET @VARFechaInicioDate		= CONVERT(DATE, @VARFechaInicioDateTime)
		SET @VARFechaFinDateTime	= CONVERT(DATETIME, @PFechaFin ,105) --[28-09-2011 18:01:00]
		SET @VARFechaFinDate		= CONVERT(DATE, @VARFechaFinDateTime)
	END CATCH



	--===============================================================>
	--						[CARGA DE DATA]
	--===============================================================>
	IF @PText = '' --Permite optimizar la búsqueda solo por rango de fechas
	BEGIN
		SELECT
			* 
		FROM 
			[Vista_PreDetalleSolicitudPorBodegaV2] VPDSB
		WHERE
			VPDSB.Fecha BETWEEN @VARFechaInicioDate AND @VARFechaFinDate		
		ORDER BY VPDSB.Fecha ASC
	END
	ELSE
	BEGIN		
		SELECT
			* 
		FROM 
			[Vista_PreDetalleSolicitudPorBodegaV2] VPDSB
		WHERE
			VPDSB.Fecha BETWEEN @VARFechaInicioDate AND @VARFechaFinDate
			AND(
			----VPDSB.idMaestroSolicitud LIKE '%' + @PText + '%'
			----OR
			----VPDSB.Solicitud LIKE '%' + @PTexto + '%'
			----OR
			VPDSB.Bodega LIKE '%' + @PText + '%'
			OR
			VPDSB.Destino LIKE '%' + @PText + '%'
			OR
			VPDSB.IdInterno LIKE '%' + @PText + '%'		
			)

		ORDER BY VPDSB.Fecha ASC
	END -- Fin IF
END
