/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Filtrar_Pedidos_Numero_Pedido]    Script Date: 19/3/2018 15:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Obtiene los pedidos según la bodega de los mismos

*/
ALTER PROCEDURE [dbo].[SP_Filtrar_Pedidos_Numero_Pedido]
	@PText VARCHAR(200),
	@PFechaInicio VARCHAR(50),
	@PFechaFin VARCHAR(50)
AS
BEGIN
  SELECT DISTINCT * 
	FROM Vista_PreDetalleSolicitudPorBodega VPDSPAB
	WHERE (VPDSPAB.idMaestroSolicitud LIKE '%' + @PText +'%'
	      OR VPDSPAB.IdInterno LIKE '%' + @PText +'%'
	      OR VPDSPAB.Bodega LIKE '%' + @PText +'%'
 		  OR VPDSPAB.Destino LIKE '%' + @PText +'%')
	      AND VPDSPAB.Fecha BETWEEN CONVERT(DATE,@PFechaInicio,103) AND CONVERT(DATE,@PFechaFin,103)
	 ORDER BY VPDSPAB.Fecha		 
END


--EXEC SP_Filtrar_Pedidos_Numero_Pedido 'comi', '20171101','20171116'
--EXEC SP_Filtrar_Pedidos_Numero_Pedido '', '24-11-2017','24-11-2017'




