/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SPObtenerDetallesArticuloPorIdInterno]    Script Date: 5/2/2018 12:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPObtenerDetallesArticuloPorIdInterno]
	@PIdCompania		VARCHAR(10),
	@PIdInternoArticulo	VARCHAR(1000),
	@PCantidadProducto	DECIMAL(18,2)
AS
DECLARE
	@PCantidadUnidadAlisto				DECIMAL(18,2),
	@PCantidadUnidadAlistoInventario	DECIMAL(18,2),
	@PCantidadUnidadMedida				DECIMAL(18,2), --Obtiene la cantidad un la unidad de medida del artículo
	@IndiceSeparador					INT,
	@NombreUnidadAlisto					VARCHAR(100),
	@CantidadAlistoDetalle			    VARCHAR(100),--Contiene el nombre de la unidad de alisto y la cantidad en formato Cantidad-Nombre UA 
	@UnidadAlistoArticuloEsGTIN13		BIT

BEGIN
	-------------------Verificar si la unidad de alisto por defecto es GTIN13 O GTIN14 ---------------
	SELECT
		@UnidadAlistoArticuloEsGTIN13 = UAD.esGTIN13		
	FROM
		ADMUnidadAlistoDefecto UAD
		INNER JOIN ADMMaestroArticulo  MA
		ON UAD.idArticulo = MA.idArticulo
		
	WHERE
		MA.idInterno	= @PIdInternoArticulo
		AND
		MA.idCompania	= @PIdCompania
	
	-------------------Obtener cantidad de unidades de alisto e inventario---------------

	

	IF(@UnidadAlistoArticuloEsGTIN13 = 1)
	BEGIN
		EXEC [SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN13] 
			@PIdInternoArticulo,
			@PCantidadProducto,
			@PIdCompania,
			@PCantidadUnidadAlistoOUT			= @PCantidadUnidadAlisto OUTPUT,
			@PCantidadUnidadAlistoInventarioOUT = @PCantidadUnidadAlistoInventario OUTPUT,
			@PCantidadEnUnidadMedidaOUT			= @PCantidadUnidadMedida OUTPUT
			PRINT 'UNIDAD ALISTO ES GTIN13'
	END
	ELSE
	BEGIN
		EXEC [SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN14] 
			@PIdInternoArticulo,
			@PCantidadProducto,
			@PIdCompania,
			@PCantidadUnidadAlistoOUT			= @PCantidadUnidadAlisto OUTPUT,
			@PCantidadUnidadAlistoInventarioOUT = @PCantidadUnidadAlistoInventario OUTPUT,
			@PCantidadEnUnidadMedidaOUT			= @PCantidadUnidadMedida OUTPUT
			PRINT 'UNIDAD ALISTO ES GTIN14'
	END
    




	-----------------Se obtiene el nombre de la unidad de alisto----------------------------
	IF(@UnidadAlistoArticuloEsGTIN13 = 1)
	BEGIN
		SELECT TOP 1
			@NombreUnidadAlisto		= MA.Unidad_Medida

		FROM
			ADMMaestroArticulo		MA

		WHERE
			MA.idInterno	= @PIdInternoArticulo
			AND
			MA.idCompania	= @PIdCompania
		--PRINT 'UNIDAD ALISTO ES GTIN13'
	END
	ELSE
	BEGIN
		SELECT TOP 1
			@NombreUnidadAlisto = ADMGVL.Nombre --Se obtiene el nombre de la unidad de alisto			
		FROM 
			ADMUnidadAlistoDefecto ADMU 
			INNER JOIN ADMGTIN14VariableLogistica ADMGVL
			ON ADMU.idGTIN14VariableLogistica = ADMGVL.idGTIN14VariableLogistica
		WHERE
			ADMGVL.idInterno = @PIdInternoArticulo
			AND
			ADMGVL.idCompania = @PIdCompania
	END



	-->>Se elimina el idIterno que se encuentra concatenado en el nombre ejemplo: 1002-Unidad
	SET @IndiceSeparador		= CHARINDEX('-', @NombreUnidadAlisto)
	SET @CantidadAlistoDetalle  = SUBSTRING(@NombreUnidadAlisto, @IndiceSeparador, LEN(@NombreUnidadAlisto))
		
	-------------------Obtener los detalles del artículo-------------------------
	SELECT
		VA.idArticuloInterno	AS IdInterno, 
		VA.Nombre				AS NombreArticulo,
			
		-->Unidad de medida
		(SELECT TOP 1 
			MA.Unidad_Medida 
		 FROM ADMMaestroArticulo MA 
		 WHERE 
		 	MA.idInterno = VA.idArticuloInterno
		 	AND
			MA.idCompania = @PIdCompania)	

								AS UnidadMedida,
		-->Contenido
		(SELECT TOP 1 
			MA.Contenido
		 FROM ADMMaestroArticulo MA 
		 WHERE 
		 	MA.idInterno = VA.idArticuloInterno
		 	AND
			MA.idCompania = @PIdCompania)	
								AS Contenido,
		-->Empaque
		(SELECT TOP 1 
			MA.Empaque
		 FROM ADMMaestroArticulo MA 
		 WHERE 
		 	MA.idInterno = VA.idArticuloInterno
		 	AND
			MA.idCompania = @PIdCompania)	
								AS Empaque,

		-->EsGranel
		(SELECT TOP 1 
			MA.Granel
		 FROM ADMMaestroArticulo MA 
		 WHERE 
			MA.idInterno = VA.idArticuloInterno
		 	AND
			MA.idCompania = @PIdCompania)	
								AS EsGranel,

		-->Días vencimiento
		(SELECT TOP 1 
			MA.DiasMinimosVencimiento
		 FROM ADMMaestroArticulo MA 
		 WHERE 
			MA.idInterno = VA.idArticuloInterno
			AND
			MA.idCompania = @PIdCompania)	
								AS DiasMinimosVencimiento,

		-->Cantidad Unidades Alisto
		ISNULL(@PCantidadUnidadAlisto, -1)	
								AS UnidadesAlisto,

		-->Cantidad Unidades Inventario Alisto
		ISNULL(@PCantidadUnidadAlistoInventario, -1)
								AS UnidadesAlistoInventario,
		(SELECT TOP 1 
			CASE MA.Granel
			WHEN 0 THEN 
				ISNULL(CONVERT(VARCHAR,@PCantidadUnidadAlisto) + ' ' +@CantidadAlistoDetalle, 'Sin unidad alisto asignada')			
			ELSE
				'Tipo Granel'
			END
		 FROM ADMMaestroArticulo MA 
		 WHERE 
			MA.idInterno = VA.idArticuloInterno
			AND
			MA.idCompania = @PIdCompania)	
								AS UnidadAlistoDetalle,
		
		-->Cantidad Unidad Medida
		@PCantidadUnidadMedida
								AS CantidadUnidadMedida						
								
			
	FROM 
		Vista_ArticulosInternos VA 
	WHERE 
		VA.idCompania = @PIdCompania
		AND
		VA.idArticuloInterno = @PIdInternoArticulo
	ORDER BY VA.Nombre

	




END
