/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN13]    Script Date: 5/2/2018 12:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN13]
		@PIdInternoArticulo			VARCHAR(200),
		@PCantidadProducto			DECIMAL(18,2),
		@PIdCompania				VARCHAR(10),
		@PCantidadUnidadAlistoOUT			DECIMAL(18,2) OUTPUT,
		@PCantidadUnidadAlistoInventarioOUT DECIMAL(18,2) OUTPUT,
		@PCantidadEnUnidadMedidaOUT			DECIMAL(18,2) OUTPUT
AS
DECLARE
	@VAREsGranel			BIT,
	@VarContenido			DECIMAL(18,2),
	@VarAuxCantidadAlisto	INT
BEGIN


	--Se obtiene si el artículo es tipo granel para obtener el calculo correcto del artículo
	SET @VAREsGranel = 0
	BEGIN
		SELECT 		
			@VarContenido	= Contenido,
			@VAREsGranel	= Granel
		FROM 
			ADMMaestroArticulo MA
		WHERE
			MA.idInterno	= @PIdInternoArticulo
			AND
			MA.idCompania	= @PIdCompania
	END
	
		
	IF(@PCantidadProducto <= @VarContenido)
	BEGIN
		SET @PCantidadUnidadAlistoOUT = @VarContenido
				
		SET @PCantidadUnidadAlistoOUT			= @VarContenido
		SET @PCantidadEnUnidadMedidaOUT			= @VarContenido 
		SET @PCantidadUnidadAlistoInventarioOUT = @VarContenido
		PRINT 'Menor igual'

	END
	ELSE
	BEGIN
		SET @VarAuxCantidadAlisto = ceiling(@PCantidadProducto/@VarContenido)
		SET @PCantidadUnidadAlistoOUT			= @VarAuxCantidadAlisto--@VarContenido * @VarAuxCantidadAlisto
		SET @PCantidadEnUnidadMedidaOUT			= @VarContenido 
		SET @PCantidadUnidadAlistoInventarioOUT = @PCantidadUnidadAlistoOUT
		PRINT 'Mayor'
	END
	
	IF (@VAREsGranel = 1)
	BEGIN
		SET @PCantidadEnUnidadMedidaOUT = @PCantidadEnUnidadMedidaOUT/1000
		PRINT 'Articulo categorizado como granel'
	END
	PRINT 'Unidades Alisto: '			+CONVERT(VARCHAR, @PCantidadUnidadAlistoOUT)
	PRINT 'Unidades Inventario: '		+CONVERT(VARCHAR, @PCantidadEnUnidadMedidaOUT)
	PRINT 'Unidades Unidad Medida: '	+CONVERT(VARCHAR, @PCantidadUnidadAlistoInventarioOUT)
END
GO
DECLARE 
	@vIdInterno VARCHAR(100)
SET @vIdInterno = '10047'--ACEITE DE OLIVA
SET @vIdInterno = '10047'--ABRIDOR INDUSTRIAL

SELECT 
	 MA.idArticulo
	,MA.idInterno
	,MA.Nombre
	,MA.Contenido
	,MA.Empaque
	,MA.Unidad_Medida
	--,'----------'
	--,* 
FROM ADMMaestroArticulo MA 
WHERE 
	MA.idInterno = @vIdInterno

EXEC [SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN13] @vIdInterno, 20, 'AMCO', 0, 0, 0
GO


/*
CONSULTAS PARA VVERIFICAR EL ARTÍCULO

SELECT 
	 MA.idArticulo
	,MA.idInterno
	,MA.Nombre
	,MA.Contenido
	,MA.Empaque
	,MA.Unidad_Medida
	--,'----------'
	--,* 
FROM ADMMaestroArticulo MA 
	INNER JOIN ADMUnidadAlistoDefecto UAD 
	ON MA.idArticulo = UAD.idArticulo

WHERE 
	MA.idInterno = '10047'
	OR
	UAD.esGTIN13 = 1
ORDER BY MA.idInterno desc


*/