/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN14]    Script Date: 5/2/2018 12:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerUnidadAlistoInventarioPorCantidadGTIN14]
		@PIdInternoArticulo			VARCHAR(200),
		@PCantidadProducto			DECIMAL(18,2),
		@PIdCompania				VARCHAR(10),
		@PCantidadUnidadAlistoOUT	DECIMAL(18,2) OUTPUT,
		@PCantidadUnidadAlistoInventarioOUT DECIMAL(18,2) OUTPUT,
		@PCantidadEnUnidadMedidaOUT	DECIMAL(18,2) OUTPUT
AS
BEGIN
--=============================================================================
-----------------------Variables para calculos----------------------->
--=============================================================================
	Declare @CantidadUnidadAlistoKilos		DECIMAL(18,2) , 
			@CantidadUnidadAlisto			DECIMAL(18,2),
			@CantidadUnidadAlistoPreparar	DECIMAL(18,2), 
			@CantidadUnidadAlistoInventario DECIMAL(18,2), 
			@IdArticulo	BIGINT,  
			@EsGTIN13	BIT,
			@EsGranel	BIT
--=============================================================================
-----------------------Ejecución del calculo------------------------->
--=============================================================================
	SET @CantidadUnidadAlisto = 1
	------Se obtienen IdArticulo y si es Granel------>
	BEGIN
		SELECT  
			@IdArticulo = idArticulo, 
			@EsGranel	= Granel		  
			--idArticulo, Granel 
		FROM 
			ADMMaestroArticulo
		WHERE 
			idInterno	= @PIdInternoArticulo	
			AND
			idCompania	= @PIdCompania 
		GROUP BY  
			idarticulo,
			idInterno,
			Granel	
	END
	------------Se obtiene el contenido del GTIN13 del artículo---------------->
	BEGIN
		SELECT 			
			@CantidadUnidadAlistoKilos	= MA.Contenido,			 
			@EsGTIN13					= UAD.esGTIN13
		FROM 
			ADMUnidadAlistoDefecto UAD  
			INNER JOIN ADMMaestroArticulo MA 
			ON (MA.idArticulo = UAD.idArticulo)
		WHERE 
			MA.idInterno = @PIdInternoArticulo
			AND
			MA.idCompania = @PIdCompania
	END
	---------------------Cálculo de Unidades Alisto e Inventario----------------------------->
	BEGIN
		IF(@IdArticulo>0)
		BEGIN
			IF(@EsGTIN13=0)
			BEGIN
				SELECT 
					@CantidadUnidadAlisto		= G14D.Cantidad, 
					@CantidadUnidadAlistoKilos	= ROUND(G14D.Contenido,0,0)
				FROM 
					ADMGTIN14VariableLogistica G14D
				
					INNER JOIN ADMUnidadAlistoDefecto UAD 
					ON (UAD.idGTIN14VariableLogistica = G14D.idGTIN14VariableLogistica)
				
					INNER JOIN ADMMaestroArticulo MA 
					ON (MA.idArticulo = UAD.idArticulo)

				WHERE 
					MA.idInterno	= @PIdInternoArticulo
					AND
					MA.idCompania	= @PIdCompania
			END						
			SET @CantidadUnidadAlistoPreparar= (SELECT CEILING(@PCantidadProducto/@CantidadUnidadAlistoKilos) AS total)
			SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto
			BEGIN
				IF(@EsGranel=1)
				BEGIN

					SET @CantidadUnidadAlistoPreparar	= (@PCantidadProducto/@CantidadUnidadAlistoKilos)
					SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

					SET @CantidadUnidadAlistoPreparar	= @CantidadUnidadAlistoPreparar * 1000
					SET @CantidadUnidadAlistoInventario =  @CantidadUnidadAlistoInventario * 1000			
				END
			END
		END
	END	
	---------------------Validación para salida de parametros----------------------------->				
	BEGIN --Si las cantidades obtenidas son nulas simplemente enviará -1 en las cantidades
		IF @CantidadUnidadAlistoPreparar IS NULL OR @CantidadUnidadAlistoInventario IS NULL
		BEGIN
			SET @CantidadUnidadAlistoPreparar		= -1;
			SET @CantidadUnidadAlistoInventario		= -1;
			--Se asignan los parametros de salida
			SET @PCantidadUnidadAlistoOUT			= @CantidadUnidadAlistoPreparar
			SET @PCantidadUnidadAlistoInventarioOUT = @CantidadUnidadAlistoInventario
			PRINT ''
			PRINT '!No se obtuvo ninguna cantidad para el  IdInterno: ' + @PIdInternoArticulo +'!'
			PRINT 'Esto se debe a que el no existe un artículo asociado al IdInterno ingresado'
		END
		ELSE
		BEGIN
			--Se asignan los parametros de salida
			SET @PCantidadUnidadAlistoOUT			= @CantidadUnidadAlistoPreparar
			SET @PCantidadUnidadAlistoInventarioOUT = @CantidadUnidadAlistoInventario
			SET @PCantidadEnUnidadMedidaOUT			= (@CantidadUnidadAlistoPreparar * @CantidadUnidadAlistoKilos)
			PRINT ''
			PRINT '!Cantidades obtenidas correctamente!' 
			PRINT 'Cantidad unidades a listar: '		+ CONVERT(VARCHAR,@CantidadUnidadAlistoPreparar)
			PRINT 'Cantidad unidades de inventario: '	+ CONVERT(VARCHAR,@CantidadUnidadAlistoInventario)
			PRINT 'Cantidad en unidad: '				+ CONVERT(VARCHAR, @CantidadUnidadAlistoKilos)
			PRINT 'Cantidad en unidad medida:'			+ CONVERT(VARCHAR, @PCantidadEnUnidadMedidaOUT)
		END		
	END

/*Descomentar para ver las cantidades obtenidas*/
--SELECT 
--	@CantidadUnidadAlistoPreparar	AS CantidadUnidadAlisto, 
--	@CantidadUnidadAlistoInventario	AS CantidadInventario

END	

