/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Articulo_Sin_Unidad_Alisto_Defecto]    Script Date: 24/4/2018 11:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Obtener_Articulo_Sin_Unidad_Alisto_Defecto]
AS
BEGIN
	--SET STATISTICS TIME ON; 
	SET STATISTICS TIME off; 
	SELECT 
		MA.idInterno		AS IdERP,
		MA.idArticulo		AS IdArticulo,	
		MA.Nombre			AS NombreMaestro,
		MA.GTIN13,
		MA.GTIN13_Activo	AS GTIN13Activo,
		MA.Empaque_MAestro	AS EmpaqueMaestro, 
		MA.GTIN14,
		MA.GTIN14_Activo	AS GTIN14Activo,
		MA.Empaque
	FROM 
		ADMUnidadAlistoDefecto AS UAD 
		FULL OUTER JOIN Vista_RelacionGTIN13_GTIN14 AS MA ON (MA.idArticulo = UAD.idArticulo)
	WHERE 
		ISNULL(UAD.idArticulo,0) = 0
		AND MA.GTIN13_Activo = 1
		--AND MA.idInterno <> '19032' --Preguntar luego a el operador sobre dicho artículo			
END
GO
EXEC [SP_Obtener_Articulo_Sin_Unidad_Alisto_Defecto]