/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerListaUnidadAlistoDefecto]    Script Date: 24/4/2018 13:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC SP_ObtenerListaUnidadAlistoDefecto '12'
--SELECT * FROM ADMUnidadAlistoDefecto
ALTER PROCEDURE [dbo].[SP_ObtenerListaUnidadAlistoDefecto]
@idArticulo VARCHAR(500)

AS

BEGIN
--SELECT * FROM Vista_RelacionGTIN13_GTIN14 a WHERE a.GTIN13 = '856840001154'
	SELECT
	b.idArticulo AS 'idArticulo'
	,b.GTIN AS 'GTIN'
	,b.Empaque AS 'Unidad_Medida'
	,ISNULL(CASE 
				WHEN EXISTS(SELECT * FROM ADMUnidadAlistoDefecto z WHERE z.esGTIN13 = 1 AND z.idArticulo = @idArticulo) THEN 1
				ELSE 0
				END, 0) AS 'Defecto'
	FROM ADMMaestroArticulo b
	WHERE b.idArticulo = @idArticulo
	UNION
	SELECT
		a.idArticulo AS 'idArticulo'
		,a.GTIN14 AS 'GTIN'
		,a.Empaque AS 'Unidad_Medida'
		,ISNULL(CASE 
					WHEN EXISTS(SELECT * FROM ADMUnidadAlistoDefecto z WHERE z.esGTIN13 = 0 AND z.idGTIN14VariableLogistica = a.idGTIN14VariableLogistica) THEN 1
					ELSE 0
					END, 0) AS 'Defecto'
	FROM Vista_RelacionGTIN13_GTIN14 a
	WHERE a.idArticulo = @idArticulo


END



