/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarListaUnidadAlistoDefecto]    Script Date: 24/4/2018 13:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC SP_ObtenerListaUnidadAlistoDefecto '12'
--SELECT * FROM ADMUnidadAlistoDefecto
ALTER PROCEDURE [dbo].[SP_ActualizarListaUnidadAlistoDefecto]
	 @PIdArticuloTID	BIGINT	
	,@PGTIN14			VARCHAR(200)
	,@PEsGTIN13			BIT	

AS

BEGIN

	--GET [GTIN13] TID
	DECLARE 
		 @VARGTIN13TID VARCHAR(200)
		,@VarItemCode  VARCHAR(1000)

	
	SELECT TOP 1 
		 @VARGTIN13TID	= GTIN 	
		,@VarItemCode	= IdInterno
	FROM ADMMaestroArticulo 
	WHERE idArticulo = @PIdArticuloTID

	--GET [Id Variable logistica]
	DECLARE @idGTIN14VariableLogistica BIGINT
	SET @idGTIN14VariableLogistica = (SELECT idGTIN14VariableLogistica FROM ADMGTIN14VariableLogistica WHERE ConsecutivoGTIN14 = @PGTIN14)


	--[UPDATE]
	IF EXISTS(SELECT * FROM ADMUnidadAlistoDefecto WHERE idArticulo = @PIdArticuloTID)
		BEGIN
			IF(@PEsGTIN13 = 1)
				BEGIN
					UPDATE ADMUnidadAlistoDefecto 
					SET 
					 idGTIN14VariableLogistica = NULL
					,esGTIN13 = @PEsGTIN13
					,FechaModificacion = GETDATE()
					,Activo = 1
					,GTIN = @VARGTIN13TID
					,IdInternoArticulo = @VarItemCode
					WHERE idArticulo = @PIdArticuloTID
				END
			ELSE
				BEGIN
					UPDATE ADMUnidadAlistoDefecto 
					SET 
					idGTIN14VariableLogistica = @idGTIN14VariableLogistica
					,esGTIN13 = @PEsGTIN13
					,FechaModificacion = GETDATE()
					,Activo = 1
					,GTIN = @PGTIN14
					,IdInternoArticulo = @VarItemCode
					WHERE idArticulo = @PIdArticuloTID
				END
		END
	--[INSERT]
	ELSE
		BEGIN
			IF(@PEsGTIN13 = 1)
				BEGIN
					INSERT INTO ADMUnidadAlistoDefecto 
					(idArticulo
					,esGTIN13
					,Activo
					,GTIN
					,IdInternoArticulo) 
					VALUES 
					(@PIdArticuloTID
					,@PEsGTIN13
					,1
					,@VARGTIN13TID
					,@VarItemCode
					)
				END
			ELSE
				BEGIN
					INSERT INTO ADMUnidadAlistoDefecto 
					(idArticulo
					,idGTIN14VariableLogistica
					,esGTIN13
					,Activo
					,GTIN
					,IdInternoArticulo) 				 
					VALUES 
					(@PIdArticuloTID
					,@idGTIN14VariableLogistica
					,@PEsGTIN13
					,1
					,@PGTIN14
					,@VarItemCode
					)
				END
		END
END
GO
--EXEC [SP_ActualizarListaUnidadAlistoDefectoV1] 0, '', 0


EXEC [SP_ActualizarListaUnidadAlistoDefecto] 6, '27441010400331', 0
SELECT * FROM ADMUnidadAlistoDefecto UAD 
ORDER BY 
--UAD.idUnidadAlistoDefecto DESC
UAD.FechaModificacion DESC 
GO