/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarListaUnidadAlistoDefecto]    Script Date: 24/4/2018 13:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC SP_ObtenerListaUnidadAlistoDefecto '12'
--SELECT * FROM ADMUnidadAlistoDefecto
ALTER PROCEDURE [dbo].[SP_ActualizarListaUnidadAlistoDefecto]
	 @idArticulo BIGINT
	,@GTIN14 NVARCHAR (200)
	,@esGTIN13 BIT

AS

BEGIN

	DECLARE @idGTIN14VariableLogistica BIGINT
	SET @idGTIN14VariableLogistica = (SELECT idGTIN14VariableLogistica FROM ADMGTIN14VariableLogistica WHERE ConsecutivoGTIN14 = @GTIN14)

	IF EXISTS(SELECT * FROM ADMUnidadAlistoDefecto WHERE idArticulo = @idArticulo)
		BEGIN
			IF(@esGTIN13 = 1)
				BEGIN
					UPDATE ADMUnidadAlistoDefecto 
					SET 
					idGTIN14VariableLogistica = NULL
					,esGTIN13 = @esGTIN13
					,FechaModificacion = GETDATE()
					WHERE idArticulo = @idArticulo
				END
			ELSE
				BEGIN
					UPDATE ADMUnidadAlistoDefecto 
					SET 
					idGTIN14VariableLogistica = @idGTIN14VariableLogistica
					,esGTIN13 = @esGTIN13
					,FechaModificacion = GETDATE()
					WHERE idArticulo = @idArticulo
				END
		END
	ELSE
		BEGIN
			IF(@esGTIN13 = 1)
				BEGIN
					INSERT INTO ADMUnidadAlistoDefecto 
					(idArticulo
					,esGTIN13) 
					VALUES 
					(@idArticulo
					,@esGTIN13)
				END
			ELSE
				BEGIN
					INSERT INTO ADMUnidadAlistoDefecto 
					(idArticulo
					,idGTIN14VariableLogistica
					,esGTIN13) 
					VALUES 
					(@idArticulo
					,@idGTIN14VariableLogistica
					,@esGTIN13)
				END
		END
END


