/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [TEST_TRACEID_V2]
GO
/****** Object:  Table [dbo].[ADMUnidadAlistoDefecto]    Script Date: 24/4/2018 13:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMUnidadAlistoDefecto](
	[idUnidadAlistoDefecto] [bigint] IDENTITY(1,1) NOT NULL,
	[idArticulo] [bigint] NOT NULL,
	[idGTIN14VariableLogistica] [bigint] NULL,
	[esGTIN13] [bit] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_ADMUnidadAlistoDefecto] PRIMARY KEY CLUSTERED 
(
	[idUnidadAlistoDefecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMUnidadAlistoDefecto] ADD  CONSTRAINT [DF_ADMUnidadAlistoDefecto_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ADMUnidadAlistoDefecto] ADD  CONSTRAINT [DF_ADMUnidadAlistoDefecto_FechaModificacion]  DEFAULT (getdate()) FOR [FechaModificacion]
GO
