/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Articulos_Despachados_Por_Lote_Rango_FechaV2]    Script Date: 4/4/2018 14:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[Obtener_Articulos_Despachados_Por_Lote_Rango_FechaV2]
	 @PIdArticulo BIGINT	
	,@PFechaInicio DATETIME
	,@PFechaFin DATETIME
	,@PFiltroPorLote BIT
	,@PLote VARCHAR(200)
AS
BEGIN

/*
<======================================================================>
							Funcionamiento:

1.Obtiene los depachos de un articulo en un rango de fecha
  donde IdMetodoAccion = 67 "Despacho" y IdEstado = 14 "Salida".
  [TABLA][Trazabilidad]

2.Obtiene despachados del artículo sin importar el lote
  en el rango de fecha indicado. (Si @PFiltroPorLote = 0)

3.Obtiene los despachos del articulo de un lote específico
  en el rango de fecha indicado. (Si @PFiltroPorLote = 1)

<======================================================================>
*/
PRINT '=======[PARAMETROS DE ENTRADA]=========='
PRINT 'IdArticulo: ' + CONVERT(VARCHAR,	@PIdArticulo)
PRINT 'Fecha inicio: ' + CONVERT(VARCHAR,	CONVERT(DATE,ISNULL(@PFechaInicio, GETDATE())))
PRINT 'Fecha fin: ' + CONVERT(VARCHAR,	CONVERT(DATE,ISNULL(@PFechaFin, GETDATE())))
PRINT 'Filtro por lote: ' + CONVERT(VARCHAR,	@PFiltroPorLote)
PRINT 'Lote: ' + CONVERT(VARCHAR,	@PLote)

	--Sin Filtro lote 
	IF @PFiltroPorLote = 0
		BEGIN -- [SIN FILTRO POR LOTE]
			PRINT ''
			PRINT '[Sin filtro]'
			SELECT DISTINCT
				--ISNULL(MS.idInternoSAP, 'TRACEID')		AS IdInternoSAPSolicitud,
				CASE MS.idInternoSAP
					WHEN '' THEN 'TRACEID'
					ELSE MS.idInternoSAP 
				END										AS IdInternoSAPSolicitud,
				MS.IdMaestroSolicitud					AS IdSolicitudTID,
				AD.IdArticulo,			
				MA.IdInterno,
				ISNULL(AD.Lote, '')						AS Lote,
				CONVERT(DATE,ISNULL(AD.FechaVencimiento, GETDATE()))
														AS FechaVencimiento,			
				CASE MA.Granel
					WHEN 0 THEN
						CONVERT(decimal(18,6), SUM(AD.Cantidad * MA.Contenido))
					ELSE
						CONVERT(decimal(18,6), SUM(AD.Cantidad/1000))
					
				END										AS CantidadDespachada,
				CASE MA.Granel
					WHEN 0 THEN
						CONVERT(decimal(18,6), DS.Cantidad * MA.Contenido)
					ELSE
						CONVERT(decimal(18,6), (DS.Cantidad/1000))

				END										AS CantidadSolicitada,
				ISNULL(SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida,
				CONVERT(INT, DS.CantidadUnidadAlisto)	AS CantidadUnidadAlistoSolicitud,
				''										AS EtiquetaUbicacionDespacho,
				D.Nombre								AS DestinoSolicitud, 
				CONVERT(DATE, AD.FechaRegistro)			AS FechaDespacho

			FROM 
				OPEArticulosDespachados AD

				INNER JOIN ADMMaestroArticulo MA
					ON	MA.IdArticulo = AD.IdArticulo

				INNER JOIN OPESALMaestroSolicitud MS
					ON MS.IdMaestroSolicitud = AD.idMaestroSolicitud

				INNER JOIN OPESALDetalleSolicitud  DS
					ON  AD.idLineaDetalleSolicitud = DS.idLineaDetalleSolicitud

				INNER JOIN ADMDestino D
					ON  MS.IdDestino = D.IdDestino	

				INNER JOIN ADMUnidadAlistoDefecto UAD
				ON DS.idArticulo = UAD.idArticulo
			WHERE
				AD.IdArticulo = @PIdArticulo				
				AND CONVERT(DATE, ISNULL(AD.FechaRegistro, GETDATE())) BETWEEN CONVERT(DATE, ISNULL(@PFechaInicio, GETDATE())) AND CONVERT(DATE, ISNULL(@PFechaFin, GETDATE()))			
				--AD.Lote = '301017'
				--Lote = '121017'
			GROUP BY 
				MS.idInternoSAP,
				MS.IdMaestroSolicitud,
				AD.IdArticulo,
				MA.IdInterno,
				AD.Lote,
				DS.Cantidad,
				DS.CantidadUnidadAlisto,
				MA.Unidad_Medida,
				D.Nombre,
				CONVERT(DATE, AD.FechaRegistro),
				CONVERT(DATE,ISNULL(AD.FechaVencimiento, GETDATE())),
				MA.Granel,
				MA.Empaque,
				MA.Contenido,
				UAD.esGTIN13 
			ORDER BY CONVERT(DATE, AD.FechaRegistro) ASC
		END
	ELSE
		BEGIN -- [CON FILTRO POR LOTE]
			PRINT ''
			PRINT '[Con filtro]'
			SELECT DISTINCT
				--ISNULL(MS.idInternoSAP, 'TRACEID')		AS IdInternoSAPSolicitud,
				CASE MS.idInternoSAP
					WHEN '' THEN 'TRACEID'
					ELSE MS.idInternoSAP 
				END										AS IdInternoSAPSolicitud,
				MS.IdMaestroSolicitud					AS IdSolicitudTID,
				AD.IdArticulo,			
				MA.IdInterno,
				ISNULL(AD.Lote, '')						AS Lote,
				CONVERT(DATE,ISNULL(AD.FechaVencimiento, GETDATE()))
														AS FechaVencimiento,
				CASE MA.Granel
					WHEN 0 THEN
						CONVERT(decimal(18,6), SUM(AD.Cantidad * MA.Contenido))
					ELSE
						CONVERT(decimal(18,6), SUM(AD.Cantidad * MA.Contenido/1000))
					
				END										AS CantidadDespachada,				
				CASE MA.Granel
					WHEN 0 THEN
						CONVERT(decimal(18,6), DS.Cantidad * MA.Contenido)
					ELSE
						CONVERT(decimal(18,6), (DS.Cantidad/1000))

				END										AS CantidadSolicitada,
				ISNULL(SUBSTRING(MA.Empaque, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida,	
				CONVERT(INT, DS.CantidadUnidadAlisto)	AS CantidadUnidadAlistoSolicitud,
				''										AS EtiquetaUbicacionDespacho,
				D.Nombre								AS DestinoSolicitud, 
				CONVERT(DATE, AD.FechaRegistro)			AS FechaDespacho

				FROM 
					OPEArticulosDespachados AD

					INNER JOIN ADMMaestroArticulo MA
						ON	MA.IdArticulo = AD.IdArticulo

					INNER JOIN OPESALMaestroSolicitud MS
						ON MS.IdMaestroSolicitud = AD.idMaestroSolicitud

					INNER JOIN OPESALDetalleSolicitud  DS
						ON  AD.idLineaDetalleSolicitud = DS.idLineaDetalleSolicitud

					INNER JOIN ADMDestino D
						ON  MS.IdDestino = D.IdDestino	
	
					INNER JOIN ADMUnidadAlistoDefecto UAD
						ON DS.idArticulo = UAD.idArticulo

				WHERE
					AD.IdArticulo = @PIdArticulo
					AND AD.Lote = @PLote
					AND CONVERT(DATE, ISNULL(AD.FechaRegistro, GETDATE())) BETWEEN CONVERT(DATE, ISNULL(@PFechaInicio, GETDATE())) AND CONVERT(DATE, ISNULL(@PFechaFin, GETDATE()))			
					--AD.Lote = '301017'
					--Lote = '121017'
				GROUP BY 
					MS.idInternoSAP,
					MS.IdMaestroSolicitud,
					AD.IdArticulo,
					MA.IdInterno,
					AD.Lote,
					DS.Cantidad,
					DS.CantidadUnidadAlisto,
					MA.Unidad_Medida,
					D.Nombre,
					CONVERT(DATE, AD.FechaRegistro),
					CONVERT(DATE,ISNULL(AD.FechaVencimiento, GETDATE())),
					MA.Granel,
					MA.Empaque,
					MA.Contenido,
					UAD.esGTIN13 
			ORDER BY CONVERT(DATE, AD.FechaRegistro) ASC
		END
END
