/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  Trigger [dbo].[TRI_A_ADMMaestroArticulo]    Script Date: 5/2/2018 12:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRI_A_ADMMaestroArticulo]
   ON   [dbo].[ADMMaestroArticulo]
   AFTER INSERT, DELETE, UPDATE
AS 
DECLARE 
	@IdArticulo			BIGINT,
	@IdInternoArticulo	VARCHAR(1000),
	@NombreArticulo		VARCHAR(400),
	@NombreCampo		VARCHAR(50),
	@ValorOriginal		VARCHAR(1000),
	@ValorActual		VARCHAR(1000)	
		

BEGIN
	SET NOCOUNT ON;
	--Ejeción del Trigger
	DECLARE @Activity	NVARCHAR (50),
			@IdInsert	INT,
			@IdUpdate	INT,
			@IdDelete	INT,
			@RegistrarModificacionesIdenticas BIT	 --Permite validar si se quiere auditar cambios donde se registra el mismo dato ejemplo Update Contenido: 1.0 por Contenido 1.0 si se pone en 1 se valida y no se audita
			
	--Estos Ids hacen referencia a la acción asociada a la tabla Auditoria_TipoOperacion
	SET @IdInsert = 1;
	SET @IdUpdate = 2;
	SET @IdDelete = 3;
	SET @RegistrarModificacionesIdenticas = 0;
					
	-----------------------------[DETERMINAR LA ACCIÓN]------------------------------	
	-- INSERT
	IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS(SELECT * FROM deleted)
	BEGIN
		SET @Activity = 'INSERT' -- Equivale en la tabla Auditoria_Tipo_Operacion = 1
	END

	-- UPDATE
	IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
	BEGIN
		SET @Activity = 'UPDATE' --  Equivale en la tabla Auditoria_Tipo_Operacion = 2
	END

	-- DELETE
	IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS(SELECT * FROM inserted)
	BEGIN
		SET @Activity = 'DELETE' --  Equivale en la tabla Auditoria_Tipo_Operacion = 3
	END

	--=============================================================
	--				CAMPOS AUDITADOS ACTUALMENTE
	--=============================================================
	/*
	-Contenido
	*/
	--=============================================================
	--						 [INSERT]
	--=============================================================

	IF(@Activity = 'INSERT')				
	BEGIN TRY
			SET @IdArticulo			= (SELECT idArticulo FROM inserted) --Se obtiene la llave primaria del artículo						
			SET @IdInternoArticulo	= (SELECT idInterno  FROM inserted) 
			SET @NombreArticulo		= (SELECT Nombre     FROM inserted)
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdInsert, @NombreArticulo, NULL, NULL, 'Nuevo artículo')
			PRINT '!Se insertó un nuevo artículo!'

		END TRY
		BEGIN CATCH
			PRINT 'Detalles T_Insert'
			EXEC SPObtenerErrorEjecucion;		
	END CATCH
	
	--=============================================================
	--						 [UPDATE]
	--=============================================================
	
	IF(@Activity = 'UPDATE')					
	BEGIN TRY
		SET @IdArticulo			= (SELECT idArticulo FROM deleted) --Se obtiene la llave primaria del artículo
		SET @IdInternoArticulo	= (SELECT idInterno  FROM deleted) 
		SET @NombreArticulo		= (SELECT Nombre     FROM deleted)
		
		-->[idCompania]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idCompania  FROM deleted) 
			SET @ValorActual		= (SELECT idCompania  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idCompania', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idCompania!' 						
		END
		-->[FIN idCompania]

		-->[Nombre]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Nombre  FROM deleted) 
			SET @ValorActual		= (SELECT Nombre  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Nombre', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Nombre!' 						
		END
		-->[FIN idCompania]

		-->[NombreHH]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT NombreHH  FROM deleted) 
			SET @ValorActual		= (SELECT NombreHH  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'NombreHH', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: NombreHH!' 						
		END
		-->[FIN NombreHH]

		-->[GTIN]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT GTIN  FROM deleted) 
			SET @ValorActual		= (SELECT GTIN  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'GTIN', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: GTIN!' 						
		END
		-->[FIN GTIN]

		-->[idUnidadMedida]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idUnidadMedida  FROM deleted) 
			SET @ValorActual		= (SELECT idUnidadMedida  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idUnidadMedida', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idUnidadMedida!' 						
		END
		-->[FIN idUnidadMedida]

		-->[idTipoEmpaque]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idTipoEmpaque  FROM deleted) 
			SET @ValorActual		= (SELECT idTipoEmpaque  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idTipoEmpaque', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idTipoEmpaque!' 						
		END
		-->[FIN idTipoEmpaque]

		-->[idEtiqueta]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idEtiqueta  FROM deleted) 
			SET @ValorActual		= (SELECT idEtiqueta  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idEtiqueta', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idEtiqueta!' 						
		END
		-->[FIN idEtiqueta]

		-->[DuracionHoraAlisto]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT DuracionHoraAlisto  FROM deleted) 
			SET @ValorActual		= (SELECT DuracionHoraAlisto  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'DuracionHoraAlisto', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: DuracionHoraAlisto!' 						
		END
		-->[FIN DuracionHoraAlisto]

		-->[idBodega]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idBodega  FROM deleted) 
			SET @ValorActual		= (SELECT idBodega  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idBodega', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idBodega!' 						
		END
		-->[FIN idBodega]

		-->[PesoKilos]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT PesoKilos  FROM deleted) 
			SET @ValorActual		= (SELECT PesoKilos  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'PesoKilos', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: PesoKilos!' 						
		END
		-->[FIN PesoKilos]

		-->[DimensionUnidadM3]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT DimensionUnidadM3  FROM deleted) 
			SET @ValorActual		= (SELECT DimensionUnidadM3  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'DimensionUnidadM3', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: DimensionUnidadM3!' 						
		END
		-->[FIN DimensionUnidadM3]

		-->[DimensionUnidadM3]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT DimensionUnidadM3  FROM deleted) 
			SET @ValorActual		= (SELECT DimensionUnidadM3  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'DimensionUnidadM3', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: DimensionUnidadM3!' 						
		END
		-->[FIN DimensionUnidadM3]

		-->[Equivalencia]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Equivalencia  FROM deleted) 
			SET @ValorActual		= (SELECT Equivalencia  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Equivalencia', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Equivalencia!' 						
		END
		-->[FIN Equivalencia]

		-->[idUsuario]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idUsuario  FROM deleted) 
			SET @ValorActual		= (SELECT idUsuario  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idUsuario', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idUsuario!' 						
		END
		-->[FIN idUsuario]

		-->[idFamilia]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idFamilia  FROM deleted) 
			SET @ValorActual		= (SELECT idFamilia  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idFamilia', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idFamilia!' 						
		END
		-->[FIN idFamilia]


		-->[Granel]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Granel  FROM deleted) 
			SET @ValorActual		= (SELECT Granel  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Granel', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idFamilia!' 						
		END
		-->[FIN Granel]


		-->[TemperaturaMaxima]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT TemperaturaMaxima  FROM deleted) 
			SET @ValorActual		= (SELECT TemperaturaMaxima  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'TemperaturaMaxima', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: TemperaturaMaxima!' 						
		END
		-->[FIN TemperaturaMaxima]


		-->[TemperaturaMinima]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT TemperaturaMinima  FROM deleted) 
			SET @ValorActual		= (SELECT TemperaturaMinima  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'TemperaturaMinima', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: TemperaturaMinima!' 						
		END
		-->[FIN TemperaturaMinima]


		-->[DiasMinimosVencimiento]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT DiasMinimosVencimiento  FROM deleted) 
			SET @ValorActual		= (SELECT DiasMinimosVencimiento  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'DiasMinimosVencimiento', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: DiasMinimosVencimiento!' 						
		END
		-->[FIN DiasMinimosVencimiento]

		-->[idInterno]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idInterno  FROM deleted) 
			SET @ValorActual		= (SELECT idInterno  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idInterno', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idInterno!' 						
		END
		-->[FIN idInterno]


		-->[Contenido]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Contenido  FROM deleted) 
			SET @ValorActual		= (SELECT Contenido  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Contenido', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Contenido!' 						
		END
		-->[FIN Contenido]

		-->[Unidad_Medida]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Unidad_Medida  FROM deleted) 
			SET @ValorActual		= (SELECT Unidad_Medida  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Unidad_Medida', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Unidad_Medida!' 						
		END
		-->[FIN Unidad_Medida]

		-->[DiasMinimosVencimientoRestaurantes]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT DiasMinimosVencimientoRestaurantes  FROM deleted) 
			SET @ValorActual		= (SELECT DiasMinimosVencimientoRestaurantes  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'DiasMinimosVencimientoRestaurantes', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: DiasMinimosVencimientoRestaurantes!' 						
		END
		-->[FIN DiasMinimosVencimientoRestaurantes]

		-->[DiasMinimosVencimientoRestaurantes]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT idCategoriaArticulo  FROM deleted) 
			SET @ValorActual		= (SELECT idCategoriaArticulo  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'idCategoriaArticulo', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: idCategoriaArticulo!' 						
		END
		-->[FIN DiasMinimosVencimientoRestaurantes]

		-->[Activo]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Activo  FROM deleted) 
			SET @ValorActual		= (SELECT Activo  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Activo', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Activo!' 						
		END
		-->[FIN Activo]


		-->[FechaRegistro]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT FechaRegistro  FROM deleted) 
			SET @ValorActual		= (SELECT FechaRegistro  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'FechaRegistro', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: FechaRegistro!' 						
		END
		-->[FIN FechaRegistro]

		-->[Tolerancia]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Tolerancia  FROM deleted) 
			SET @ValorActual		= (SELECT Tolerancia  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Tolerancia', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Tolerancia!' 						
		END
		-->[FIN Tolerancia]

		-->[Empaque]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Empaque  FROM deleted) 
			SET @ValorActual		= (SELECT Empaque  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Empaque', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Empaque!' 						
		END
		-->[FIN Empaque]

		-->[CONTENIDO]									
		IF @ValorOriginal <> @ValorActual COLLATE Latin1_General_CS_AS ---Evita que se escriban campos que no fueron modificados o campos que se modificaron identicamente a como estaban	
		BEGIN
			SET @ValorOriginal		= (SELECT Contenido  FROM deleted) 
			SET @ValorActual		= (SELECT Contenido  FROM inserted)	
			INSERT INTO Auditoria_ADMMaestroArticulo
				(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
			VALUES
				(@IdArticulo, @IdInternoArticulo, @IdUpdate, @NombreArticulo, 'Contenido', @ValorOriginal, @ValorActual)
			PRINT '!Se actualizó el valor en el campo: Contenido!' 						
		END
		-->[FIN CONTENIDO]							


	END	TRY	
	BEGIN CATCH 
		PRINT 'Detalles T_Update'
		EXEC SPObtenerErrorEjecucion; --Detalles del error 												

	END CATCH


	--=============================================================
	--						 [DELETE]
	--=============================================================
	IF(@Activity = 'DELETE')					
	BEGIN TRY-->[CONTENIDO]	
		SET @IdArticulo			= (SELECT idArticulo FROM deleted) --Se obtiene la llave primaria del artículo
		SET @IdInternoArticulo	= (SELECT idInterno  FROM deleted) 
		SET @NombreArticulo		= (SELECT Nombre     FROM deleted)
		SET @ValorOriginal		= (SELECT Contenido  FROM deleted) 
		SET @ValorActual		= ''
													
		INSERT INTO Auditoria_ADMMaestroArticulo
			(IdArticuloPK, IdInterno, IdTipoOperacionFK, NombreArticulo, NombreCampo, ValorOriginal, ValorActual)
		VALUES
			(@IdArticulo, @IdInternoArticulo, @IdDelete, @NombreArticulo, 'Contenido', NULL, '>>Se elimino el elemento<<')			
		PRINT '!Se elimino el valor el artículo!' 						
								
	END	TRY	
	BEGIN CATCH 
		PRINT 'Detalles T_Update'
		EXEC SPObtenerErrorEjecucion; --Detalles del error 												

	END CATCH-->[FIN CONTENIDO]
	
END
