/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[Obtener_DiferenciaInventarioExport]    Script Date: 14/2/2018 17:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[Obtener_DiferenciaInventarioExport] 
		@IdArticulo	AS VARCHAR (100)
	   ,@OpcionReporte AS VARCHAR (100)
	   ,@IdCompania AS VARCHAR (100)
AS
 SET LANGUAGE spanish
BEGIN

	IF @IdArticulo = 'Todos'
	BEGIN
		IF @OpcionReporte = 'Todos'
		BEGIN
			SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
			      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
			      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
			      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
			FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
			WHERE vDAI.idInterno = DAE.idInternoArticulo
			AND vDAI.idCompania = DAE.idCompania
			AND vDAI.idCompania = @IdCompania
		END
		ELSE
		BEGIN
			SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
			      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
			      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
			      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
			FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
			WHERE vDAI.idInterno = DAE.idInternoArticulo
			AND vDAI.idCompania = DAE.idCompania
			AND vDAI.idCompania = @IdCompania
			AND vDAI.DISPONIBLES <> DAE.Cantidad
		END
	END
	ELSE
	BEGIN
		IF @OpcionReporte = 'Todos'
		BEGIN
			SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
			      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
			      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
			      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
			FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
			WHERE vDAI.idInterno = DAE.idInternoArticulo
			AND vDAI.idCompania = DAE.idCompania
			AND vDAI.idCompania = @IdCompania
			AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
		END
		ELSE
		BEGIN
			SELECT CAST(vDAI.idInterno as varchar) as 'idInterno'
			      ,(SELECT TOP 1 MA.Nombre FROM ADMMaestroArticulo MA WHERE MA.idInterno= vDAI.idInterno) as 'NombreArticulo'
			      ,CAST(CAST((ROUND((ISNULL(vDAI.DISPONIBLES,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaInventario'
			      ,CAST(CAST((ROUND((ISNULL(DAE.Cantidad,0.00)), 0, 0)) AS INT)as varchar) as 'DiferenciaERP'
			FROM Vista_DisponibleXidArticuloInterno vDAI, OPEDiferenciaArticulosERP DAE
			WHERE vDAI.idInterno = DAE.idInternoArticulo
			AND vDAI.idCompania = DAE.idCompania
			AND vDAI.idCompania = @IdCompania
			AND vDAI.DISPONIBLES <> DAE.Cantidad
			AND vDAI.idInterno in (SELECT MA.idInterno FROM ADMMaestroArticulo MA WHERE MA.idArticulo = @IdArticulo)
		END
	END
END
