/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerCantidadSAP]    Script Date: 15/2/2018 08:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ObtenerCantidadSAP]
		@IdArticulo	AS bigint

AS	 		 
		select Cantidad
		from OPEDiferenciaArticulosERP ODAERP
		inner join dbo.ADMMaestroArticulo ADMMA
		on ADMMA.idInterno= ODAERP.idInternoArticulo
		where ADMMA.idArticulo =@IdArticulo