/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Ajuste_Inventario_Por_Articulo_Rango_Fecha_Filtro_LoteV2]    Script Date: 4/4/2018 14:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--ALTER PROC	[dbo].[SP_Obtener_Ajuste_Inventario_Por_Articulo_Rango_Fecha_Filtro_LoteTest]
ALTER PROC	[dbo].[SP_Obtener_Ajuste_Inventario_Por_Articulo_Rango_Fecha_Filtro_LoteV2]
	@PIdArticulo BIGINT,	
	@PFechaInicio DATETIME,
	@PFechaFin DATETIME,
	@PLote VARCHAR(200),
	@PFiltroPorLote BIT
AS

BEGIN


	--Se Asigna para que se contemple todo el día completo en la fechaFin
	SET @PFechaFin = DATEADD(HOUR,23,@PFechaFin)
	SET @PFechaFin = DATEADD(MINUTE,59,@PFechaFin)
	SET @PFechaFin = DATEADD(SECOND,59,@PFechaFin)

	--[Sin filtro]
	IF @PFiltroPorLote = 0	
	BEGIN--[SIN FILTRO POR LOTE]
	PRINT 'Sin filtro por lote'
		--===============================================================================
		--				 CARGA DE RECEPCIONES (55) Y DESPACHOS (63)
		--===============================================================================
		SELECT * FROM (SELECT	
			CASE T.IdMetodoAccion
				--==================================================
				--  Obtener el número OC de un artículo recibido
				--==================================================
				WHEN 55 THEN --'Recepción' 
					(SELECT TOP 1
						'Recepcion#ERP:' + MOC.idInterno	AS IdOrdenCompraOC								
					FROM 
						Trazabilidad T
		
						INNER JOIN OPEArticulosRecibidosOC AROC
							ON	T.IdArticulo = AROC.idArticulo
							AND T.Lote = AROC.Lote
							AND T.FechaVencimiento = AROC.FechaVencimiento
	
						INNER JOIN OPEINGMaestroOrdenCompra MOC
							ON	 MOC.idMaestroOrdenCompra = AROC.idMaestroOrdenCompra

					WHERE 
						--T.Lote = '060'
						--AND
						T.IdArticulo = @PIdArticulo
						AND 
						T.IdMetodoAccion = 55)


				--==================================================
				--  Obtener el número Solicitud de un artículo recibido
				--==================================================
				WHEN 63 THEN --'Alisto'
				(SELECT TOP 1
					 'Alisto#ERP:' + MS.idInternoSAP			
				FROM 
					Trazabilidad T
					INNER JOIN RELSSCCTRA RSSCC 
					ON	T.IdArticulo = RSSCC.idArticulo
					AND	T.Lote = RSSCC.Lote
					AND T.FechaVencimiento = RSSCC.FechaVencimiento

					INNER JOIN OPESALMaestroSolicitud MS
					ON RSSCC.IdMaestroSolicitud = MS.idMaestroSolicitud

				WHERE
					--T.Lote = '060'
					--AND
					T.IdArticulo = @PIdArticulo	
					AND				
					T.IdMetodoAccion = 63)

			END												AS IdMovimiento	
			,CASE T.IdMetodoAccion
				--==================================================
				--  Obtener el número OC de un artículo recibido
				--==================================================
				WHEN 55 THEN --'Recepción' 
					(SELECT TOP 1
						'Recepcion#ERP:' + MOC.idInterno	AS IdOrdenCompraOC						
					FROM 
						Trazabilidad T
		
						INNER JOIN OPEArticulosRecibidosOC AROC
							ON	T.IdArticulo = AROC.idArticulo
							AND T.Lote = AROC.Lote
							AND T.FechaVencimiento = AROC.FechaVencimiento
	
						INNER JOIN OPEINGMaestroOrdenCompra MOC
							ON	 MOC.idMaestroOrdenCompra = AROC.idMaestroOrdenCompra

					WHERE 
						--T.Lote = '060'
						--AND
						T.IdArticulo = @PIdArticulo
						AND 
						T.IdMetodoAccion = 55)


				--==================================================
				--  Obtener el número Solicitud de un artículo recibido
				--==================================================
				WHEN 63 THEN --'Alisto'
				(
				SELECT TOP 1
					 'Alisto#ERP:' + MS.idInternoSAP						
				FROM 
					Trazabilidad T
					INNER JOIN RELSSCCTRA RSSCC 
					ON	T.IdArticulo = RSSCC.idArticulo
					AND	T.Lote = RSSCC.Lote
					AND T.FechaVencimiento = RSSCC.FechaVencimiento

					INNER JOIN OPESALMaestroSolicitud MS
					ON RSSCC.IdMaestroSolicitud = MS.idMaestroSolicitud

				WHERE
					--T.Lote = '060'
					--AND
					T.IdArticulo = @PIdArticulo	
					AND				
					T.IdMetodoAccion = 63)

			END									AS NumeroMovimiento

			/*
			CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
													AS IdMovimiento													
			,'#AjusteTID:' + CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
			
			
			*/
			,MA.IdArticulo						AS IdArticulo
			,ISNULL(MA.IdInterno, '')			AS IdInternoSAP
			,ISNULL(MA.Nombre, '')				AS NombreArticulo
		    ,CONVERT(DECIMAL(18,6), 
			 CASE
				--[Entradas 12]
				WHEN  MA.Granel = 0 AND T.IdEstado = 12  THEN SUM((ISNULL(T.Cantidad, 0) * MA.Contenido))
				WHEN  MA.Granel = 1 AND T.IdEstado = 12 THEN SUM((T.Cantidad/1000))				
				--[Salidas 14]				
				WHEN  MA.Granel = 0 AND T.IdEstado = 14  THEN 0 - SUM((ISNULL(T.Cantidad, 0) * MA.Contenido))
				WHEN  MA.Granel = 1 AND T.IdEstado = 14 THEN  0 - SUM((T.Cantidad/1000))
			 END)								AS Cantidad

			,ISNULL(SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida
			,CASE 
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 55		THEN 'Recepción'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 63		THEN 'Alisto'
			END									AS AjusteInventarioDescripcion
			,'+'								AS EfectoEnInventario
			,CONVERT(DATE, ISNULL(T.FechaRegistro, GETDATE()))					
												AS FechaRegistroTrazabilidad
			,T.IdUbicacion						AS IdUbicacion--IdDestino 
			,MU.Descripcion						AS DescripcionUbicacion --DescripcionDestino
			,T.IdUsuario						AS IdUsuario
			,U.Usuario							AS Usuario
			,U.NOMBRE_PILA 
					 + ' ' + U.APELLIDOS_PILA	
												AS UsuarioNombreCompleto
			,T.IdEstado							AS IdEstado
			,ISNULL(T.IdMetodoAccion, -3)		AS IdMetodoAccion
			,CASE 
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 55		THEN 'Recepción'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 63		THEN 'Alisto'
			END									AS MetodoAccionDetalle
			,T.Lote								AS Lote	 
		FROM 
			Trazabilidad T
	
			INNER JOIN ADMMaestroArticulo MA
			ON T.IdArticulo = MA.idArticulo

			INNER JOIN Usuarios U
			ON T.IdUsuario = U.IdUsuario

			INNER JOIN ADMMaestroUbicacion MU
			ON T.IdUbicacion = MU.IdUbicacion
			
			INNER JOIN ADMUnidadAlistoDefecto UAD
			ON MA.idArticulo = UAD.idArticulo


		WHERE

				CONVERT(DATE, T.FechaRegistro) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)		 			
			AND T.IdArticulo = @PIdArticulo 	
			AND T.IdSecuencia IN(
				-1,--Proviene de un Ajuste de Inventario
				-2 --Proviene de una OC
			)	
			AND (
				T.IdMetodoAccion IN (
					55, --Recepción Entrada
					63  --Entrada Zona Tránsito
					)
				--OR
				--T.IdMetodoAccion IS NULL
				)
		GROUP BY 
			 MA.IdArticulo
			,T.Cantidad
			,MA.IdInterno
			,MA.Nombre
			,MA.Granel
			,MA.Unidad_Medida
			,UAD.esGTIN13	
			,MA.Empaque				
			,T.IdEstado
			,T.IdMetodoAccion
			--,T.FechaRegistro
			,CONVERT(DATE, ISNULL(T.FechaRegistro, GETDATE()))
			,T.IdUbicacion
			,MU.Descripcion
			,T.IdUsuario
			,U.Usuario
			,U.NOMBRE_PILA
			,U.APELLIDOS_PILA
			,T.Lote

		--ORDER BY CONVERT(DATE, ISNULL(T.FechaRegistro, GETDATE())) DESC
		UNION 
		--===============================================================================
		--				 CARGA DE LOS AJUSTES DE INVENTARIO APLICADOS
		--		   SAI.Estado = 2 -- Estado = 1 pendiente || Estado = 2 aprobado
		--				Actualmente solo toma ajustes de inventario aprobados
		--===============================================================================
		SELECT
			--'# ' + CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
			--										AS IdSolicitudAjusteInventarioDetalle

			 CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
													AS IdMovimiento													
			,'Ajuste#TID:' + CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
													AS NumeroMovimiento
			,ADMMA.IdArticulo						AS IdArticulo	
			,ADMMA.idInterno						AS IdInternoSAP
			,ADMMA.Nombre							AS NombreArticulo
			,CONVERT(DECIMAL(18,6),
			CASE 
				--[Entradas]
				WHEN ADMMA.Granel = 0 AND AI.TipoAjuste = 1 THEN SUM(RSA.Cantidad * ADMMA.Contenido)						
				WHEN ADMMA.Granel = 1 AND AI.TipoAjuste = 1 THEN SUM(RSA.Cantidad/1000)
				--[Salidas]
				WHEN ADMMA.Granel = 0 AND AI.TipoAjuste = 0 THEN 0 - SUM(RSA.Cantidad * ADMMA.Contenido)						
				WHEN ADMMA.Granel = 1 AND AI.TipoAjuste = 0 THEN 0 - SUM(RSA.Cantidad/1000)
			END)								AS Cantidad
			,ISNULL(SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida
			--,CASE AI.idAjusteInventario
			--	WHEN 1 THEN 'Toma física entrada'
			--	WHEN 2 THEN 'Toma física salida'
			--	WHEN 3 THEN 'Movimiento de inventario entrada'
			--	WHEN 4 THEN 'Movimiento de inventario salida'
			--	WHEN 5 THEN 'Bonificación entrada'
			--	WHEN 6 THEN 'Reversion de bonificacion salida'
			--	WHEN 7 THEN 'Reversion merma vida util entrada'
			--	WHEN 8 THEN 'Merma vida util salida'
			--	WHEN 9 THEN 'Reversion merma almacenamiento entrada'
			--	WHEN 10 THEN 'Merma almacenamiento salida'
			--	WHEN 11 THEN 'Reversion merma transporte entrada'
			--	WHEN 12 THEN 'Merma transporte salida'
			--	WHEN 13 THEN 'Reversion producto obsoleto entrada'
			--	WHEN 14 THEN 'Producto obsoleto salida'
			--	WHEN 15 THEN 'Reversion merma calidad entrada'
			--	WHEN 16 THEN 'Merma calidad salida'
			--	WHEN 17 THEN 'Produccion comisariato entrada'
			--	WHEN 18 THEN 'Reversion produccion comisariato salida'
			--	WHEN 19 THEN 'Reversion venta interna al personal entrada'
			--	WHEN 20 THEN 'Venta interna al personal salida'
			--	WHEN 21 THEN 'Reversion limpieza entrada'
			--	WHEN 22 THEN 'Limpieza salida'
			--	WHEN 23 THEN 'Reversion papelería entrada'
			--	WHEN 24 THEN 'Papelería salida'
			--	WHEN 25 THEN 'Reversión viáticos entrada'
			--	WHEN 26 THEN 'Viáticos salida'
			--	WHEN 27 THEN 'Reversion articulos menores entrada'
			--	WHEN 28 THEN 'Articulos Menores salida'
			--	WHEN 29 THEN 'Reversion producto de prueba entrada'
			--	WHEN 30 THEN 'Producto de prueba salida'
			--	WHEN 31 THEN 'Reversion familia gutierrez entrada'
			--	WHEN 32 THEN 'Familia Gutierrez salida'		
			--	END									AS AjusteInventarioDescripcion
			,CASE AI.TipoAjuste
				WHEN 0 THEN 'Ajuste Salida - '  + AI.Nombre
				WHEN 1 THEN 'Ajuste Entrada - ' + AI.Nombre			
			END										AS AjusteInventarioDescripcion
			,CASE AI.TipoAjuste
				WHEN 0 THEN '-'
				WHEN 1 THEN '+'					
				END									AS EfectoEnInventario
			,CONVERT(date, (SAI.FechaAprobado)) 
													AS FechaFechaRegistroTrazabilidad
			,SAI.idDestino							AS IdUbicacion
			,ADMD.Nombre							AS DescripcionUbicacion --DescripcionDestino
			,SAI.IdUsuario							AS IdUsuario
			,U.Usuario							    AS Usuario
			,U.NOMBRE_PILA + ' ' + U.APELLIDOS_PILA	
													AS UsuarioNombreCompleto
			,CASE AI.TipoAjuste
				WHEN 0 THEN 14
				WHEN 1 THEN 12		
				END									AS IdEstado											
			,8										AS IdMetodoAccion -- 8 equivale a ajuste de inventario
			--,CASE AI.idAjusteInventario
			--	WHEN 1 THEN 'Toma física entrada'
			--	WHEN 2 THEN 'Toma física salida'
			--	WHEN 3 THEN 'Movimiento de inventario entrada'
			--	WHEN 4 THEN 'Movimiento de inventario salida'
			--	WHEN 5 THEN 'Bonificación entrada'
			--	WHEN 6 THEN 'Reversion de bonificacion salida'
			--	WHEN 7 THEN 'Reversion merma vida util entrada'
			--	WHEN 8 THEN 'Merma vida util salida'
			--	WHEN 9 THEN 'Reversion merma almacenamiento entrada'
			--	WHEN 10 THEN 'Merma almacenamiento salida'
			--	WHEN 11 THEN 'Reversion merma transporte entrada'
			--	WHEN 12 THEN 'Merma transporte salida'
			--	WHEN 13 THEN 'Reversion producto obsoleto entrada'
			--	WHEN 14 THEN 'Producto obsoleto salida'
			--	WHEN 15 THEN 'Reversion merma calidad entrada'
			--	WHEN 16 THEN 'Merma calidad salida'
			--	WHEN 17 THEN 'Produccion comisariato entrada'
			--	WHEN 18 THEN 'Reversion produccion comisariato salida'
			--	WHEN 19 THEN 'Reversion venta interna al personal entrada'
			--	WHEN 20 THEN 'Venta interna al personal salida'
			--	WHEN 21 THEN 'Reversion limpieza entrada'
			--	WHEN 22 THEN 'Limpieza salida'
			--	WHEN 23 THEN 'Reversion papelería entrada'
			--	WHEN 24 THEN 'Papelería salida'
			--	WHEN 25 THEN 'Reversión viáticos entrada'
			--	WHEN 26 THEN 'Viáticos salida'
			--	WHEN 27 THEN 'Reversion articulos menores entrada'
			--	WHEN 28 THEN 'Articulos Menores salida'
			--	WHEN 29 THEN 'Reversion producto de prueba entrada'
			--	WHEN 30 THEN 'Producto de prueba salida'
			--	WHEN 31 THEN 'Reversion familia gutierrez entrada'
			--	WHEN 32 THEN 'Familia Gutierrez salida'		
			--	END									AS MetodoAccionDetalle
			,CASE AI.TipoAjuste
				WHEN 0 THEN 'Ajuste Salida - '  + AI.Nombre
				WHEN 1 THEN 'Ajuste Entrada - ' + AI.Nombre			
			END										AS MetodoAccionDetalle


			,RSA.Lote								AS Lote
			--,'================'
			--,*
											 
		FROM
			RELArticuloXSolicitudAjuste RSA

			INNER JOIN SolicitudAjusteInventario SAI
			ON RSA.IdSolicitudAjusteInventario = SAI.IdSolicitudAjusteInventario
	
			INNER JOIN ADMAjusteInventario AI
			ON SAI.IdAjusteInventario = AI.idAjusteInventario

			INNER JOIN ADMMaestroArticulo ADMMA
			ON RSA.IdArticulo = ADMMA.idArticulo

			INNER JOIN ADMDestino ADMD
			ON SAI.idDestino = ADMD.idDestino

			INNER JOIN Usuarios U
			ON SAI.IdUsuario = U.IdUsuario

			INNER JOIN ADMUnidadAlistoDefecto UAD
			ON ADMMA.idArticulo = UAD.idArticulo

		WHERE
			RSA.IdArticulo = @PIdArticulo
			AND SAI.Estado = 2 -- Estado = 1 pendiente || Estado = 2 aprobado
			AND CONVERT(DATE, (SAI.FechaAprobado)) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)	
		GROUP BY
			 ADMMA.IdArticulo 
			,ADMMA.idInterno						
			,ADMMA.Nombre
			,ADMMA.Unidad_Medida	
			,UAD.esGTIN13
			,ADMMA.Empaque							
			,AI.idAjusteInventario
			,AI.Nombre
			,AI.TipoAjuste
			,CONVERT(date, (SAI.FechaAprobado))
			,ADMMA.Empaque
			,SAI.IdSolicitudAjusteInventario
			,ADMMA.Granel
			,SAI.idDestino
			,ADMD.Nombre
			,SAI.IdUsuario
			,U.Usuario	
			,U.NOMBRE_PILA
			,U.APELLIDOS_PILA	
			,SAI.Estado
			,RSA.Lote) 
		AS RecepcionAjuste 
		ORDER BY RecepcionAjuste.FechaRegistroTrazabilidad ASC

		
			
	END
	ELSE
	BEGIN --[CON FILTRO POR LOTE]
	PRINT 'Con filtro por lote'
		
		--===============================================================================
		--				 CARGA DE RECEPCIONES (55) Y DESPACHOS (63)
		--===============================================================================
		SELECT * FROM (SELECT	
			CASE T.IdMetodoAccion
				--==================================================
				--  Obtener el número OC de un artículo recibido
				--==================================================
				WHEN 55 THEN --'Recepción' 
					(SELECT TOP 1
						'Recepcion#ERP:' + MOC.idInterno	AS IdOrdenCompraOC						
					FROM 
						Trazabilidad T
		
						INNER JOIN OPEArticulosRecibidosOC AROC
							ON	T.IdArticulo = AROC.idArticulo
							AND T.Lote = AROC.Lote
							AND T.FechaVencimiento = AROC.FechaVencimiento
	
						INNER JOIN OPEINGMaestroOrdenCompra MOC
							ON	 MOC.idMaestroOrdenCompra = AROC.idMaestroOrdenCompra

					WHERE 
						T.Lote = @PLote
						AND
						T.IdArticulo = @PIdArticulo
						AND 
						T.IdMetodoAccion = 55)


				--==================================================
				--  Obtener el número Solicitud de un artículo recibido
				--==================================================
				WHEN 63 THEN --'Alisto'
				(SELECT TOP 1
					 'Alisto#ERP:' + MS.idInternoSAP				
				FROM 
					Trazabilidad T
					INNER JOIN RELSSCCTRA RSSCC 
					ON	T.IdArticulo = RSSCC.idArticulo
					AND	T.Lote = RSSCC.Lote
					AND T.FechaVencimiento = RSSCC.FechaVencimiento

					INNER JOIN OPESALMaestroSolicitud MS
					ON RSSCC.IdMaestroSolicitud = MS.idMaestroSolicitud

				WHERE
					T.Lote = @PLote
					AND
					T.IdArticulo = @PIdArticulo	
					AND				
					T.IdMetodoAccion = 63)-- ALISTOS

			END												AS IdMovimiento	
			,CASE T.IdMetodoAccion
				--==================================================
				--  Obtener el número OC de un artículo recibido
				--==================================================
				WHEN 55 THEN --'Recepción' 
					(SELECT TOP 1
						'Recepcion#ERP:' + MOC.idInterno	AS IdOrdenCompraOC										
					FROM 
						Trazabilidad T
		
						INNER JOIN OPEArticulosRecibidosOC AROC
							ON	T.IdArticulo = AROC.idArticulo
							AND T.Lote = AROC.Lote
							AND T.FechaVencimiento = AROC.FechaVencimiento
	
						INNER JOIN OPEINGMaestroOrdenCompra MOC
							ON	 MOC.idMaestroOrdenCompra = AROC.idMaestroOrdenCompra

					WHERE 
						--T.Lote = '060'
						--AND
						T.IdArticulo = @PIdArticulo
						AND 
						T.IdMetodoAccion = 55)


				--==================================================
				--  Obtener el número Solicitud de un artículo recibido
				--==================================================
				WHEN 63 THEN --'Alisto'
				(
				SELECT TOP 1
					 'Alisto#ERP:' + MS.idInternoSAP					
				FROM 
					Trazabilidad T
					INNER JOIN RELSSCCTRA RSSCC 
					ON	T.IdArticulo = RSSCC.idArticulo
					AND	T.Lote = RSSCC.Lote
					AND T.FechaVencimiento = RSSCC.FechaVencimiento

					INNER JOIN OPESALMaestroSolicitud MS
					ON RSSCC.IdMaestroSolicitud = MS.idMaestroSolicitud

				WHERE
					--T.Lote = '060'
					--AND
					T.IdArticulo = @PIdArticulo	
					AND				
					T.IdMetodoAccion = 63)

			END									AS NumeroMovimiento
			,MA.IdArticulo						AS IdArticulo
			,ISNULL(MA.IdInterno, '')			AS IdInternoSAP
			,ISNULL(MA.Nombre, '')				AS NombreArticulo
			,CONVERT(DECIMAL(18,6), 
			 CASE
				--[Entradas 12]
				WHEN  MA.Granel = 0 AND T.IdEstado = 12  THEN SUM((ISNULL(T.Cantidad, 0) * MA.Contenido))
				WHEN  MA.Granel = 1 AND T.IdEstado = 12 THEN SUM((T.Cantidad/1000))				
				--[Salidas 14]				
				WHEN  MA.Granel = 0 AND T.IdEstado = 14  THEN 0 - SUM((ISNULL(T.Cantidad, 0) * MA.Contenido))
				WHEN  MA.Granel = 1 AND T.IdEstado = 14 THEN  0 - SUM((T.Cantidad/1000))
			 END)								AS Cantidad
			,ISNULL(SUBSTRING(MA.Unidad_Medida, CHARINDEX('-', MA.Unidad_Medida, 0) + 1, LEN(MA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida
			,CASE 
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 55		THEN 'Recepción'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 63		THEN 'Alisto'
			END									AS AjusteInventarioDescripcion
			,'+'								AS EfectoEnInventario
			,CONVERT(DATE, ISNULL(T.FechaRegistro, GETDATE()))					
												AS FechaRegistroTrazabilidad
			,T.IdUbicacion						AS IdUbicacion--IdDestino 
			,MU.Descripcion						AS DescripcionUbicacion --DescripcionDestino
			,T.IdUsuario						AS IdUsuario
			,U.Usuario							AS Usuario
			,U.NOMBRE_PILA 
					 + ' ' + U.APELLIDOS_PILA	
												AS UsuarioNombreCompleto
			,T.IdEstado							AS IdEstado
			,ISNULL(T.IdMetodoAccion, -3)		AS IdMetodoAccion
			,CASE 
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion IS NULL	THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Entrada'
				WHEN T.IdEstado = 14 AND T.IdMetodoAccion = 8		THEN 'Ajuste Inventario Salida'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 55		THEN 'Recepción'
				WHEN T.IdEstado = 12 AND T.IdMetodoAccion = 63		THEN 'Alisto'
			END									AS MetodoAccionDetalle
			,T.Lote								AS Lote	 
		FROM 
			Trazabilidad T
	
			INNER JOIN ADMMaestroArticulo MA
			ON T.IdArticulo = MA.idArticulo

			INNER JOIN Usuarios U
			ON T.IdUsuario = U.IdUsuario

			INNER JOIN ADMMaestroUbicacion MU
			ON T.IdUbicacion = MU.IdUbicacion
	
			INNER JOIN ADMUnidadAlistoDefecto UAD
			ON MA.idArticulo = UAD.idArticulo
	 
		WHERE

				CONVERT(DATE, T.FechaRegistro) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)		 
			AND T.Lote = @PLote
			AND T.IdArticulo = @PIdArticulo 	
			AND T.IdSecuencia IN(
				-1,--Proviene de un Ajuste de Inventario
				-2 --Proviene de una OC
			)	
			AND (
				T.IdMetodoAccion IN (
					55, --Recepción Entrada
					63  --Entrada Zona Tránsito
					)
				--OR
				--T.IdMetodoAccion IS NULL
				)
		GROUP BY 
			 MA.IdArticulo
			,T.Cantidad
			,MA.IdInterno
			,MA.Nombre
			,MA.Granel
			,MA.Unidad_Medida
			,UAD.esGTIN13	
			,MA.Empaque				
			,T.IdEstado
			,T.IdMetodoAccion
			--,T.FechaRegistro
			,CONVERT(DATE, ISNULL(T.FechaRegistro, GETDATE()))
			,T.IdUbicacion
			,MU.Descripcion
			,T.IdUsuario
			,U.Usuario
			,U.NOMBRE_PILA
			,U.APELLIDOS_PILA
			,T.Lote
			
		UNION 
		--===============================================================================
		--				 CARGA DE LOS AJUSTES DE INVENTARIO APLICADOS
		--		   SAI.Estado = 2 -- Estado = 1 pendiente || Estado = 2 aprobado
		--				Actualmente solo toma ajustes de inventario aprobados
		--===============================================================================
		SELECT
			 CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
													AS IdMovimiento													
			,'Ajuste#TID:' + CONVERT(VARCHAR, SAI.IdSolicitudAjusteInventario)
													AS NumeroMovimiento
			,ADMMA.IdArticulo						AS IdArticulo	
			,ADMMA.idInterno						AS IdInternoSAP
			,ADMMA.Nombre							AS NombreArticulo
			,CONVERT(DECIMAL(18,6),
			CASE 
				--[Entradas]
				WHEN ADMMA.Granel = 0 AND AI.TipoAjuste = 1 THEN SUM(RSA.Cantidad * ADMMA.Contenido)						
				WHEN ADMMA.Granel = 1 AND AI.TipoAjuste = 1 THEN SUM(RSA.Cantidad/1000)
				--[Salidas]
				WHEN ADMMA.Granel = 0 AND AI.TipoAjuste = 0 THEN 0 - SUM(RSA.Cantidad * ADMMA.Contenido)						
				WHEN ADMMA.Granel = 1 AND AI.TipoAjuste = 0 THEN 0 - SUM(RSA.Cantidad/1000)
			END)								AS Cantidad
			,ISNULL(SUBSTRING(ADMMA.Unidad_Medida, CHARINDEX('-', ADMMA.Unidad_Medida, 0) + 1, LEN(ADMMA.Unidad_Medida)) , 'N/A')
														AS UnidadMedida
			--,CASE AI.idAjusteInventario
			--	WHEN 1 THEN 'Toma física entrada'
			--	WHEN 2 THEN 'Toma física salida'
			--	WHEN 3 THEN 'Movimiento de inventario entrada'
			--	WHEN 4 THEN 'Movimiento de inventario salida'
			--	WHEN 5 THEN 'Bonificación entrada'
			--	WHEN 6 THEN 'Reversion de bonificacion salida'
			--	WHEN 7 THEN 'Reversion merma vida util entrada'
			--	WHEN 8 THEN 'Merma vida util salida'
			--	WHEN 9 THEN 'Reversion merma almacenamiento entrada'
			--	WHEN 10 THEN 'Merma almacenamiento salida'
			--	WHEN 11 THEN 'Reversion merma transporte entrada'
			--	WHEN 12 THEN 'Merma transporte salida'
			--	WHEN 13 THEN 'Reversion producto obsoleto entrada'
			--	WHEN 14 THEN 'Producto obsoleto salida'
			--	WHEN 15 THEN 'Reversion merma calidad entrada'
			--	WHEN 16 THEN 'Merma calidad salida'
			--	WHEN 17 THEN 'Produccion comisariato entrada'
			--	WHEN 18 THEN 'Reversion produccion comisariato salida'
			--	WHEN 19 THEN 'Reversion venta interna al personal entrada'
			--	WHEN 20 THEN 'Venta interna al personal salida'
			--	WHEN 21 THEN 'Reversion limpieza entrada'
			--	WHEN 22 THEN 'Limpieza salida'
			--	WHEN 23 THEN 'Reversion papelería entrada'
			--	WHEN 24 THEN 'Papelería salida'
			--	WHEN 25 THEN 'Reversión viáticos entrada'
			--	WHEN 26 THEN 'Viáticos salida'
			--	WHEN 27 THEN 'Reversion articulos menores entrada'
			--	WHEN 28 THEN 'Articulos Menores salida'
			--	WHEN 29 THEN 'Reversion producto de prueba entrada'
			--	WHEN 30 THEN 'Producto de prueba salida'
			--	WHEN 31 THEN 'Reversion familia gutierrez entrada'
			--	WHEN 32 THEN 'Familia Gutierrez salida'		
			--	END									AS AjusteInventarioDescripcion
			,CASE AI.TipoAjuste
				WHEN 0 THEN 'Ajuste Salida - '  + AI.Nombre
				WHEN 1 THEN 'Ajuste Entrada - ' + AI.Nombre		
			END										AS AjusteInventarioDescripcion
			,CASE AI.TipoAjuste
				WHEN 0 THEN '-'
				WHEN 1 THEN '+'					
				END									AS EfectoEnInventario
			,CONVERT(date, (SAI.FechaAprobado)) 
													AS FechaFechaRegistroTrazabilidad
			,SAI.idDestino							AS IdUbicacion
			,ADMD.Nombre							AS DescripcionUbicacion --DescripcionDestino
			,SAI.IdUsuario							AS IdUsuario
			,U.Usuario							    AS Usuario
			,U.NOMBRE_PILA + ' ' + U.APELLIDOS_PILA	
													AS UsuarioNombreCompleto
			,CASE AI.TipoAjuste
				WHEN 0 THEN 14
				WHEN 1 THEN 12		
				END									AS IdEstado											
			,8										AS IdMetodoAccion -- 8 equivale a ajuste de inventario
			--,CASE AI.idAjusteInventario
			--	WHEN 1 THEN 'Toma física entrada'
			--	WHEN 2 THEN 'Toma física salida'
			--	WHEN 3 THEN 'Movimiento de inventario entrada'
			--	WHEN 4 THEN 'Movimiento de inventario salida'
			--	WHEN 5 THEN 'Bonificación entrada'
			--	WHEN 6 THEN 'Reversion de bonificacion salida'
			--	WHEN 7 THEN 'Reversion merma vida util entrada'
			--	WHEN 8 THEN 'Merma vida util salida'
			--	WHEN 9 THEN 'Reversion merma almacenamiento entrada'
			--	WHEN 10 THEN 'Merma almacenamiento salida'
			--	WHEN 11 THEN 'Reversion merma transporte entrada'
			--	WHEN 12 THEN 'Merma transporte salida'
			--	WHEN 13 THEN 'Reversion producto obsoleto entrada'
			--	WHEN 14 THEN 'Producto obsoleto salida'
			--	WHEN 15 THEN 'Reversion merma calidad entrada'
			--	WHEN 16 THEN 'Merma calidad salida'
			--	WHEN 17 THEN 'Produccion comisariato entrada'
			--	WHEN 18 THEN 'Reversion produccion comisariato salida'
			--	WHEN 19 THEN 'Reversion venta interna al personal entrada'
			--	WHEN 20 THEN 'Venta interna al personal salida'
			--	WHEN 21 THEN 'Reversion limpieza entrada'
			--	WHEN 22 THEN 'Limpieza salida'
			--	WHEN 23 THEN 'Reversion papelería entrada'
			--	WHEN 24 THEN 'Papelería salida'
			--	WHEN 25 THEN 'Reversión viáticos entrada'
			--	WHEN 26 THEN 'Viáticos salida'
			--	WHEN 27 THEN 'Reversion articulos menores entrada'
			--	WHEN 28 THEN 'Articulos Menores salida'
			--	WHEN 29 THEN 'Reversion producto de prueba entrada'
			--	WHEN 30 THEN 'Producto de prueba salida'
			--	WHEN 31 THEN 'Reversion familia gutierrez entrada'
			--	WHEN 32 THEN 'Familia Gutierrez salida'		
			--END										AS MetodoAccionDetalle
			,CASE AI.TipoAjuste
				WHEN 0 THEN 'Ajuste Salida - '  + AI.Nombre
				WHEN 1 THEN 'Ajuste Entrada - ' + AI.Nombre			
			END										AS MetodoAccionDetalle
			,RSA.Lote								AS Lote
			--,'================'
			--,*
											 
		FROM
			RELArticuloXSolicitudAjuste RSA

			INNER JOIN SolicitudAjusteInventario SAI
			ON RSA.IdSolicitudAjusteInventario = SAI.IdSolicitudAjusteInventario
	
			INNER JOIN ADMAjusteInventario AI
			ON SAI.IdAjusteInventario = AI.idAjusteInventario

			INNER JOIN ADMMaestroArticulo ADMMA
			ON RSA.IdArticulo = ADMMA.idArticulo

			INNER JOIN ADMDestino ADMD
			ON SAI.idDestino = ADMD.idDestino

			INNER JOIN Usuarios U
			ON SAI.IdUsuario = U.IdUsuario

			INNER JOIN ADMUnidadAlistoDefecto UAD
			ON ADMMA.idArticulo = UAD.idArticulo
		WHERE
			RSA.IdArticulo = @PIdArticulo
			AND RSA.Lote = @PLote
			AND SAI.Estado = 2 -- Estado = 1 pendiente || Estado = 2 aprobado
			AND CONVERT(DATE, (SAI.FechaAprobado)) BETWEEN CONVERT(DATE, @PFechaInicio) AND CONVERT(DATE, @PFechaFin)	
		GROUP BY
			 ADMMA.IdArticulo 
			,ADMMA.idInterno						
			,ADMMA.Nombre
			,ADMMA.Unidad_Medida
			,UAD.esGTIN13								
			,AI.idAjusteInventario
			,AI.Nombre
			,AI.TipoAjuste
			,CONVERT(date, (SAI.FechaAprobado))
			,ADMMA.Empaque
			,SAI.IdSolicitudAjusteInventario
			,ADMMA.Granel
			,SAI.idDestino
			,ADMD.Nombre
			,SAI.IdUsuario
			,U.Usuario	
			,U.NOMBRE_PILA
			,U.APELLIDOS_PILA	
			,SAI.Estado
			,RSA.Lote)																											
		AS RecepcionAjuste
		ORDER BY RecepcionAjuste.FechaRegistroTrazabilidad ASC		
	END

	--FECHAS PARA RANGO
	--SELECT FORMAT(GETDATE() , 'MM/dd/yyyy HH:mm:ss')
	--PRINT 'Fecha Inicio: ' + CONVERT(VARCHAR, FORMAT(@PFechaInicio , 'MM/dd/yyyy HH:mm:ss'))	
	--PRINT 'Fecha Fin: ' + CONVERT(VARCHAR, CONVERT(datetime, FORMAT(@PFechaFin, 'MM/dd/yyyy HH:mm:ss')))
	--PRINT 'Fecha small: ' + CONVERT(VARCHAR, CONVERT(smalldatetime, @PFechaFin))
	
END
