/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculaDetalleSolicitudCantidad]    Script Date: 16/4/2018 11:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from OPESALDetalleSolicitud where idLineaDetalleSolicitud = 136296
--select * from OPESALPreDetalleSolicitud where idMaestroSolicitud = 56 and idInternoArticulo =  10030
--select * from ADMMaestroArticulo where idArticulo = 658
--exec SP_CalculaDetalleSolicitudCantidad

ALTER procedure [dbo].[SP_CalculaDetalleSolicitudCantidad]
 AS
 BEGIN

   DECLARE CalculaDetalleSolicitudCantidad CURSOR READ_ONLY FOR
		SELECT IdLineaDetalleSolicitud,
		       idInterno,
			   Cantidad
		  FROM Vista_TareasUsuario_v2 
		  WHERE Alistado = 0 
		        OR (Alistado = 1 AND Suspendido = 1)

											 
	DECLARE @CantidadUnidadAlistoKilos decimal(18,2), 
			@CantidadUnidadAlisto decimal(18,2),
			@CantidadUnidadAlistoPreparar decimal(18,2), 
			@CantidadUnidadAlistoInventario decimal(18,2), 
			@IdArticulo bigint = -1,  
			@EsGTIN13 bit,
			@EsGranel bit,
			@IsFound bit,
			@FV datetime,
			@IdLineaDetalleSolicitud bigint = -1,
			@idInternoArticulo bigint = -1,
			@CantidadKilos decimal(18,2)

	OPEN CalculaDetalleSolicitudCantidad;

	FETCH NEXT FROM CalculaDetalleSolicitudCantidad INTO @IdLineaDetalleSolicitud,
														 @idInternoArticulo,
														 @CantidadKilos
    WHILE @@FETCH_STATUS = 0
	BEGIN
	  SET @CantidadUnidadAlisto = 1.00
      SET @CantidadUnidadAlistoKilos = 1.00
	  SET @IsFound = 0

	  SELECT TOP 1  @IdArticulo = idArticulo,
			  @EsGranel = Granel,
			  @IsFound = 1,
			  @FV = FV
		FROM Vista_DisponibilidadArticulos
		WHERE idInterno = @idInternoArticulo
		GROUP BY  idarticulo,idInterno,Granel,FV
		ORDER BY FV


		IF(@IsFound = 0)
		 BEGIN 
		   SELECT @EsGTIN13 = UAD.esGTIN13,
		       @IdArticulo = MA.idArticulo, 
			   @CantidadUnidadAlistoKilos = MA.Contenido,
			   @EsGranel = Granel
		     FROM ADMUnidadAlistoDefecto UAD 
		       INNER JOIN ADMMaestroArticulo MA ON (MA.idArticulo = UAD.idArticulo)
		     WHERE MA.idInterno = @idInternoArticulo
		 END
		ELSE
		 BEGIN 
		   SELECT @EsGTIN13 = UAD.esGTIN13,
				   @IdArticulo = MA.idArticulo, 
				   @CantidadUnidadAlistoKilos = MA.Contenido,
				   @EsGranel = Granel
			  FROM ADMUnidadAlistoDefecto UAD 
				INNER JOIN ADMMaestroArticulo MA ON (MA.idArticulo = UAD.idArticulo)
			  WHERE MA.idArticulo = @IdArticulo
		 END 

		IF(@IdArticulo>0)
		BEGIN
		  IF (@EsGTIN13 = 0)
		    BEGIN
			  SELECT @CantidadUnidadAlisto = G14D.Cantidad, 
					 @CantidadUnidadAlistoKilos = ROUND(G14D.Contenido,2)
			    FROM ADMGTIN14VariableLogistica G14D
				  INNER JOIN ADMUnidadAlistoDefecto UAD ON (UAD.idGTIN14VariableLogistica = G14D.idGTIN14VariableLogistica)
				  INNER JOIN ADMMaestroArticulo      MA ON (MA.idArticulo =UAD.idArticulo)
				WHERE MA.idInterno = @idInternoArticulo
					  AND MA.idArticulo = @idarticulo
			END

			SET @CantidadUnidadAlistoPreparar= (SELECT CEILING(@CantidadKilos/@CantidadUnidadAlistoKilos) AS total)
			SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

			IF(@EsGranel=1)
			  BEGIN
				SET @CantidadUnidadAlistoPreparar= (@CantidadKilos/@CantidadUnidadAlistoKilos)
				SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

				SET @CantidadUnidadAlistoPreparar= @CantidadUnidadAlistoPreparar * 1000
				SET @CantidadUnidadAlistoInventario =  @CantidadUnidadAlistoInventario * 1000
			  END
			  ELSE
			    SET @CantidadKilos = (@CantidadUnidadAlistoPreparar * @CantidadUnidadAlistoKilos)

			   --print @CantidadUnidadAlistoPreparar
			   --print @CantidadUnidadAlistoInventario
			   --print (@CantidadUnidadAlistoPreparar * @CantidadUnidadAlistoKilos)
			   --print @IdArticulo
			   --print @IdLineaDetalleSolicitud

			  UPDATE OPESALDetalleSolicitud
				SET idArticulo =  @IdArticulo, 
					CantidadUnidadAlisto = @CantidadUnidadAlistoPreparar,
					CantidadInventario = @CantidadUnidadAlistoInventario,
					Cantidad = @CantidadKilos 
				WHERE IdLineaDetalleSolicitud = @IdLineaDetalleSolicitud
		END
	  FETCH NEXT FROM CalculaDetalleSolicitudCantidad INTO @IdLineaDetalleSolicitud,
														   @idInternoArticulo,
														   @CantidadKilos
    END
	CLOSE CalculaDetalleSolicitudCantidad;
	DEALLOCATE CalculaDetalleSolicitudCantidad;
END

