/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  Trigger [dbo].[TRI_DetalleSolicitud]    Script Date: 16/4/2018 11:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







 

ALTER TRIGGER [dbo].[TRI_DetalleSolicitud]
ON [dbo].[OPESALPreDetalleSolicitud]
AFTER INSERT
AS

DECLARE @Nombre varchar(200),
        @idMaestroSolicitud bigint,
		@idDestino bigint,
	    @idInternoArticulo varchar(200),
		@CantidadKilos decimal(18,2),
		@Descripcion varchar(1000) = '*-',
		@IdCompania varchar(10), 
		@IdUsuario int, 
		@numLinea int

SET @Nombre = (SELECT Nombre FROM inserted)
SET @idMaestroSolicitud = (SELECT idMaestroSolicitud FROM inserted)
SET @idDestino = (SELECT idDestino FROM inserted)
SET @idInternoArticulo = (SELECT idInternoArticulo FROM inserted)
SET @CantidadKilos = (SELECT Cantidad FROM inserted)
SET @Descripcion = (SELECT Descripcion FROM inserted)
SET @IdCompania = (SELECT idCompania FROM inserted)
SET @IdUsuario= (SELECT idUsuario FROM inserted)
SET @numLinea = (SELECT numLinea FROM inserted)

       
Declare @CantidadUnidadAlistoKilos decimal(18,2), 
        @CantidadUnidadAlisto decimal(18,2),
		@CantidadUnidadAlistoPreparar decimal(18,2), 
        @CantidadUnidadAlistoInventario decimal(18,2), 
		@IdArticulo bigint = -1,  
		@EsGTIN13 bit,
		@EsGranel bit,
		@IsFound bit

set @CantidadUnidadAlisto = 1.00
set @CantidadUnidadAlistoKilos = 1.00

set @IsFound = 0

	  select  @IdArticulo = idArticulo, 
			  @EsGranel = Granel,
			  @IsFound = 1
		from Vista_DisponibilidadArticulos
		where idInterno = @idInternoArticulo
		group by  idarticulo,idInterno,Granel

		if(@IsFound = 0)
		begin 
			select @EsGTIN13 = UAD.esGTIN13,
		       @IdArticulo=MA.idArticulo, 
			   @CantidadUnidadAlistoKilos = MA.Contenido,
			   @EsGranel = Granel
		  from ADMUnidadAlistoDefecto UAD 
		    inner join ADMMaestroArticulo MA on (MA.idArticulo = UAD.idArticulo)
		  where MA.idInterno = @idInternoArticulo
		end
		else
		begin 
			select @EsGTIN13 = UAD.esGTIN13,
				   @IdArticulo=MA.idArticulo, 
				   @CantidadUnidadAlistoKilos = MA.Contenido,
				   @EsGranel = Granel
			  from ADMUnidadAlistoDefecto UAD 
				inner join ADMMaestroArticulo MA on (MA.idArticulo = UAD.idArticulo)
			  where MA.idArticulo = @IdArticulo
		End 

		

		if(@IdArticulo>0)
			begin
				if(@EsGTIN13=0)
				begin
					select @CantidadUnidadAlisto = G14D.Cantidad, 
					       @CantidadUnidadAlistoKilos = ROUND(G14D.Contenido,2)
					  from ADMGTIN14VariableLogistica G14D
					    inner join ADMUnidadAlistoDefecto UAD on (UAD.idGTIN14VariableLogistica = G14D.idGTIN14VariableLogistica)
					    inner join ADMMaestroArticulo      MA on (MA.idArticulo =UAD.idArticulo)
					  where MA.idInterno = @idInternoArticulo
				end	

				SET @CantidadUnidadAlistoPreparar= (SELECT CEILING(@CantidadKilos/@CantidadUnidadAlistoKilos) AS total)
				SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

				if(@EsGranel=1)
				begin
					SET @CantidadUnidadAlistoPreparar= (@CantidadKilos/@CantidadUnidadAlistoKilos)
					SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

					SET @CantidadUnidadAlistoPreparar= @CantidadUnidadAlistoPreparar * 1000
					SET @CantidadUnidadAlistoInventario =  @CantidadUnidadAlistoInventario * 1000
				end

				INSERT INTO OPESALDetalleSolicitud
						  (Nombre,
						   idMaestroSolicitud,
						   idDestino,
						   idArticulo,
						   Cantidad,
						   Descripcion,		
						   IdCompania,
						   idUsuario,
						   Procesado,
						   numLinea,
						   LineaOriginal,
						   CantidadUnidadAlisto,
						   CantidadInventario) 
						   values(
						   @Nombre,
						   @idMaestroSolicitud,
						   @idDestino,
						   @IdArticulo,
						   @CantidadKilos,
						   @Descripcion + CAST(@EsGranel as nvarchar(1)),
						   @IdCompania,
						   @IdUsuario,
						   0,
						   @NumLinea,
						   1,
						   @CantidadUnidadAlistoPreparar,
						   @CantidadUnidadAlistoInventario
						   )
			end	





