/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.7001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [TEST_TRACEID_V2]
GO
/****** Object:  Trigger [dbo].[TRI_DetalleSolicitudCantidad]    Script Date: 17/4/2018 14:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







ALTER TRIGGER [dbo].[TRI_DetalleSolicitudCantidad]
ON [dbo].[TareasUsuario]
AFTER INSERT
AS

DECLARE @IdLineaDetalleSolicitud bigint,		
	    @idInternoArticulo varchar(200)	,
		@CantidadKilos decimal(18,2)

											  	
SET @IdLineaDetalleSolicitud =(SELECT IdLineaDetalleSolicitud FROM inserted)
SET @idInternoArticulo = (SELECT ma.idInterno FROM OPESALDetalleSolicitud ds
							  inner join ADMMaestroArticulo ma on ma. idArticulo= ds.idArticulo
							where ds.IdLineaDetalleSolicitud = @IdLineaDetalleSolicitud)
SELECT @CantidadKilos = Cantidad FROM OPESALDetalleSolicitud
  where IdLineaDetalleSolicitud = @IdLineaDetalleSolicitud


Declare @CantidadUnidadAlistoKilos decimal(18,2), 
        @CantidadUnidadAlisto decimal(18,2),
		@CantidadUnidadAlistoPreparar decimal(18,2), 
        @CantidadUnidadAlistoInventario decimal(18,2), 
		@IdArticulo bigint = -1,  
		@EsGTIN13 bit,
		@EsGranel bit,
		@IsFound bit,
		@FV datetime

set @CantidadUnidadAlisto = 1.00
set @CantidadUnidadAlistoKilos = 1.00

set @IsFound = 0

	  select top 1  @IdArticulo = idArticulo, 
			  @EsGranel = Granel,
			  @IsFound = 1,
			  @FV = FV
		from Vista_DisponibilidadArticulos
		where idInterno = @idInternoArticulo
		group by  idarticulo,idInterno,Granel,FV
		order by FV


		if(@IsFound = 0)
		begin 
			select @EsGTIN13 = UAD.esGTIN13,
		       @IdArticulo=MA.idArticulo, 
			   @CantidadUnidadAlistoKilos = MA.Contenido,
			   @EsGranel = Granel
		  from ADMUnidadAlistoDefecto UAD 
		    inner join ADMMaestroArticulo MA on (MA.idArticulo = UAD.idArticulo)
		  where MA.idInterno = @idInternoArticulo
		end
		else
		begin 
			select @EsGTIN13 = UAD.esGTIN13,
				   @IdArticulo=MA.idArticulo, 
				   @CantidadUnidadAlistoKilos = MA.Contenido,
				   @EsGranel = Granel
			  from ADMUnidadAlistoDefecto UAD 
				inner join ADMMaestroArticulo MA on (MA.idArticulo = UAD.idArticulo)
			  where MA.idArticulo = @IdArticulo
		End 

		

		if(@IdArticulo>0)
			begin
				if (@EsGTIN13 = 0)
				begin
					select @CantidadUnidadAlisto = G14D.Cantidad, 
					       @CantidadUnidadAlistoKilos = ROUND(G14D.Contenido,2)
					  from ADMGTIN14VariableLogistica G14D
					    inner join ADMUnidadAlistoDefecto UAD on (UAD.idGTIN14VariableLogistica = G14D.idGTIN14VariableLogistica)
					    inner join ADMMaestroArticulo      MA on (MA.idArticulo =UAD.idArticulo)
					  where MA.idInterno = @idInternoArticulo
					        AND MA.idArticulo = @idarticulo
				end	

				SET @CantidadUnidadAlistoPreparar= (SELECT CEILING(@CantidadKilos/@CantidadUnidadAlistoKilos) AS total)
				SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

				if(@EsGranel=1)
				begin
					SET @CantidadUnidadAlistoPreparar= (@CantidadKilos/@CantidadUnidadAlistoKilos)
					SET @CantidadUnidadAlistoInventario = @CantidadUnidadAlistoPreparar * @CantidadUnidadAlisto

					SET @CantidadUnidadAlistoPreparar= @CantidadUnidadAlistoPreparar * 1000
					SET @CantidadUnidadAlistoInventario =  @CantidadUnidadAlistoInventario * 1000
				end
				ELSE
			      SET @CantidadKilos = (@CantidadUnidadAlistoPreparar * @CantidadUnidadAlistoKilos)


				update OPESALDetalleSolicitud
				set idArticulo =  @IdArticulo, 
					CantidadUnidadAlisto = @CantidadUnidadAlistoPreparar,
					CantidadInventario = @CantidadUnidadAlistoInventario,
					Cantidad = @CantidadKilos
				where IdLineaDetalleSolicitud =@IdLineaDetalleSolicitud
			end	



